  h1 {
    font-size: .9rem;
  }

  h2 {
    font-size: .8rem;
  }

  h3 {
    font-size: .7rem;
  }

  h1, h2, h3 {
    font-weight: unset;
    margin: 0 !important;
  }

  label {
    margin: 0;
  }

  legend {
    margin-bottom: 0 !important;
    width: initial !important;
  }

  caption {
    padding: 0;
    height: 0;
  }

  dt {
    font-weight: 500;
  }

  .flex {
    display: flex;
  }

  .flexnowrap {
    flex-wrap: nowrap;
  }

  .standard-block {
    height: var(--vhStandardBlock, 10vh);
  }
  
  .double-standard-block {
    height: var(--vhDoubleStandardBlock, 20vh);
  }
  
  .half-standard-block {
    height: var(--vhHalfStandardBlock, 5vh);
  }
  
  .one-and-half-standard-block {
    height: var(--vhOneAndHalfStandardBlock, 15vh);
  }

 .centred-block {
    display: flex;
    align-items: center;
    width: -moz-available;
    width: -webkit-fill-available;
  }
  
  .bottom-aligned {
    display: flex;
    align-items: flex-end;
  }
  
  .double-centred-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .vertical-centred-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .vertical-evenly-spaced-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .horizontal-evenly-spaced-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .margin-all {
    margin: .5rem !important;
  }
  
  .margin-top {
    margin-top: .5rem !important;
  }
  
  .margin-right {
    margin-right: .5rem !important;
  }
  
  .half-margin-right {
    margin-right: .25rem !important;
  }
  
  .double-margin-right {
    margin-right: 1rem !important;
  }
  
  .margin-bottom {
    margin-bottom: .5rem !important;
  }
  
  .margin-left {
    margin-left: .5rem !important;
  }
  
  .half-margin-left {
    margin-left: .25rem !important;
  }
  
  .padding {
    padding: .5rem;
  }
  
  
  .half-padding {
    padding: .25rem;
  }
  
  .padding-top {
    padding-top: .5rem;
  }
  
  .padding-right {
    padding-right: .5rem;
  }
  
  .padding-bottom {
    padding-bottom: .5rem;
  }
  
  .padding-left {
    padding-left: .5rem;
  }

  .custom-control {
    display: flex;
    align-items: center;
  }
  
  .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgb(98, 127, 134);
  }
  
  .custom-checkbox
    .custom-control-input:disabled:checked
    ~ .custom-control-label::before {
    background-color: rgba(41, 108, 44, 0.3);
    pointer-events: none;
  }
  
  .custom-checkbox input {
    margin: 0 0.5rem 0 0;
  }

  .show {
    display: inline;
  }
  
  .hide {
    display: none;
  }
  
  .hide-important {
    display: none !important;
  }

  .hide-visually {
    visibility: hidden;
  }
  
  .underline-link {
    color: var(--snap-link) !important;
    text-decoration: none;
    border-bottom: solid .05rem !important;
    color: inherit;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.8;
    pointer-events: initial;
  }

  .underline-link:hover {
    color: red !important;
  }
  .underline-link:active {
    color: green !important;
  }
  .underline-link:focus {
    color: blue !important;
    outline: none; /* must put something back! */
  }

  .full-width {
    width: 100%;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .border-top {
    border-bottom: 1px solid var(--snap-border-light);
  }

  .border-right {
    border-right: 1px solid var(--snap-border-light);
  }

  .border-bottom {
    border-bottom: 1px solid var(--snap-border-light);
  }

  .border-left {
    border-left: 1px solid var(--snap-border-light);
  }

  .justify-space-between {
    justify-content: space-between;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .small-text {
    font-size: .8rem !important;
  }

  .smaller-text {
    font-size: .7rem !important;
  }

  .extra-small-text {
    font-size: .6rem !important;
  }

  .large-text {
    font-size: 1.2rem !important;
  }

  .extra-large-text {
    font-size: 1.5rem !important;
  }

  .capitalise {
    text-transform: capitalize;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .line-through {
    text-decoration: line-through;
  }

  .modal-background-relief {
    background-color: var(--snap-species-highlight-background);
  }

  .modal-background-relief-emphasis {
    border: 1px solid var(--snap-success) !important;
  }

  .border-light {
    border: 1px solid var(--snap-success-light) !important;
  }

  .border-medium {
    border: 1px solid var(--snap-border-medium);
  }

  .vertical-block {
    display: flex;
    flex-direction: column;
  }

  .emphasis {
    font-weight: bold;
    letter-spacing: .03rem;
  }
  
  .absolute-bottom {
    position: absolute;
    bottom: .5rem;
  }

  .answer-response {
    margin: 0 0 0 .25rem;
  }

  .col-count-2 {
    column-count: 2;
  }

  .col-count-3 {
    column-count: 3;
  }

  .col-count-4 {
    column-count: 4;
  }

  .col-count-5 {
    column-count: 5;
  }

  .col-count-6 {
    column-count: 6;
  }

  .nowrap {
    white-space: nowrap;
  }
  
  .snap-inactive {
    color: var(--snap-inactive) !important;
    pointer-events: none !important;
  }

  .black-text {
    color: var(--snap-text-black);
  }

  .fit-width {
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
  }

/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */

/* 
  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  } */