* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

/* tags */

body { 
  margin: 0;
  padding: 0;
  /* font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace; */
  /* font-family: 'Roboto',arial,sans-serif; */
  font-family: 'PT Sans', 'Roboto', arial,sans-serif;
  color: var(--snap-text-dark);
}

h1 {
  font-size: 2em;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 1em;
}

li {
  list-style-type: none;
}

progress {
  width: 100%;
  border: 0;
  background: var(--snap-progress-bg);
}

progress::-webkit-progress-bar {
  background-color: var(--snap-progress-bg);
}
progress::-webkit-progress-value {
  background-color: var(--snap-progress-bar);
}
progress::-moz-progress-bar {
  background-color: var(--snap-progress-bar);
}

hr {
  margin-bottom: 0;
}

/* variables */

.no-progress {
  background-color: var(--snap-no-progress-bar);
}

.btn {
  color: var(--snap-text-light);
  padding: .175em .75em;
}

.btn.btn-light {
  color: var(--snap-text-light);
  background-color: var(--snap-lesson);
}

.btn-collection {
  background-color: var(--snap-collection);
}

.btn-lesson {
  background-color: var(--snap-lesson);
}

.dropdown-item {
  padding: 0;
  text-align: center;
}

.collections a.dropdown-item:active, .collections a.dropdown-item.active {
  color: var(--snap-text-light);
  background-color: var(--snap-collection-active);
  padding: .25em 0;
}

.levels a.dropdown-item:active, .levels a.dropdown-item.active {
  color: var(--snap-text-dark);
  background-color: var(--snap-option);
}

.languages a.dropdown-item.active, .js-languages a.dropdown-item:active {
  color: var(--snap-text-dark);
  background-color: var(--snap-option);
}

.btn-option {
  color: var(--snap-text-dark);
  background-color: var(--snap-option);
  border-color: var(--snap-option);
}


/* generic */

.underline-link {
  color: var(--snap-link) !important;
  text-decoration: none;
  border: solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: inherit;
  cursor: pointer;
}

.show {
  display: inline;
}

.hide {
  display: none;
}

.home, .settings {
  cursor: pointer;
  font-size: 1.6em;
  margin: 0 .25em 0 0;
  color: var(--snap-text-dark);
}

.lessons-list .lesson-item {
  display: flex;
  margin: 0 0 2em 0;
}

.lessons-list .lesson-item > div:nth-child(1) {
  
}

.lessons-list .lesson-item > div:nth-child(2) {
  flex: auto;
}

.lessons-list .lesson-item > div > img {
  width: 10em;
  height: 10em;
  margin: 0 1em 0 0;
}

.active-icon {
  color: var(--snap-active);
}

.line {
  height: .25em;
  width: 2em;
  margin: .25em 0;
  background-color: var(--snap-border-dark);
}

.scrollable {
  overflow-y: scroll;
  height: 60vh;
}

.modal-list.scrollable {
  height: 50vh;
}

.scrollable.card {
  text-align: left;
}

.snapdragon-container {
  display: flex;
  flex-direction: column;
  padding: .5em;
  background-color: var(--snap-container-background);
}

.species.card > div, .taxon.card > div, .trait.card > div {
  flex: auto;
}

.list-group-collection {
  flex: auto;
  flex-grow: 1;
}

.scrollable {
  height: 70vh;
}

.card {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: .5em;
  text-align: right;  
  border: 1px solid var(--snap-border-dark);
  border-radius: .1rem;
}

.card.species {
  background-color: var(--snap-species-card-background);
}

.card.taxon {
  background-color: var(--snap-taxon-card-background);
}

.snapdragon-options {
  margin: 0 0 1em 0;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  width: 100vw;
  height: 100vh;
}

.left-grid, .right-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-column: 1;
  grid-auto-flow: column;
  background-color: var(--snap-grid-background);
  grid-template-areas:  "header"
                        "progress"
                        "squares"
                        "footer";
}

.left-grid, .right-grid {
  grid-template-rows: 1fr .3em 10fr 1fr;
}


.left-body , .right-body {
  display: grid;
  grid-auto-flow: row;
}

.header, .footer {
  display: flex;
  align-items: center;
  padding: 0 0 0 1em;
  position: sticky;
  position: -webkit-sticky;
}

.header {
  top: 0;
}

.footer {  
  bottom: 0;
}

.left-body .footer, .right-body .footer {
  display: flex;
}

.left-grid .footer .nav-icons, .right-grid .footer .nav-icons, .right-grid .footer .footer-score {
  flex: auto;
}

.score-footer {
  display: flex;
  width: 100%;
}

.score-footer span:nth-child(1) {
  flex: 1;
}

.score-footer span:nth-child(2) {
  flex: 3;
}

.footer button {
  margin: 0 1em 0 0;
}

.header, .footer {
  background-color: var(--snap-primary);
}

.txt-specimen-species {
  margin: 0 0 0 1em;
}

.answer {
  padding: 1em;
  text-transform: capitalize;
  cursor: pointer;
  height: 8em;
}

.answer button {
  width: 10em;
}

.squares {
  display: grid;
  height: 100%;
  grid-auto-flow: column;                       
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.tiles {
  display: grid;
  height: 50%;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;  
}

.squares img, .tiles img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
}

.square, .tile {
  border-radius: .2em;
  margin: .1em;
  cursor: pointer;
}

.strips {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .5em;
  background-color: var(--snap-strips-background);
  cursor: pointer;
}

.strip {
  flex: auto;
  width: 100%;
  margin: .5em 0;
}

.strips.description .strip div {
  font-size: .9em;
}

.strip div {
    border: solid 1px;
    border-color: var(--snap-border-light);
    padding: .25em .5em;
}

.vernacular-name {
  padding: .5em 0 0 .5em;
  font-size: 0.8em;
}

.vernacular-name p {
  height: .5em;
}

.right, .wrong {
  padding: .1em .5em;
  display: inline-block;
}

.align-left {
  text-align: left;
}

.species-card-container {
  flex-shrink: 2;
}

.species-card-container .card {
  margin: 1em  0;
}

.species-card-wiki a, .species-card-eol-link, .species-card-wikipedia {
  color: var(--snap-link);
}

.taxon-highlight {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .9em;  
}

.species-card-name {
  font-style: italic;
}

.species-common-name {
  font-size: 1.3em;
  text-transform: capitalize;
}

.species-pollinators span {
  font-weight: bold;
  color: rgb(97, 109, 25);
}

.species-card-latin {
  font-size: .8em;
}

.taxon-common-name {
  font-size: 1.3em;
}

.cultivar.card {
  display: flex;
}

.cultivar.card div {
  flex: 1;  
}

.cultivar.card div:nth-child(2) {
  text-align: left;
}

.cultivar.card span {
  flex: 1;  
  text-align: left;
  padding: .15em;
}

.cultivar.card .scrollable {
  height: 30vh;
}

.trait.card .scrollable {
  height: 40vh;
}

.data-box, .id-box {  
  display: flex;
}

.data-box > div:nth-child(1) {  
  flex: auto;
}

.id-box > div:nth-child(1) {
  flex: 4;
}

.data-box > div:nth-child(2), .id-box > div:nth-child(2) {  
  padding: .25em .5em;
  color: var(--snap-text-light);  
  border-radius: .1rem;
  display: flex;
  flex-direction: column;
  font-size: .9em;
}

.data-box > div:nth-child(2) {
  text-align: left;
  letter-spacing: .05em;
  color: var(--snap-text-dark);
  border: .05em solid var(--snap-border-dark);
  background-color: var(--snap-grid-background);
}

.id-box > div:nth-child(2) {  
  text-align: left;
  flex: auto;
  color: var(--snap-text-dark);
  border-left: .25em solid var(--snap-id-border);
}

.taxon-data {
  flex: auto;
  margin: 0;
}

.taxon-members {
  font-style: italic;
}

.family-name {
  text-transform: uppercase;
  font-size: 1.2em;
}

.history div {
  margin: 0 0 1em 0;
}

.capitalise {
  text-transform: capitalize;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

button.btn-light {
  border-color: var(--snap-lesson-border-dark);
}

button.btn-light.focus, button.btn:focus, button.btn-light:focus, .show>.btn-light.dropdown-toggle, .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0;  
}

.btn-placeholder.btn {
  color: var(--snap-text-dark);
}

/* dropdown menus */

.dropdown-menu {
  border: 1px solid var(--snap-border-dark);
}

.selected-collection > div:nth-child(1), .selected-collection > div:nth-child(2), .selected-collection > div:nth-child(3) {
  margin: .5em 0;
}
.species-count span {
  font-size: 1.2em;
}

.selected-collection div:nth-child(2) {
  text-transform: capitalize;
}

.species-count p{
  margin: 1em 0 0 0;
}

.clear-lesson button {
  float: left;
}

.collection span {
  padding: 0 .5em;
  cursor: pointer;
}

.dropdown div {
  white-space: nowrap;
  margin: .25em 0;
}

.collection:hover {
  background-color: var(--snap-primary-hover);
}

/* .collection:active {
  color: var(--snap-text-dark);
  background-color: var(--snap-primary-active);
} */

.collection button {
  color: var(--snap-text-dark);
  background-color: var(--snap-grid-background);
  padding-top: .5em;
  padding-bottom: .5em
}

.single-tile {
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
}                       

 .image-border {
   text-align: center;
   margin: 0 0 2em 0;
   border: .05em solid;
   border-radius: .2em;
   padding: 1em;
 }

 /* letter blocks */

 .blocks {
  flex: auto;
  flex-direction: column;
  padding: 2em;
}

.block {
  display: inline-block;
  cursor: pointer;
  width: fit-content;
  background-color: var(--snap-block-light);
  color: var(--snap-text-dark);
  margin: .2em .1em;
  padding: .1em .4em;
  letter-spacing: .1em;
  border-radius: .2em;  
  border: .05em solid var(--snap-text-dark);
}

.block.given {
  margin: 1em 0;
}

.pool .block.active {
  color: var(--snap-text-light);
  background-color: var(--snap-success);
}

.btn-dark {
  color: var(--snap-text-dark);
  background-color: var(--snap-block-light);
}

.snap-inactive {
  color: var(--snap-inactive);
}

.snap-success {
  color: var(--snap-text-light);
  background-color: var(--snap-success);
}

.snap-alert-fg {
  color: var(--snap-alert);
}

.snap-alert {
  color: var(--snap-text-light);
  background-color: var(--snap-alert);
}

.block.white {
  color: var(--snap-text-dark);
}

.blocks button {
  margin: 2em 0 0 0;
}

.modal-title {
  color: var(--snap-modal-title);
}

.modal-body {
  background-color: var(--snap-modal-background);
}

.modal-body button {
  margin: 1em 0;
  display: block;
}

.modal-text {
  margin: 1em;
  color: var(--snap-text-light);
}

.modal-image, .modal-image img {
  height: 60vh;
}

.delay-slider {
  margin: 1em 0;
}

.action-update, .response-update {
  flex: initial;
  display: flex;
  flex-direction: row;
}

.action-update-container {
  padding: 1em 0 0 0;
}

.action-update button {
  width: 100%;
}

.text-entry {
  padding: 1em 0 0 0;
  position: relative;
  height: 50%;
}

.text-entry input {
  margin: .5em 0;
  padding: 0 .25em;
  width: 100%;
}

.text-entry button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-question {
  margin: 0.25em 0 0 .25em;
}

.text-question .icon {
  font-size: 1.5em;
  margin: 0 .25em 0 0;
}

.species-answer {
  display: none;
}

.species-question, .species-answer, .btn-placeholder {
  text-align: center;
  border: 1px solid var(--snap-border-dark);
}

.species-question.btn, .species-answer.btn, .btn-placeholder.btn {
  color: var(--snap-text-dark);
  background-color: var(--snap-block-light);
}

.species-answer {        
  text-align: center;
  color: var(--snap-text-dark);
  background-color: var(--snap-border-light);
  border-left: 1px solid var(--snap-border-dark);
  border-right: 1px solid var(--snap-border-dark);
  border-bottom: 1px solid var(--snap-border-dark);
}

.species-card-images {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.right-body button, .right-body button, .dropdown-menu.show {
    width: 100%;
}

.modal-dialog {
  margin: 2em auto;
}

.portrait {
  display: initial;
}

.portrait-grid {
  display: grid;
}

.landscape {
  display: none;
}

.list-group {
  padding: 0;
}

.list-group-header {
  padding: .5em;
  color: var(--snap-text-light);
  background-color: var(--snap-list-header);
  border-radius: .20rem .20rem 0 0;
}

.table-header {
  color: var(--snap-text-light);
  background-color: var(--snap-list-header);
  line-height: 1.5;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 1px solid transparent;
}

.table-header th {
  cursor: pointer;
  font-weight: initial;
  padding: .375em 0em;
}

.table-header th:nth-child(2):after, .table-header th:nth-child(3):after, .table-header th:nth-child(4):after, .table-header th:nth-child(5):after, .table-header th:nth-child(6):after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent
}

tbody {
  font-size: .9em;
}

.list-group-headers {
  padding: .5em;
  color: var(--snap-text-light);
  background-color: var(--snap-collection);
  border-radius: .20rem .20rem 0 0;  
  display: flex;
  flex-direction: row;
  text-align: left;
}

.list-group-headers span {
  flex: 1;
}

.list-group-item, .table-row {
  background-color: var(--snap-list-background);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: .20em 0em;
  border-left: .05em solid var(--snap-list-header) !important;
  border-right: .05em solid var(--snap-list-header) !important;
}

.list-group li:nth-child(2n+1) {
  background-color: var(--snap-list-alt-background);
}

.table-row img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  margin: 0 .5em 0 0;
}

.table-header th:nth-child(1) > div {
  width: 3.5em;
  height: 1px;
}

.table-header th:nth-child(1), .table-row td:nth-child(1) {
  flex: 1;  
}

.table-header th:nth-child(2) {
  flex: 4;  
}

.table-row td:nth-child(2) {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.table-header th:nth-child(3), .table-row td:nth-child(3) {  
  flex: 1;
  display: flex;
  align-items: center;
}

.table-header th:nth-child(4), .table-row td:nth-child(4) {
  flex: 1;
  display: flex;
  align-items: center;
}

.trait.card li span:nth-child(1) {
  width: 25%;
  text-align: left;
}

.trait.card li span:nth-child(2) {
  width: 75%;
  text-align: left;
}

.toggle-content, .toggle-content * {
	display: none;
}

.toggle-content.is-visible, .toggle-content.is-visible * {
	display: initial;
}

.radio-buttons-group {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: column;
}

.radio-buttons label {
  color: var(--snap-text-dark);
  background-color: var(--snap-strips-background);
  width: 100%;
}

.radio-buttons .btn {
  text-align: left;
}

.left-grid, .species-card-wiki-entry,
.collection-preview, .collection button, .collections-skills {
    display: none;
}

.badge {
  vertical-align: text-top;
  cursor: pointer;
  padding: .25em .25em .25em .4em;
}

.badge-light {
  color: var(--snap-text-light);
  background-color: var(--snap-collection);
  margin: 0 0 0 .25em;
}

.question-container {
  border: .05em solid var(--snap-question-background);
  padding: 1em;
  border-radius: .2rem;
}

.typewriter-container {  
  padding: 1em 1.5em;
  color: var(--snap-type-colour);
  font-size: 1em;
  border: .05em solid var(--snap-border-dark);
}

.typewriter-container div {
  font-size: 1.2em;
}

.typewriter-container span {
  border-right: .05em solid var(--snap-type-colour);
  animation: caret 1s steps(1) infinite;  
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}