* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

/* tags */

body { 
  margin: 0;
  padding: 0;
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  color: var(--snap-text-dark);
}

h1 {
  font-size: 2em;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 1em;
}

li {
  list-style-type: none;
}

progress {
  width: 100%;
  border: 0;
  background: var(--snap-progress-bg);
}

progress::-webkit-progress-bar {
  background-color: var(--snap-progress-bg);
}
progress::-webkit-progress-value {
  background-color: var(--snap-progress-bar);
}
progress::-moz-progress-bar {
  background-color: var(--snap-progress-bar);
}

/* variables */

.btn {
  color: var(--snap-text-light);
}

.btn.btn-light {
  color: var(--snap-text-light);
  background-color: var(--snap-lesson);
}

.btn-collection {
  background-color: var(--snap-collection);
}

.btn-lesson {
  background-color: var(--snap-lesson);
}

.collections a.dropdown-item.active, .js-collections a.dropdown-item:active {
  background-color: var(--snap-collection);
}

.levels a.dropdown-item.active, .js-levels a.dropdown-item:active {
  color: var(--snap-text-dark);
  background-color: var(--snap-option);
}

.languages a.dropdown-item.active, .js-languages a.dropdown-item:active {
  color: var(--snap-text-dark);
  background-color: var(--snap-option);
}

.btn-option {
  color: var(--snap-text-dark);
  background-color: var(--snap-option);
  border-color: var(--snap-option);
}


/* generic */

.underline-link {
  color: var(--snap-link) !important;
  text-decoration: none;
  border: solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: inherit;
  cursor: pointer;
}

.show {
  display: inline;
}

.hide {
  display: none;
}

.home, .settings {
  cursor: pointer;
  font-size: 1.6em;
  margin: 0 .25em 0 0;
  color: var(--snap-text-dark);
}

.active-icon {
  color: var(--snap-active);
}

.line {
  height: .25em;
  width: 2em;
  margin: .25em 0;
  background-color: var(--snap-border-dark);
}

.scrollable {
  overflow-y: scroll;
  height: 60vh;
}

.scrollable.card {
  text-align: left;
}

.snapdragon-container {
  display: flex;
  flex-direction: column;
  padding: .5em;
  background-color: var(--snap-container-background);
  border: 1px solid var(--snap-primary);
}

.snapdragon-container.species-card .card > div {
  flex: auto;
}

.card {
  flex: auto;
  margin: 0 0 1em 0;
  display: flex;
  flex-direction: column;
  padding: .5em;
  text-align: right;
  background-color: var(--snap-card-background);
  border: 1px solid var(--snap-border-dark);
  border-radius: .1rem;
}

.card.js-card div {
  flex: auto;
}

.snapdragon-options {
  margin: 0 0 1em 0;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  width: 100vw;
  height: 100vh;
}

.left-grid, .right-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-column: 1;
  grid-auto-flow: column;
  background-color: var(--snap-grid-background);
  grid-template-areas:  "header"
                        "progress"
                        "squares"
                        "footer";
}

.right-grid {
  grid-template-rows: 1fr .3em 10fr 1fr;
}

.grid-flow-rows {
  display: grid;
  grid-auto-flow: row;
}

.header, .footer {
  display: flex;
  align-items: center;
  padding: 0 0 0 1em;
  position: sticky;
  position: -webkit-sticky;
}

.header {
  top: 0;
}

.footer {  
  bottom: 0;
}

.left-body .footer, .right-body .footer {
  display: flex;
}

.left-grid .footer .nav-icons, .right-grid .footer .nav-icons, .right-grid .footer .footer-score {
  flex: auto;
}

.score-footer {
  display: flex;
  width: 100%;
}

.score-footer span:nth-child(1) {
  flex: 1;
}

.score-footer span:nth-child(2) {
  flex: 3;
}

.footer button {
  margin: 0 1em 0 0;
}

.header, .footer {
  background-color: var(--snap-primary);
}

.txt-specimen-species {
  margin: 0 0 0 1em;
}

.answer {
  padding: 1em;
  text-transform: capitalize;
  cursor: pointer;
  height: 8em;
}

.answer button {
  width: 10em;
}

.squares {
  display: grid;
  height: 100%;
  grid-auto-flow: column;                       
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.tiles {
  display: grid;
  height: 50%;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;  
}

.squares img, .tiles img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
}

.square, .tile {
  border-radius: .2em;
  margin: .1em;
  cursor: pointer;
}

.strips {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 .5em;
  background-color: var(--snap-strips-background);
  cursor: pointer;
}

.strip {
  flex: auto;
  width: 100%;
  margin: .5em 0;
}

.strips.description .strip div {
  font-size: .9em;
}

.strip div {
    border: solid 1px;
    border-color: var(--snap-border-light);
    padding: .25em .5em;
}

.vernacular-name {
  padding: .5em 0 0 .5em;
  font-size: 0.8em;
}

.vernacular-name p {
  height: .5em;
}

.right, .wrong {
  padding: .1em .5em;
  display: inline-block;
}

.align-left {
  text-align: left;
}

.content {
  display: flex;
}

.species-card-container .content {
  flex: 1 1 auto;
}

.species-card-container .card {
  margin: 1em  0;
}

.species-card-species, .species-card-name {
  font-size: 1.2em;
  position: relative;
}

.species-card-wiki a, .species-card-eol-link, .species-card-wikipedia {
  color: var(--snap-link);
}

.species-family {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1.2em;
}

.species-card-name {
  text-transform: capitalize;
}

.species-card-latin {
  font-size: .8em;
}

.taxon-card-header {
  font-size: 1.1em;
}

.data-box, .id-box {  
  display: flex;
}

.data-box > div:nth-child(1) {  
  flex: auto;
}

.id-box > div:nth-child(1) {
  flex: 4;
}

.data-box > div:nth-child(2), .id-box > div:nth-child(2) {  
  padding: .25em .5em;
  color: var(--snap-text-light);  
  border-radius: .1rem;
  display: flex;
  flex-direction: column;
  font-size: .9em;
}

.data-box > div:nth-child(2) {
  text-align: left;
  background-color: var(--snap-info-background);
  letter-spacing: .05em;
}

.id-box > div:nth-child(2) {  
  text-align: left;
  flex: auto;
  background-color: var(--snap-id-background);
}

.taxon-data {
  flex: auto;
  margin: 0;
}

.taxon-members {
  font-style: italic;
}

.family-name {
  text-transform: uppercase;
  font-size: 1.2em;
}

.history div {
  margin: 0 0 1em 0;
}

.capitalise {
  text-transform: capitalize;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

button.btn-light {
  border-color: var(--snap-lesson-border-dark);
}

button.btn-light.focus, button.btn:focus, button.btn-light:focus, .show>.btn-light.dropdown-toggle, .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0;  
}

.btn-placeholder.btn {
  color: var(--snap-text-dark);
}

/* dropdown menus */

.dropdown-menu {
  border: 1px solid var(--snap-border-dark);
}

.selected-collection, .selected-language, .selected-level, .species-collection {  
  margin: .5em;
  font-size: .9em;
}

.selected-language, .selected-level {
  text-transform: capitalize;
}


.clear-lesson button {
  float: left;
}

.collection span {
  padding: 0 .5em;
  cursor: pointer;
}

.snapdragon-dropdowns .dropdown div {
  white-space: nowrap;
  margin: .25em 0;
}

.collection:hover {
  background-color: var(--snap-primary-hover);
}

.collection:active {
  color: var(--snap-text-dark);
  background-color: var(--snap-primary-active);
}

.collection button {
  color: var(--snap-text-dark);
  background-color: var(--snap-grid-background);
  padding-top: .5em;
  padding-bottom: .5em
}

.single-tile {
  display: flex;
  flex-direction: column;
  margin: 2em 1em;
}                       

 .image-border {
   text-align: center;
   margin: 0 0 2em 0;
   border: .05em solid;
   border-radius: .2em;
   padding: 1em;
 }

 /* letter blocks */

 .blocks {
  flex: auto;
  flex-direction: column;
  padding: 2em;
}

.block {
  display: inline-block;
  cursor: pointer;
  width: auto;
  background-color: var(--snap-block-light);
  color: var(--snap-text-dark);
  margin: .1em;
  padding: .1em .2em;
  letter-spacing: .1em;
  border-radius: .2em;
  font-size: 1.1em;
  border: .05em solid var(--snap-text-dark);
}

.pool .block {
  font-size: 1.4em;
}

.pool .block.active {
  color: var(--snap-text-light);
  background-color: var(--snap-success);
}

.btn-dark {
  color: var(--snap-text-dark);
  background-color: var(--snap-block-light);
}

.snap-inactive {
  color: var(--snap-inactive);
}

.snap-success {
  color: var(--snap-text-light);
  background-color: var(--snap-success);
}

.snap-alert-fg {
  color: var(--snap-alert);
}

.snap-alert {
  color: var(--snap-text-light);
  background-color: var(--snap-alert);
}

.block.white {
  color: var(--snap-text-dark);
}

.blocks button {
  margin: 2em 0 0 0;
}

.modal-title {
  color: var(--snap-modal-title);
}

.modal-body {
  background-color: var(--snap-modal-background);
}

.modal-body button {
  margin: 1em 0;
  display: block;
}

.modal-text {
  margin: 1em;
  color: var(--snap-text-light);
}

.modal-image, .modal-image img {
  height: 60vh;
}

.delay-slider {
  margin: 1em 0;
}

.action-update, .response-update {
  flex: initial;
  display: flex;
  flex-direction: row;
}

.action-update button {
  width: 100%;
}

.text-entry {
  padding: 1em 0 0 0;
  position: relative;
  height: 50%;
}

.text-entry input {
  margin: .5em 0;
  padding: 0 .25em;
  width: 100%;
}

.text-entry button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-question {
  margin: 0.25em 0 0 .25em;
  font-size: .9em;
}

.text-question .icon {
  font-size: 1.5em;
  margin: 0 .25em 0 0;
}

.species-answer {
  display: none;
}

.species-question, .species-answer, .btn-placeholder {
  text-align: center;
  border: 1px solid var(--snap-border-dark);
}

.species-question.btn, .species-answer.btn, .btn-placeholder.btn {
  color: var(--snap-text-dark);
  background-color: var(--snap-block-light);
}

.species-answer {        
  text-align: center;
  color: var(--snap-text-dark);
  background-color: var(--snap-border-light);
  border-left: 1px solid var(--snap-border-dark);
  border-right: 1px solid var(--snap-border-dark);
  border-bottom: 1px solid var(--snap-border-dark);
}

.species-card-images {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  cursor: pointer;
}

.right-body button, .right-body button, .dropdown-menu.show {
    width: 100%;
}

.modal-dialog {
  margin: 2em auto;
}

.portrait {
  display: inline;
}

.landscape {
  display: none;
}

.list-group {
  padding: 0;
  border: 1px solid var(--snap-collection);
}

.list-group-header {
  padding: .5em;
  color: var(--snap-text-light);
  background-color: var(--snap-collection);
  border-radius: .20rem .20rem 0 0;
}

.list-group-item {
  background-color: var(--snap-grid-background);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: .20em .5em;
}

.list-group li:nth-child(2n+1) {
  background-color: var(--snap-list-background);
}

.list-group-item img {
  height: 3em;
  width: 3em;
  object-fit: cover;
  margin: 0 .5em 0 0;
}

.list-continue-btn {
  margin: 1em .5em;
}

.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}

.radio-buttons-group {
  margin: 1em 0 0 0;
  display: flex;
  flex-direction: column;
}

.radio-buttons label {
  color: var(--snap-text-dark);
  background-color: var(--snap-question-radio);
  width: 100%;
}

.radio-buttons .btn {
  text-align: left;
}

.left-grid, .species-card-wiki-entry,
.collection-preview, .collection button, .collections-skills {
    display: none;
}

.badge {
  vertical-align: text-top;
}

.badge-light {
  color: var(--snap-text-light);
  background-color: var(--snap-info-background);
  margin: 0 0 0 .25em;
}

.question-container {
  color: var(--snap-text-light);
  background-color: var(--snap-question-background);
  padding: 1em;
  border-radius: .2rem;
}