@media (min-width: 768px) {

    body {
        font-size: 16px;
    }

    h5 {
        font-size: 1.1rem;
    }

    div.taxon-data {
        margin: 0;
    }

    .scrollable {
        overflow-y: scroll;
        height: 80vh;
    }

    .left-grid, .right-grid {
        grid-template-rows: 1fr .5rem 10fr 1fr;
    }      

    .species-table {
        font-size: .9rem;
    }

    .species-table .table-row input {
        margin: 0 0 .55rem .25rem;
    }

    th .custom-control-label::before, th .custom-control-label::after {
        margin: 0;
    }

    .species.revision.card, .taxon.revision.card, .non-taxon.revision.card {
        margin: 0 0 .5rem 0;
        padding: 0 0 .5rem 0;
        border: .05rem solid var(--snap-species-header-background);
      }

      .modal-content .species.revision.card {
          padding: 0;
      }

      .non-taxon.revision.card > div:nth-child(1) {
          margin: .5rem;
      }

    .taxon-highlight {
        font-size: 1.1rem;  
        padding: 0;
        margin: 0;
    }

    .non-taxon-card .snapdragon-options {
        text-align: right;
    }

    .lesson-filters {
        display: flex; 
        flex-direction: row; 
        align-items: center;
        margin: .5rem 0 0 0;
    }

    .species.card {
        margin: 0;
        padding: 0;
        border: 0;
      }

    .cultivar.card .scrollable {
        height: 50vh;
      }      

    .skills-collections button {
        margin: 1rem 0;
    }

    .id-box > div:nth-child(2) {  
        flex: 6;
    }

    .action-update > div:nth-child(1), .response-update > div:nth-child(1) {
        flex: auto;
    }

    .grid {        
        /* grid-template-columns: 8fr .25rem 12fr; */
        grid-template-columns: 10fr .25rem 10fr;
    }

    .left-grid {
        grid-column: 1;
    }

    .right-grid {
        grid-column: 3;
    }

    .tiles {
        height: 75%;
    }

    .big-squares { 
        height: 100%;
        grid-template-rows: 1fr 1fr;
    }

    .big-squares > div {
        width: 190px;
        height: 260px;
    }

    .squares { 
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .strips {
        padding: 0 .25rem;
    }

    .strip {
        margin: .5rem;
        padding: .8rem 1.1rem;
    }

    .strip:hover div {
        transition-duration: .5s;
    }

    .action-update-container {
        width: initial;
    }

    .horizontal-buttons {
        display: flex;        
    }

    .text-question .icon {
        font-size: 2rem;
        margin: 0 0 0 .25rem;
    }

    .text-question .icon span {
        font-size: 1.4rem;
    }

    .answer-container {
        padding: .5rem;
        margin: 1rem 0;
    }

    .pool {
        margin: 1rem 0;
    }

    .block {
        margin: .4rem .4rem;
    }

    .block.given {
        margin: 1rem 0;
    }

    .answer-container .icon {
        font-size: 2rem;
    }

    .text-question .icon-text {
        font-size: 1.2rem;
    }

    .flex-provider .skills {
        display: block;
    }

    iframe {
        width: 100%;
        border: 0;
    }
    
    #externalPageModal .modal-dialog {
        max-width: 60vw;
    } 
    
    #externalPageModal .modal-content {
        height: 70vh;
    }

    #externalPageModal .modal-body {
        height: 90%;
    }

    #externalPageModal iframe {
        height: 100%;
    }
    
    .modal-dialog {
        max-width: 70vw;
    }

    #menuModal .modal-dialog {
        max-width: 40vw;
    }

    .lesson-plans .table-row th:nth-child(1), .lesson-plans .table-row th:nth-child(4),
    .lesson-plans .table-row td:nth-child(1), .lesson-plans .table-row td:nth-child(4) {
      flex: 1;
      align-self: center;
      display: flex;
    }
    
    .lesson-plans .table-row th:nth-child(2),
    .lesson-plans .table-row td:nth-child(2) {
      flex: 4;
    }

    .lesson-plans .table-row th:nth-child(3), 
    .lesson-plans .table-row td:nth-child(3) {
        flex: 3;    
    } 

    .table-row td:nth-child(3) {
        display: flex;
        flex-direction: column;
        font-size: .8rem;
        justify-content: space-evenly;
        align-items: flex-start;
      }

    .lesson-plans .table-row input {
        height: 1.75rem;
        width: 1.75rem;
        margin: 0 0 0 1rem;
    }

    .lesson-plan-btn {
        padding: 1rem 2rem;
      }

    .flex-provider.skills, .species-card-wiki-entry,
    .collection-preview, .collection button, .collections-skills {
        display: inline-block;
    }


#speciesCardModal .carousel-inner, #taxonCardModal .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #speciesCardModal .carousel-inner .prev > span, #taxonCardModal .carousel-inner .prev > span {
    margin: 0 0 0 .6rem;
  }
  
  #speciesCardModal .carousel-inner .next > span, #taxonCardModal .carousel-inner .next > span {
    margin: 0 .6rem 0 0;
    cursor: pointer;
  }

    .left-grid {
        display: grid;
    }

    .left-body button, .right-body button, .dropdown-menu.show { 
        width: initial;
    }

    .snapdragon-container {
        border: .05rem solid var(--snap-portrait);
        justify-content: space-between;
    }

    .bird-song div {
        float: right;
        min-width: 23.5rem;
        max-width: 28.5rem;
    }

    #speciesCardModal .modal-content .snapdragon-container, #taxonCardModal .modal-content .snapdragon-container {  
        height: 60vh;
    }
    
    .info.carousel.slide .carousel-item div {
        padding: .5rem;
        font-size: 1rem;
    }

    .summary-scores {
        display: flex;
        flex-direction: column;
      }

    .course-description span {
        margin: 0 0 1rem 0;
    }

    .visual-match .imageSlider .carousel-item {
        height: 50vh;
      }

    .question-container, .question-container .underline-link {
        font-size: 1.2rem;
    }

    .mixed-specimens {
        color: var(--snap-text-medium-dark);
        padding: 0 .5rem;
        font-size: 1.2rem;
    }

    .block-container .question {
        margin: 1rem 0;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.07rem;
        color: var(--snap-text-medium-dark);
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }

    .mixed-specimens .question {
        margin: 1rem 0;
        font-size: 2rem; 
    }

    .mixed-specimens .question > span:nth-child(2), .block-container .question > span:nth-child(2) {
        font-size: .8rem;
        vertical-align: super;
        text-transform: initial;
        margin: -.25rem 0 0 0;
    }

    .mixed-specimens > div:nth-child(2) {
        margin: 2rem 0 0 0;
    }
    
    .question-sub-header {
        border-bottom: .05rem solid gray;
        padding: 0 0 .25rem 0;
        text-transform: uppercase;
        font-size: .8rem;
        width: fit-content;
    }

    .images-names-refresh {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0;
    }

    .mixed-specimens .help-txt {
        font-size: 1.1rem;
        letter-spacing: .03rem;
        margin: 1rem;
    }

    .mixed-specimens input[type="text"] {
        width: 75%;
        font-size: 1.5rem;
        padding: .25rem;
    }

    .mixed-specimens button {
        display: inline-block;
        color: var(--snap-text-medium-dark);
        background-color: var(--snap-landscape);
        transition-duration: .5s;
    }

    .margin-left {
        margin: 0 0 0 .5rem;
    }
    
    .mixed-specimens button:hover {
        background-color: var(--snap-text-medium-light);
        color: var(--snap-body-bg);
    }
    
    .mixed-specimens .small-icon {
        font-size: .7rem;
        margin: 0 .25rem 0 0;
    }

    .desaturate {
        opacity: .6;
        filter: grayscale(80%);
    }

    .responsive-text-success span {
        color: var(--snap-text-dark);
    }

    .mixed-specimens li {
        display: flex;
        align-items: baseline;
        letter-spacing: .01rem;
        text-transform: capitalize;
        font-size: 1rem;
        letter-spacing: .03rem;
    }

    .answer-box-success, .answer-box-alert {
        display: flex;
        align-items: center;
    }

    .answer-box-success > span:nth-child(2), 
    .answer-box-alert > span:nth-child(2) {
        color: var(--snap-success);
        font-weight: bold;
        letter-spacing: .05rem;
        margin: 0 0 0 .5rem;
        font-family: serif;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .answer-box-alert > span:nth-child(2) {
        color: var(--snap-alert);
    }

    #speciesCardModal .modal-dialog, #taxonCardModal .modal-dialog {
        min-width: 32rem;
        max-width: 32rem;
    }

    .header-text {
        font-size: 1rem;
    }

    .header > div:nth-child(2) {
        font-size: .8rem;
    }

    .question-container {
        height: 100px;
    }

    .question-header {
        font-size: 1.8rem;
        border: none;
        height: inherit;
        letter-spacing: .03rem;
        text-transform: capitalize;
        padding: .5rem 0;
    }

    .question-header div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1.2;
    }

    .question-header span.binomial {
        font-size: 1rem;
    }

    .iconic-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
    
    .iconic-icon, #speciesCardModal .iconic-icon {
        font-size: 2rem;
        padding: 0.5rem;
      }

    .rights-link > div > div, .rights-attribution > div > div:nth-child(1) {
        font-size: 1.5rem;
    }

    #imageModal .modal-body, #imageComparisonModal .modal-body {
        height: 70vh;
    }
    
    #imageModal .modal-body .imageSlider .carousel-item {
        height: 70vh;
    }      

    .feature-symbiont-list.scrollable {
        max-height: 9rem;
    }
}