@media (min-width: 320px) {
    /* .squares { 
        height: 60%;
    }
     */
    .right {  
        color: var(--snap-text-dark);
        background-color: var(--snap-success);
    }
    
    .wrong {
        color:var(--snap-text-dark);
        background-color: var(--snap-alert);
    }

    .tile span {
        padding: 0 .2rem;
        font-size: 1.8rem;
    }
}
@media (min-width: 375px) {
    body {
        font-size: 18px;
    }
}
@media (min-width: 414px) {
    body {
        font-size: 19px;
    }
    .block {
        font-size: 1.4rem;
    }
    .taxon-highlight {
        font-size: 1rem;  
    }
}

@media (min-height: 640px) {
    
}

/* iPHONE 6,7,8 */

@media (max-width:375px) and (min-height:667px) {
    .strips {
        grid-template-columns: 1fr;
    }
    .strip {
        padding: .75rem;
    }
}

/* iPHONE 6,7,8 PLUS, iPHONE X, GALAXY S9/S9+ */

@media  (max-width:414px) and (min-height:736px),
        (max-width:375px) and (min-height:812px),
        (max-width:360px) and (min-height:740px) {
    .strips {
        grid-template-columns: 1fr;
    }
    .strip {
        font-size: 1.2rem;
        padding: .65rem;
    }
}

@media (min-width: 768px) {

    button {
        width: fit-content;
    }

    .grid {
        grid-template-columns: 10fr .25rem 10fr;
    }

    .left-grid {
        grid-column: 1;
    }

    .right-grid {
        grid-column: 3;
    }

    .left-grid {
        display: grid;
    }    

    .header-text {
        font-size: 1rem;
    }

    .header > div:nth-child(2) {
        font-size: .8rem;
    }

    .modal-iframe  {
        margin: 0;
        padding: 0;
        border: none;
        resize: both;
        overflow-y: scroll;
        width: 1px;
        min-width: 298px;
        max-width: 298px;
        min-height: 10px;
        padding: 10px 0px 10px 10px;
        height: 300px;
    }

    #menuModal .modal-body.settings-modal {
        padding: rem;
    }

    .species-grid-container {
        display: flex;
        align-items: center;
    }

    .species-grid {
        width: 389px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 600px;
        overflow: hidden;
    }

    .species-grid img {
        width: 7.5rem;
        max-width: 7.5rem;
        height: 7.5rem;    
        object-fit: cover;
        cursor: pointer;
    }

    .home-container .snapdragon-tag .inat-widget {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {

    .grid {
        max-height: 840px;
    }

    .lesson-option-headers {
        font-size: 1.4rem;
    }

    .snapdragon-options .btn.btn-secondary {
        height: 2.5rem;
    } 

    .home-container .snapdragon-header {
        font-size: 3.6rem;
        height: 120px;
    }

    .snapdragon-create-guide > div:nth-child(1), .snapdragon-create-guide > div:nth-child(1) > span:nth-child(1) {
        font-size: 2.6rem;
    }
      
    .home-container .snapdragon-tag, .summary-scores {
        /* height: 360px; */
        height: 48vh;
    }

    .species-pending > div:nth-child(1) {
        font-size: 3.6rem;
    }

    .species-pending > div:nth-child(2) {
        height: 240px;
    }

    .species-pending > div:nth-child(4) {
        font-size: 1.6rem;
      }

    .species-grid {
        width: 512px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .home-guide {
        display: flex;
        flex-direction: column;
    }

    .strip {
        font-size: 1.3rem;
        margin: .5rem .25rem;
        padding: 1rem;
    }

    .pool {
        margin: 1rem 0;
    }

    .block {
        margin: .4rem .4rem;
    }

    .block.given {
        margin: 1rem 0;
    }
}

@media (min-width: 1200px) {
    
    .grid {        
      max-width: 1200px;      
      margin: auto;
    }

    .left-grid, .right-grid {
        width: 600px;
    }

    .species-grid {
      width: 600px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

/* @media (min-height: 1024px) {
    .species-grid {
        height: 840px;
    }
} */