@media (min-width: 1200px) {

  body {
    font-size: 16px;
  }

  .grid {        
    grid-template-columns: .5em 10fr .5em 10fr .5em;  
  }

  .left-grid {
      grid-column: 2;
  }

  .right-grid {
      grid-column: 4;
  }

  .list-group-collection .scrollable {
    height: 80vh;
  }

  .table-header th {
    font-size: 1em;
  }
/* 
  .list-group-item img {
    width: 4em;
    height: 4em;
  } */

  .header-text {
    font-size: 1.15em;
  }

  .flex.wiki {
    display: block;
  }

  block {
    margin: .1em;
    padding: .1em .2em;
    letter-spacing: .1em;
    border-radius: .2em;
  }

  iframe {
    width: 960px;
    max-width: 960px;
    border: 0;
    height: 100%;
  }
  
  #externalPageModal .modal-dialog {
    max-width: 1000px;
  }

  #externalPageModal .modal-content {
    height: 600px;
  }

  #externalPageModal .modal-body {
    height: 550px;
  }

  .strips.description .strip div {
    font-size: 1em;
  }
}