@media (min-width: 768px) {

    body {
        font-size: 16px;
    }

    div.taxon-data {
        margin: 0;
    }

    .scrollable {
        overflow-y: scroll;
        height: 80vh;
    }

    .left-grid, .right-grid {
        grid-template-rows: 1fr .5em 10fr 1fr;
    }      

    .species-table {
        font-size: .9em;
    }

    /* .species-table input {
        font-size: 1.5em;
        margin: 0 0 0 .25em;
    } */

    .species-table .table-row input {
        margin: 0 0 .35em .25em;
    }

    .species.revision.card {
        margin: 0 0 1em 0;
      }

    .taxon-highlight {
        font-size: 1.1em;  
        padding: 0;
        margin: 0;
    }

    .snapdragon-options .btn, .snapdragon-options .dropdown-menu.show {
        width: 20em;
    }

    .species.card {
        margin: 0;
      }

    .cultivar.card .scrollable {
        height: 50vh;
      }      

    .skills-collections button {
        margin: 1em 0;
    }

    .id-box > div:nth-child(2) {  
        flex: 6;
    }

    .action-update > div:nth-child(1), .response-update > div:nth-child(1) {
        flex: auto;
    }

    .grid {        
        grid-template-columns: 10fr .25em 10fr;  
    }

    .left-grid {
        grid-column: 1;
    }

    .right-grid {
        grid-column: 3;
    }

    .table-header th {
        font-size: 1em;
    }

    .tiles {
        height: 75%;
    }

    .squares { 
        height: 100%;
        grid-template-rows: 1fr 1fr;
    }

    .strips.description .strip div {
        font-size: 1.1em;
    }

    .strips {
        padding: 0 .5em;
    }

    .strip div {
        padding: .5em;
        font-size: 1.2em;
    }

    .action-update-container {
        width: initial;
    }

    .letterbox-entry {
        flex: auto;
        margin: 1em 0;
        border: .1em solid var(--snap-border-dark);
        border-radius: .20rem;
        display: flex;
        flex-direction: column;
        padding: .5em;
      }

    .letterbox-entry div {
        margin: .5em 0;
        width: 80%;
    }

    .letterbox-entry input {
        width: 75%;
        font-size: 1.5em;
        padding: .25em;
    }

    .letterbox-entry button:disabled {
        color: var(--snap-text-dark);
    }

    .text-question .icon {
        font-size: 2em;
    }

    .text-question .icon span {
        font-size: 1.4em;
    }

    .answer-container {
        padding: .5em;
        margin: 1em 0;
    }

    .block.given {
        margin: 1em 0;
    }

    .answer-container .icon {
        font-size: 2em;
    }

    .text-question .icon-text {
        font-size: 1.2em;
    }

    .block {
        font-size: 1.4em;
    }

    .text-question {
        margin: 1em 0 0 .25em;
    }
    
    .flex-provider .skills {
        display: block;
    }

    iframe {
        width: 100%;
        border: 0;
    }
    
    #externalPageModal .modal-dialog {
        max-width: 60vw;
    } 
    
    #externalPageModal .modal-content {
        height: 70vh;
    }

    #externalPageModal .modal-body {
        height: 90%;
    }

    #externalPageModal iframe {
        height: 100%;
    }
    
    .modal-dialog {
        max-width: 60vw;
    }

    #imageSlider .carousel-item {
        height: 60vh;
    }

    .lesson-plans .table-row input {
        height: 1.75rem;
        width: 1.75rem;
        margin: 0 0 0 1em;
    }

    .lesson-plan-btn {
        padding: 1em 2em;
      }

    .flex-provider.skills, .species-card-wiki-entry,
    .collection-preview, .collection button, .collections-skills {
        display: inline-block;
    }

    .left-grid {
        display: grid;
    }

    .left-body button, .right-body button, .dropdown-menu.show { 
        width: initial;
    }

    .snapdragon-container {
        border: 1px solid var(--snap-primary);
    }    
    .info-box #traitSlider {     
        width: 60%;
    }
    #traitSlider .carousel-item div {
        padding: .5em;
    }
}