/* @media (min-width: 768px) {


    div.taxon-data {
        margin: 0;
    }

    .scrollable {
        overflow-y: scroll;
        height: 80vh;
    }

    

    .species-table {
        font-size: .9rem;
    }

    .species-table .table-row input {
        margin: 0 0 .55rem .25rem;
    }

    th .custom-control-label::before, th .custom-control-label::after {
        margin: 0;
    }

    .species.revision.card, .taxon.revision.card, .non-taxon.revision.card {
        margin: 0 0 .5rem 0;
        padding: 0 0 .5rem 0;
        border: .05rem solid var(--snap-species-header-background);
      }

      .modal-content .species.revision.card {
          padding: 0;
      }

      .non-taxon.revision.card > div:nth-child(1) {
          margin: .5rem;
      }

    .taxon-highlight {
        font-size: 1.1rem;  
        padding: 0;
        margin: 0;
    }

    .non-taxon-card .snapdragon-options {
        text-align: right;
    }

    .lesson-filters {
        display: flex; 
        flex-direction: row; 
        align-items: center;
        margin: .5rem 0 0 0;
    }

    .species.card {
        margin: 0;
        padding: 0;
        border: 0;
      }

    .cultivar.card .scrollable {
        height: 50vh;
      }      

    .skills-collections button {
        margin: 1rem 0;
    }

    .id-box > div:nth-child(2) {  
        flex: 6;
    }

    .action-update > div:nth-child(1), .response-update > div:nth-child(1) {
        flex: auto;
    }

    .tiles {
        height: 75%;
    }

    .big-squares { 
        height: 100%;
        grid-template-rows: 1fr 1fr;
    }

    .big-squares > div {
        width: 190px;
        height: 260px;
    }

    .squares { 
        height: 100%;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .strip:hover div {
        transition-duration: .5s;
    }

    .action-update-container {
        width: initial;
    }

    .horizontal-buttons {
        display: flex;        
    }

    .text-question .icon {
        font-size: 2rem;
        margin: 0 0 0 .25rem;
    }

    .text-question .icon span {
        font-size: 1.4rem;
    }

    .answer-container {
        padding: .5rem;
        margin: 1rem 0;
    }

    .pool {
        margin: 1rem 0;
    }

    .block {
        margin: .4rem .4rem;
    }

    .block.given {
        margin: 1rem 0;
    }

    .answer-container .icon {
        font-size: 2rem;
    }

    .text-question .icon-text {
        font-size: 1.2rem;
    }

    .flex-provider .skills {
        display: block;
    }

    iframe {
        width: 100%;
        border: 0;
    }
    

    .modal-dialog {
        max-width: 70vw;
    }

    #menuModal .modal-dialog {
        max-width: 40vw;
    }



    .flex-provider.skills, .species-card-wiki-entry,
    .collection-preview, .collection button, .collections-skills {
        display: inline-block;
    }


    .left-body button, .right-body button, .dropdown-menu.show { 
        width: initial;
    }

    .snapdragon-container {
        border: .05rem solid var(--snap-portrait);
        justify-content: space-between;
    }


    


    .summary-scores {
        display: flex;
        flex-direction: column;
      }

    .course-description span {
        margin: 0 0 1rem 0;
    }

    .visual-match .imageSlider .carousel-item {
        height: 50vh;
      }

    .question-container, .question-container .underline-link {
        font-size: 1.2rem;
    }

    .test-card {
        color: var(--snap-text-medium-dark);
        padding: 0 .5rem;
        font-size: 1.2rem;
    }

    .block-container .question {
        margin: 1rem 0;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.07rem;
        color: var(--snap-text-medium-dark);
        display: flex;
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }

    .test-card .question {
        margin: 1rem 0;
        font-size: 2rem; 
    }

    .test-card .question > span:nth-child(2), .block-container .question > span:nth-child(2) {
        font-size: .8rem;
        vertical-align: super;
        text-transform: initial;
        margin: -.25rem 0 0 0;
    }

    .test-card > div:nth-child(2) {
        margin: 2rem 0 0 0;
    }

    #createGuide .modal-body .chosen span:nth-child(1) {
        vertical-align: middle;
    }
    
    .question-sub-header {
        border-bottom: .05rem solid gray;
        padding: 0 0 .25rem 0;
        text-transform: uppercase;
        font-size: .8rem;
        width: fit-content;
    }

    .images-names-refresh {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0;
    }


    .margin-left {
        margin: 0 0 0 .5rem;
    }
    
    .test-card button:hover {
        background-color: var(--snap-text-medium-light);
        color: var(--snap-body-bg);
    }
    
    .test-card .small-icon {
        font-size: .7rem;
        margin: 0 .25rem 0 0;
    }


    .responsive-text-success span {
        color: var(--snap-text-dark);
    }

    .answer-box-success, .answer-box-alert {
        display: flex;
        align-items: center;
    }

    .answer-box-success > span:nth-child(2), 
    .answer-box-alert > span:nth-child(2) {
        color: var(--snap-success);
        font-weight: bold;
        letter-spacing: .05rem;
        margin: 0 0 0 .5rem;
        font-family: serif;
        font-weight: bold;
        font-size: 1.3rem;
    }

    .answer-box-alert > span:nth-child(2) {
        color: var(--snap-alert);
    }

    .question-container {
        height: 100px;
    }

    .question-header {
        font-size: 1.8rem;
        border: none;
        height: inherit;
        letter-spacing: .03rem;
        text-transform: capitalize;
        padding: .5rem 0;
    }

    .question-header div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        line-height: 1.2;
    }

    .question-header span.binomial {
        font-size: 1rem;
    }

    .iconic-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
    }
    
    .rights-link > div > div, .rights-attribution > div > div:nth-child(1) {
        font-size: 1.5rem;
    }

    #imageModal .modal-body, #imageComparisonModal .modal-body {
        height: 70vh;
    }
    
    #imageModal .modal-body .imageSlider .carousel-item {
        height: 70vh;
    }      

    .feature-symbiont-list.scrollable {
        max-height: 9rem;
    }
} */