@media (max-width: 768px) {
    .modal-iframe  {
        margin: 0;
        padding: 0;
        border: none;
        resize: both;
        overflow-y: scroll;
        width: 1px;
        min-width: 298px;
        max-width: 298px;
        min-height: 10px;
        padding: 10px 0px 10px 10px;
        height: 300px;
    }
}

@media (min-width: 320px) {
    .squares { 
        height: 60%;
    }
    
    .right {  
        color: var(--snap-text-dark);
        background-color: var(--snap-success);
    }
    
    .wrong {
        color:var(--snap-text-dark);
        background-color: var(--snap-alert);
    }

    .tile span {
        padding: 0 .2rem;
        font-size: 1.8rem;
    }
}
@media (min-width: 375px) {
    body {
        font-size: 18px;
    }
    .strip div {
        font-size: 1.1rem;
    }
}
@media (min-width: 414px) {
    body {
        font-size: 19px;
    }
    .block {
        font-size: 1.2rem;
    }
    .taxon-highlight {
        font-size: 1rem;  
    }
}

@media (min-width: 1024px) {

    .lesson-plans {
        border: 1rem solid var(--snap-container-background);
    }

    .table-header th:nth-child(3), .table-row td:nth-child(3) {
        flex: 3;
        display: flex;
        align-items: center;
    }

    .table-header th:nth-child(4), .table-row td:nth-child(4) {
        flex: 2;
        display: flex;
        align-items: center;
    }

    .table-header th:nth-child(5), .table-row td:nth-child(5),
    .table-header th:nth-child(6), .table-row td:nth-child(6) {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .table-header th:nth-child(4):after,
    .table-header th:nth-child(5):after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255rem;
        vertical-align: middle;
        content: "";
        border-top: .3rem solid;
        border-right: .3rem solid transparent;
        border-bottom: 0;
        border-left: .3rem solid transparent
    }
}