@media (min-width: 320px) {
    .tile span {
        padding: 0 .2rem;
        font-size: 1.8rem;
    }
}
@media (min-width: 375px) {
    body {
        font-size: 18px;
    }
}
@media (min-width: 414px) {
    body {
        font-size: 19px;
    }
    .block {
        font-size: 1.4rem;
    }
    .taxon-highlight {
        font-size: 1rem;  
    }
}

@media (min-height: 640px) {
    .home-container .snapdragon-tag, .home-container .summary-scores {
        font-size: 2rem;
    }
}

/* iPHONE 6,7,8 */

@media (max-width:375px) and (min-height:667px) {
    .strips {
        grid-template-columns: 1fr;
    }
    .strip {
        padding: .75rem;
    }
}

/* iPHONE 6,7,8 PLUS, iPHONE X, GALAXY S9/S9+ */

@media  (max-width:414px) and (min-height:736px),
        (max-width:375px) and (min-height:812px),
        (max-width:360px) and (min-height:740px) {
    .strips {
        grid-template-columns: 1fr;
    }
    .strip {
        font-size: 1.2rem;
        padding: .65rem;
    }
}

@media (min-height:812px) {
    .strip {
        margin: .5rem;
    }
    .extra-small-text {
        font-size: .9rem;
    }
}

@media (max-width: 768px) {
    .landscape {
        display: none !important;
    }
    .portrait-grid {
        display: grid;
    }
}

@media (min-width: 1024px) {
    .narrow-screen {
        display: none !important;
    }
}

@media (max-width: 1024px) {    
    .wide-screen {
      display: none !important;
    }
}

@media (min-width: 768px) {

    .portrait, .portrait-grid {
        display: none !important;
    }

    button {
        width: fit-content;
    }

    .grid {
        grid-template-columns: 10fr .25rem 10fr;
    }

    .left-grid {
        grid-column: 1;
    }

    .right-grid {
        grid-column: 3;
    }

    .left-grid {
        display: grid;
    }    

    .header-text {
        font-size: 1rem;
    }

    .header > div:nth-child(2) {
        font-size: .8rem;
        max-width: initial;
    }

    .species-grid-container {
        display: flex;
        align-items: center;
    }

    .species-grid {
        width: 389px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 600px;
        overflow: hidden;
    }

    .species-grid img {
        width: 7.5rem;
        max-width: 7.5rem;
        height: 7.5rem;    
        object-fit: cover;
        cursor: pointer;
    }

    .home-container .snapdragon-tag, .home-container .summary-scores {
        font-size: 2rem;
    }

    .home-container .snapdragon-tag .inat-widget span:nth-child(1) {
        font-size: 3rem;
    }

    .home-guide .taxa {
        font-size: 2rem;
    }

    .snapdragon-intro, .snapdragon-help {
        font-size: 1.4rem;
    }

    .card-card .test-card-container.scrollable {
        top: 11rem;
    }
}

@media (min-width: 1024px) {

    .grid {
        max-height: 840px;
    }

    .lesson-option-headers {
        font-size: 1.4rem;
    }

    .snapdragon-options .btn.btn-secondary {
        height: 2.5rem;
    } 

    .home-container .snapdragon-header {
        font-size: 3.6rem;
        height: 120px;
    }

    .snapdragon-create-guide {
        height: 6rem;
    }

    .snapdragon-create-guide > div:nth-child(1), .snapdragon-create-guide > div:nth-child(1) > span:nth-child(1) {
        font-size: 2.6rem;
    }
      
    .home-container .snapdragon-tag, .summary-scores {
        margin: -2rem auto 7rem; /* 6 + 1 */
    }

    .species-pending > div:nth-child(1) {
        font-size: 3.6rem;
    }

    .species-pending > div:nth-child(2) {
        height: 240px;
    }

    .species-pending > div:nth-child(4) {
        font-size: 1.6rem;
      }

    .species-grid {
        width: 512px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .home-guide {
        display: flex;
        flex-direction: column;
    }

    .strip {
        margin: .5rem;
        padding: .5rem;
    }

    .pool {
        margin: 1rem 0;
    }

    .block.given {
        margin: 1rem 0;
    }

    .sub-header {
        height: 6rem;
        border-bottom: .03rem solid var(--snap-dd-non-taxa-bg-hover);
    }

    .data-box-container {
        margin: 0 .5rem;
    }

    .data-box-container div.native {
        font-family: serif;
        font-style: italic;
        letter-spacing: .03rem;
        font-size: 1.2rem;
    }

    .id-box-container {
        top: 12rem;
        padding: 0 1rem;
    }

    .carousel-inner .image-load-original > div {
        cursor: pointer;
    }

    .taxon-summary {
        padding: 1rem 2rem;
        margin: 0 1rem;
    }
}

@media (min-width: 1200px) {
    
    .grid {        
      max-width: 1200px;      
      margin: auto;
    }

    .left-grid, .right-grid {
        width: 600px;
    }

    .species-grid {
      width: 600px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}