@media (max-width: 768px) {
    .landscape {
        display: none;
    }
    .portrait-grid {
        display: grid;
    }
}

@media (min-width: 768px) {
    .portrait, .portrait-grid {
        display: none;
    }
}

  