* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Roboto", arial, sans-serif;
  color: var(--snap-text-dark);
  background-color: var(--snap-body-bg);
}

tbody {
  font-size: 0.9rem;
  border-bottom: 0.1rem solid var(--snap-border-dark);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h5 {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 1rem;
}

li {
  list-style-type: none;
}

progress {
  margin: 0 !important;
  width: 100%;
  border: 0;
  background: var(--snap-progress-bg);
}

progress::-webkit-progress-bar {
  background-color: var(--snap-progress-bg);
}
progress::-webkit-progress-value {
  background-color: var(--snap-progress-bar);
}
progress::-moz-progress-bar {
  background-color: var(--snap-progress-bar);
}

hr {
  margin: 0;
}

.snap-padding {
  padding: 0.5rem;
}

.no-progress {
  background-color: var(--snap-no-progress-bar);
}

.btn {
  color: var(--snap-text-light);
  height: 2.5rem;
  letter-spacing: 0.03rem;
}

.snapdragon-options  .btn.btn-secondary {
  height: 2rem;
  letter-spacing: 0.03rem;
}

.btn.btn-light,
.btn.btn-light:focus {
  color: var(--snap-text-light) !important;
  background-color: var(--snap-collection) !important;
}

.btn-collection {
  background-color: var(--snap-portrait);
  color: var(--snap-text-dark);
}

.btn-language {
  background-color: var(--snap-landscape);
  color: var(--snap-text-medium-dark);
}

.btn-lesson {
  background-color: var(--snap-lesson);
}

.btn.btn-non-taxa {
  width: 15rem;
  background-color: var(--snap-non-taxa);
  float: left;
}

.non-taxa-definition {
  padding: 0 0.5rem;
}

.non-taxon.revision.card .id-box,
.non-taxon.revision.card .non-taxa-definition {
  min-height: 5rem;
}

.icon::before,
.icon::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
}

.icon.active::before {
  font-weight: 900;
  content: "\f00c";
  padding: 0 0.5rem 0 0;
  margin: 0 0 0 -1.5rem;
  color: rgb(99, 127, 91);
}

.icon.choice::after {
  font-weight: 900;
  content: "\f2e7";
  padding: 0 0 0 0.25rem;
  color: rgb(99, 127, 91);
}

.icon.edible::after {
  font-weight: 900;
  content: "\f2e7";
  padding: 0 0 0 0.25rem;
  color: var(--snap-inactive);
}

.icon.inedible::after {
  font-weight: 900;
  content: "\f056";
  padding: 0 0 0 0.25rem;
  color: var(--snap-inactive);
}

.icon.toxic::after {
  font-weight: 900;
  content: "\f071";
  padding: 0 0 0 0.25rem;
  color: var(--snap-alert);
}

.icon span {
  font-size: 0.7rem;
  vertical-align: middle;
  margin: 0 0 0 0.25rem;
}

.dropdown-menu {
  margin: 0.15rem 0 0 0;
  padding: 0;
  color: var(--snap-text-dark);
  background-color: rgb(207, 218, 204);
  border: 1px solid var(--snap-border-dark);
  left: inherit !important;
  background-color: white;
}

.non-taxa .dropdown-menu {
  width: 15rem !important;
  background-color: var(--snap-dd-non-taxa-bg-intial);
}

a.dropdown-item.active {
  color: var(--snap-text-medium-dark);
  background-color: rgb(240, 244, 239);
  cursor: default;
}

.languages a.dropdown-item.active {
  background-color: rgba(205, 209, 211, 0.3);
}

.non-taxa a.dropdown-item.active {
  background-color: var(--snap-dd-non-taxa-bg-active);
}

a.dropdown-item {
  color: var(--snap-text-medium-dark);
  padding: 0.5rem 0 0.5rem 2rem;
  border-bottom: 1px solid rgb(236, 244, 252);
  cursor: pointer;
}

.non-taxa a.dropdown-item:hover {
  background-color: var(--snap-dd-non-taxa-bg-hover);
}

.underline-link {
  color: var(--snap-link) !important;
  text-decoration: none;
  border: solid 1px !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  color: inherit;
  cursor: pointer;
  padding: 0 0 0.1rem 0 !important;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.toUpperCase {
  text-transform: uppercase;
}

.show {
  display: inline;
}

.hide {
  display: none;
}

.hide-important {
  display: none !important;
}

.home,
.settings,
.list,
.glossary,
.email,
.email > a {
  cursor: pointer;
  font-size: 1.6rem;
  margin: 0 0.25rem 0 0;
  color: var(--snap-text-dark);
}

.glossary svg {
  vertical-align: middle;
}

.grid-header {
  height: 2.5rem;
  background-color: rgb(153, 172, 149);
  background-color: var(--snap-portrait);
  display: flex;
  align-items: center;
  color: var(--snap-text-dark);
  width: 100%;
  border-radius: 0.25rem 0.25rem 0 0;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.grid-header > div {
  padding: 0 0.5rem;
}

.lessons-list .card {
  height: 60vh;
  text-align: left;
}

.lessons-list .lesson-item {
  display: flex;
  margin: 0.15rem 0 0 0;
  background-color: var(--white);
  padding: 0.5rem;
  font-size: 0.9rem;
  border-bottom: .01rem solid var(--snap-portrait);
}

.lessons-list .lesson-item > div:nth-child(2) {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lessons-list .lesson-item > div > img {
  width: 7.5rem;
  max-width: 7.5rem;
  height: 7.5rem;
  margin: 0 1rem 0 0;
  object-fit: cover;
}

.hover-box {
  border: .05rem solid rgb(48, 94, 37,.8);
  padding: .25rem;
  margin: 0 0 0 -.25rem;
  border-radius: 0.25rem;
}

/* .lesson-item-details div:nth-child(1) span:nth-child(1) {
  border-bottom: .05rem solid var(--gray);
  padding: 0 0 .25rem 0;
} */

.nav-icons .active-icon {
  color: var(--orange);
}

.nav-icons .inactive-icon {
  color: var(--snap-inactive);
  cursor: not-allowed;
}

.line {
  height: 0.25rem;
  width: 2rem;
  margin: 0.25rem 0;
  background-color: var(--snap-border-dark);
}

.scrollable {
  overflow-y: scroll;
  height: 72vh;
}
/* 
.modal-header {
  display: initial;
} */

.modal-list.scrollable {
  height: 50vh;
}

.scrollable.card {
  text-align: left;
}

.snapdragon-container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: white;
  justify-content: space-between;
  background-color: var(--snap-list-alt-background);
}

.taxon.revision.card,
.species.revision.card,
.cultivar.revision.card,
.non-taxon.revision.card {
  justify-content: space-between;
  background-color: rgb(249, 248, 238);
}

.non-taxon.revision.card {
  background-color: rgb(216, 227, 220);
}

.species.revision.card > div:nth-child(1) > div:nth-child(1),
.taxon.revision.card > div:nth-child(1) {
  background-color: var(--snap-species-header-background);
  border-bottom: 0.05rem solid var(--snap-border-dark);
  height: 88px;
}

.species.revision.card {
  margin: 0.5rem 0;
}

.species.revision.card img,
.taxon.revision.card img,
.non-taxon.revision.card img {
  height: 88px;
  width: 88px;
}

.species.revision.card .data-box > div:nth-child(2) {
  text-align: right;
}

.taxon.revision.card .taxon-summary {
  padding: 0 0.5rem 0 0;
}

.taxon.revision.card .data-box {
  margin: 0 0.5rem 0 0;
}

.species.card-small {
  padding: 0.5rem;
}

.card.radio-buttons-container,
.card.block-container,
.card.mixed-specimen-container {
  margin: 0 0 0.5rem 0;
}

.card.block-container div {
  flex: 1;
}

.binomial {
  font-style: italic;
}

.list-group-collection {
  flex: auto;
  flex-grow: 1;
}

.card {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  text-align: right;
  border-radius: 0.1rem;
}

.card > .card-txt-block {
  margin: 0 0.5rem 0 0;
}

.card.species,
.lesson-plans .table-row.species-background:nth-child(n) {
  background-color: var(--snap-species-highlight-background);
}

.card.taxon,
.lesson-plans .table-row.taxon-background:nth-child(n) {
  background-color: var(--snap-taxon-card-background);
}

.snapdragon-options {
  padding: 0 .5rem;
}

.grid {
  display: grid;
  grid-auto-flow: column;
  width: 100vw;
  height: 100vh;
}

.left-grid,
.right-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-column: 1;
  grid-auto-flow: column;
  grid-template-areas:
    "header"
    "progress"
    "squares"
    "footer";
}

.right-grid {
  background-color: var(--snap-grid-background);
}

.left-grid,
.right-grid {
  grid-template-rows: 1fr 0.3rem 12fr 1fr;
}

.left-body,
.right-body {
  display: grid;
  grid-auto-flow: row;
}

.header,
.footer {
  display: flex;
  align-items: center;
  padding: 0 0.55rem;
  position: sticky;
  position: -webkit-sticky;
}

.header {
  top: 0;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  color: var(--snap-text-medium-dark);
}

.header-text {
  font-size: 0.8rem;
}

.header > div:nth-child(2) {
  font-size: 0.6rem;
  max-width: 50%;
}

.footer {
  bottom: 0;
  color: var(--snap-text-medium-dark);
  text-transform: uppercase;
  letter-spacing: 0.07rem;
}

.left-body .footer,
.right-body .footer {
  display: flex;
}

.left-grid .footer .nav-icons,
.right-grid .footer .nav-icons,
.right-grid .footer .footer-score {
  flex: auto;
}

.round-footer,
.score-footer span {
  color: var(--snap-text-medium-dark);
  padding: 0.75rem;
}

.left-grid .header,
.left-grid .footer {
  background-color: var(--snap-portrait);
}

.right-grid .header,
.right-grid .footer {
  background-color: var(--snap-landscape);
}

.right-grid .header,
.right-grid .footer {
  justify-content: space-between;
}

.txt-specimen-species {
  margin: 0 0 0 1rem;
}

.answer {
  padding: 1rem;
  text-transform: capitalize;
  cursor: pointer;
  height: 8rem;
}

.answer button {
  width: 10rem;
}

.big-squares {
  display: grid;
  height: 100%;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.squares {
  display: grid;
  height: 100%;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--snap-species-header-background);
  padding: 0.25rem;
}

.tiles {
  display: grid;
  height: 50%;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.squares.js-tiles > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.squares.js-tiles > div > div {
  width: 260px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.squares img,
.tiles img {
  cursor: pointer;
}

.square,
.tile {
  border-radius: 0.2rem;
  margin: 0.1rem;
  cursor: pointer;
}

.strips {
  flex: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  background-color: var(--snap-strips-background);
  cursor: pointer;
}

.strip {
  flex: auto;
  width: 100%;
  margin: 0.5rem 0;
}

.strips.description .strip div {
  font-size: 1rem;
}

.strip div {
  border: solid 1px;
  border-color: var(--snap-border-light);
  padding: 0.25rem 0.5rem;
}

.vernacular-name {
  padding: 0.5rem 0 0 0.5rem;
  font-size: 0.8rem;
}

.vernacular-name p {
  height: 0.5rem;
}

.right,
.wrong {
  padding: 0.1rem 0.5rem;
  display: inline-block;
}

.align-left {
  text-align: left;
}

.species-card-wiki a,
.species-card-eol-link,
.species-card-wikipedia {
  color: var(--snap-link);
}

.snapdragon.card {
  border: 0;
}

.snapdragon.card.align-left {
  color: var(--snap-text-medium-dark);
  padding: 0.5rem;
}

.snapdragon.card.align-left .feature-label {
  letter-spacing: 0.03rem;
  width: fit-content;
  display: inline-table;
}

.taxon-highlight {
  background-color: var(--snap-taxon-card-background);
  padding: 0.5rem;
  margin: -0.5rem -0.5rem 0 -0.5rem;
  display: flex;
  justify-content: right;
}

.taxon-highlight > div:nth-child(1) {
  flex: 1;
  align-self: center;
}

.taxon-highlight > div:nth-child(2) {
  align-self: center;
}

.taxon-highlight img {
  height: 88px;
  width: 88px;
  margin: 0 0 0 1rem;
  object-fit: cover;
}

.latin-name {
  font-style: italic;
  font-family: serif;
}

.common-name {
  font-style: normal;
  text-transform: capitalize;
}

.species-header {
  display: flex;
  float: right;
}

.species-header img {
  filter: grayscale(80%);
  object-fit: cover;
}

.species-header div {
  flex: 1;
}

.species-header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem 0 0;
}

.species-header > div:nth-child(1) > div:nth-child(3) {
  font-size: 0.9rem;
}

.iconic-icon,
#speciesCardModal .iconic-icon {
  float: left;
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--snap-iconic-icon-header);
}

.species-common-name {
  font-size: 1.3rem;
  text-transform: capitalize;
}

.species-traits span {
  font-weight: bold;
  color: rgb(97, 109, 25);
  text-transform: capitalize;
}

.species-card-latin {
  font-size: 0.8rem;
}

.taxon-common-name {
  font-size: 1.5rem;
}

.cultivar.card {
  display: flex;
}

.cultivar.card div {
  flex: 1;
}

.cultivar.card .title {
  flex: initial;
  text-align: left;
  flex-shrink: initial;
  padding: 0.5rem 0;
}

.cultivar.card span {
  flex: 1;
  text-align: left;
  padding: 0.15rem;
}

.cultivar.card .scrollable {
  height: 40vh;
}

.trait.card .scrollable {
  height: 40vh;
}

.id-box {
  display: flex;
  padding: 1rem 0;
  background-color: var(--snap-taxon-card-background);
}

.id-box > div:nth-child(1) {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5rem 0 0;
  font-size: 0.9m;
}

.id-box > div:nth-child(2) {
  flex: 3 !important;
  padding: 0 0 0 0.5rem;
  text-align: left;
  flex: auto;
  color: var(--snap-text-dark);
  border-left: 0.25rem dotted var(--snap-progress-bar);
}

.data-box-container {
  display: flex;
  width: 100%;
  margin: 1rem 0 0 0;
}

.data-box-container div:nth-child(1) {
  flex: 1;
  text-align: right;
}

.taxon.revision.card .data-box-container div:nth-child(1) {
  text-align: left;
}

.data-box {
  color: var(--snap-text-dark);
  border: 0.05rem solid var(--snap-border-dark);
  text-align: left;
  padding: 0.25rem 0.5rem;
}

.inat-box .data-box {
  color: var(--snap-text-medium-light);
  height: 100%;
  border-left: 0;
}

.inat-box .data-box .underline-link {
  color: var(--snap-inat) !important;
}

.inat-box .data-box > div:nth-child(1) {
  display: grid;
  grid-template-columns: 3fr 3.5rem 1fr;
}

.inat-box .data-box > div:nth-child(1) > div:nth-child(1) {
  padding: 0 0.5rem 0 0;
}

.inat-box .data-box > div > div:nth-child(2) > div {
  text-align: center;
}

.taxon-data > span:nth-child(1) {
  width: 5rem;
  padding: 0 0 0 0.5rem;
  color: rgb(35, 35, 35);
}

.taxon-data > span:nth-child(2) {
  padding: 0 0.5rem;
  min-width: 7.5rem;
  text-transform: capitalize;
}

.taxon-data {
  flex: auto;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.latin {
  font-style: italic;
  font-family: serif;
}

.taxon-members {
  font-style: italic;
}

.family-img {
  filter: grayscale(80%);
}

.family-name {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.history div {
  margin: 0 0 1rem 0;
}

.capitalise {
  text-transform: capitalize;
}

.clickable {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

button.btn-light {
  border-color: var(--snap-lesson-border-dark);
}

button.btn-light.focus,
button.btn:focus,
button.btn-light:focus,
.show > .btn-light.dropdown-toggle,
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.dropdown-toggle::after {
  vertical-align: 0.2rem;
  margin-left: 0.2rem;
}

.btn-placeholder.btn {
  color: var(--snap-text-dark);
}

.course-description {
  margin: 1rem 0;
}

.course-description span {
  margin: 0 0 0.5rem 0;
}

.course-description span:nth-child(1) {
  background-color: lightblue;
  padding: 0.25rem;
}

.course-description .snap-alert {
  width: 50%;
}

.species-count span {
  font-size: 1.2rem;
}

.species-count p {
  margin: 1rem 0 0 0;
}

.clear-lesson button {
  float: left;
}

.collection span {
  padding: 0 0.5rem;
  cursor: pointer;
}

.dropdown div {
  white-space: nowrap;
}

.single-tile {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.image-border {
  text-align: center;
  margin: 0 0 2rem 0;
  border: 0.05rem solid;
  border-radius: 0.2rem;
  padding: 1rem;
}

.blocks {
  flex: auto;
  flex-direction: column;
  padding: 2rem;
}

.block {
  display: inline-block;
  cursor: pointer;
  width: fit-content;
  background-color: var(--snap-block-light);
  color: var(--snap-text-dark);
  margin: 0.2rem;
  padding: 0.1rem 0.4rem;
  letter-spacing: 0.1rem;
  border-radius: 0.2rem;
  border: 0.05rem solid var(--snap-text-dark);
  font-size: 1.2rem;
}

.block.given {
  margin: 0.5rem 0;
}

.pool .block.active {
  color: var(--snap-text-light);
  background-color: rgb(128, 128, 128);
}

.pool .block.correct {
  color: var(--snap-text-light);
  background-color: var(--snap-success);
}

span.correct {
  color: rgb(2, 107, 26);
}

.btn-dark {
  color: var(--snap-text-dark);
  background-color: var(--snap-block-light);
}

.snap-inactive {
  color: var(--snap-inactive);
}

.snap-success,
.btn.btn-light.snap-success {
  color: var(--snap-text-light) !important;
  background-color: var(--snap-success) !important;
  border: 0.05rem solid var(--snap-success);
}

.snap-alert-fg {
  color: var(--snap-alert);
}

.snap-alert,
.btn.btn-light.snap-alert {
  color: var(--snap-text-light) !important;
  background-color: var(--snap-alert) !important;
  border: 0.05rem solid var(--snap-alert);
}

.btn.snap-alert {
  padding: 0.175rem 0.75rem;
}

.block.white {
  color: var(--snap-text-dark);
}

.blocks button {
  margin: 2rem 0 0 0;
}

.modal-title {
  color: var(--snap-text-medium-light);
}

.modal-title span {
  display: block;
}

#menuModal .modal-content {
  color: var(--snap-text-dark);
}

.modal-body button {
  margin: 1rem 0;
  display: block;
}

.modal-text {
  margin: 1rem;
}

.modal-body.glossary-modal {
  padding: 0;
}

.modal-body.glossary-modal .modal-text {
  margin: 0;
}

.modal-body.settings-modal {
  padding: 1rem;
}

#listModal .modal-content {
  background-color: var(--snap-modal-content-background);
}

#listModal .scrollable {
  height: 50vh;
}

#speciesCardModal .modal-dialog {
  max-width: 100vw;
}

#speciesCardModal .modal-content {
  height: 100%;
}

#speciesCardModal .modal-content .snapdragon-container {
  height: 70vh;
  border: 0;
  padding: 0;
}

#speciesCardModal .card {
  margin: 0;
}

.delay-slider {
  margin: 1rem 0;
}

.action-update,
.response-update {
  flex: initial;
  display: flex;
  flex-direction: row;
}

.action-update-container {
  width: 100%;
}

.action-update button {
  width: 100%;
}

.text-entry {
  padding: 0.5rem;
  position: relative;
  height: 55%;
  border: 0.05rem solid var(--snap-portrait);
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-entry input {
  width: 100%;
  padding: 0.5rem;
  border: 0.05rem solid var(--snap-border-dark);
}

.text-entry button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.text-question {
  min-height: 2rem;
  padding: 0 0 0 0.5rem;
}

.text-entry .text-question {
  padding: 0;
}

.text-question .icon {
  font-size: 1.5rem;
  margin: 0;
}

.text-question span:nth-child(2),
.text-question span:nth-child(3) {
  vertical-align: text-bottom;
}

.text-question span:nth-child(2) {
  margin: 0 0 0 0.25rem;
}

.answer-container .icon-container {
  position: relative;
  display: inline-block;
}

.answer-container .icon {
  font-size: 1.5rem;
  position: absolute;
  top: -0.9rem;
}

.species-answer {
  display: none;
}

.species-question,
.species-answer,
.btn-placeholder {
  text-align: center;
  border: 1px solid var(--snap-border-dark);
}

.species-question.btn,
.btn-placeholder.btn {
  color: var(--snap-text-dark);
  background-color: var(--snap-block-light);
}

.species-question.btn.btn:not(:disabled):not(.disabled) {
  cursor: initial;
}

.species-answer {
  text-align: center;
  color: var(--snap-text-dark);
  background-color: var(--snap-border-light);
  border-left: 1px solid var(--snap-border-dark);
  border-right: 1px solid var(--snap-border-dark);
  border-bottom: 1px solid var(--snap-border-dark);
}

.answer-box-success .icon {
  color: var(--snap-success);
}

.answer-box-alert .icon {
  color: var(--snap-alert);
}

.species-card-images,
.non-taxon-card-images {
  width: 100%;
  height: initial;
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
}

.right-body button,
.right-body button,
.dropdown-menu.show {
  width: 100%;
}

.modal-dialog {
  margin: 2rem auto;
}

#badgeListModal .modal-dialog {
  min-width: 320px;
  max-width: 420px;
}

#badgeListModal .modal-body {
  background-color: rgb(142, 160, 119);
}

#badgeListModal .modal-text {
  background-color: rgb(142, 160, 119);
  color: rgb(29, 33, 36);
  margin: 0;
}

.list-group {
  padding: 0;
}

.list-group-header {
  padding: 0.5rem;
  color: var(--snap-text-light);
  background-color: var(--snap-list-header);
  border-radius: 0.2rem 0.2rem 0 0;
}

.scrollable .list-group.list-group-flush {
  height: inherit;
}

.table-header,
.table-footer {
  color: var(--snap-text-dark);
  background-color: rgb(153, 172, 149);
  background-color: var(--snap-portrait);
  line-height: 2.5;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 0;
  height: 2.5rem;
  position: sticky;
  z-index: 10;
  border-radius: 0.25rem 0.25rem 0 0;
  letter-spacing: 0.03rem;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.table-header {
  top: 0;
}

.table-footer {
  top: 300px;
}

.table-header th,
.table-footer td {
  cursor: pointer;
  font-weight: initial;
}

table {
  font-size: 0.9rem;
}

.list-group-headers {
  padding: 0.5rem;
  color: var(--snap-text-light);
  background-color: var(--snap-collection);
  border-radius: 0.2rem 0.2rem 0 0;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.list-group-headers span {
  flex: 1;
}

.list-group-item,
.table-row {
  display: flex;
  flex-direction: row;
  border-left: 0.1em solid var(--snap-border-dark);
  border-right: 0.075rem solid var(--snap-border-dark);
}

tr.table-row:nth-child(2n) {
  background-color: var(--snap-list-background);
}

tr.table-row:nth-child(2n + 1) {
  background-color: var(--snap-list-alt-background);
}

.table-row img,
table input {
  cursor: pointer;
}

.list-group-item {
  padding: 0.2rem 0.5rem;
  border: 0;
}

.list-group li:nth-child(2n + 1) {
  background-color: var(--snap-list-alt-background);
}

.table-row img {
  width: 5rem;
  height: 5rem;
  object-fit: none;
  padding: 0.5rem;
}

.table-row .lp-level {
  padding: 0 0 0 0.5rem;
}

.table-header th:nth-child(2):after,
.table-header th:nth-child(3):after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255rem;
  vertical-align: middle;
  content: "";
  border-top: 0.3rem solid;
  border-right: 0.3rem solid transparent;
  border-bottom: 0;
  border-left: 0.3rem solid transparent;
  cursor: default;
}

.table-header th:nth-child(1) > div,
.table-footer td:nth-child(1) > div {
  width: 5rem;
  height: 1px;
}

.table-header th:nth-child(2) {
  flex: 3;
}

.table-row td:nth-child(2) {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: space-evenly;
}

.table-header th:nth-child(3),
.table-row td:nth-child(3),
.table-header th:nth-child(4),
.table-row td:nth-child(4) {
  flex: 1;
  display: flex;
  align-items: center;
}

.trait.card li span:nth-child(1) {
  width: 25%;
  text-align: left;
}

.trait.card li span:nth-child(2) {
  width: 75%;
  text-align: left;
}

.toggle-content,
.toggle-content * {
  display: none;
}

.toggle-content.is-visible,
.toggle-content.is-visible * {
  display: initial;
}

.radio-buttons-group {
  display: flex;
  flex-direction: column;
}

.radio-buttons label {
  color: var(--snap-text-medium-light);
  background-color: var(--snap-strips-background);
  width: 100%;
}

.btn-group .btn+.btn {
  margin: 0;
}

.btn-group.btn-group-toggle {
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.btn.btn-secondary {
  color: var(--snap-text-dark);
  background-color: var(--white);
  border: 0;
  width: fit-content;
  border: none;
  /* margin: 0 0 .25rem 0 !important; */
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).focus, .btn-secondary:not(:disabled):not(.disabled):focus, 
.show>.btn-secondary.dropdown-toggle 
{
  background-color: white;
  color: var(--snap-text-dark);  
}

.btn.btn-secondary:hover {
  transition: none;
}

.btn.btn-secondary.disabled .collectionName, .btn.btn-secondary.active .guideName {
  border: none;
}

label.btn.btn-secondary {
  display: flex;
  align-items: center;
  /* background-color: var(--snap-list-alt-background); */
}

label.btn.btn-secondary img {      
    margin: 0 .25rem 0 -.25rem;
}

label.btn.btn-secondary .lesson-icon {
  font-size: .8rem;
}

.radio-buttons .btn,
.btn-group.btn-group-toggle .btn {
  text-align: left;
  border-radius: 0.2rem !important;
}

.radio-buttons input,
.btn-group.btn-group-toggle input {
  display: inline-flex;
  margin: 0 0.25rem 0 0;
}

.left-grid,
.species-card-wiki-entry,
.collection-preview,
.collection button,
.collections-skills {
  display: none;
}

.species-table td .portrait input {
  height: 1.15rem;
  width: 1.15rem;
  font-size: 1rem;
}

.species-table .underline-link {
  text-transform: initial;
}

.badge {
  vertical-align: text-top;
  cursor: pointer;
}

.badge-light {
  color: inherit;
  background-color: transparent;
  margin: -0.25rem 0 0 0.25rem;
  padding: 0.4rem 0.4rem 0.3rem 0.4rem;
}

.question-container {
  color: var(--snap-text-medium-light);
  border-radius: 0.2rem;
}

.question-container > span:nth-child(2) {
  margin: 0.5rem 0 0 0;
  display: block;
}

.question-images {
  display: grid;
  height: 8rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.answer-container {
  border: 1px solid var(--snap-border-dark);
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
}

.layer-container {
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.layer {
  height: 100%;
  width: 100%;
  font-size: 8rem;
  color: rgb(101, 132, 37, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.layer > div {
  text-align: center;
}

.mixed-specimen-container .layer {
  font-size: 5rem;
}

#imageModal .modal-body,
#imageComparisonModal .modal-body {
  padding: 0;
}

.feature-label {
  color: var(--snap-green-feature-txt);
}

.lesson-option-headers {
    height: 2.5rem;
    display: flex;
    align-items: center;
    color: var(--snap-text-dark);
    letter-spacing: 0.03rem;
    padding: 0;
    width: fit-content;
    font-size: 1.2rem;
    font-family: "AtlasGrotesk","Open Sans",sans-serif;
}

.faded {
  color: lightgray;
}

.compare-species-link {
  cursor: pointer;
}

#speciesCardModal .compare-species-link {
  pointer-events: none;
  border: none;
  color: var(--snap-text-dark) !important;
}

.imageSlider .carousel-inner {
  display: flex;
  flex-direction: column;
  background-color: rgba(211, 214, 173, 0.4);
}

.imageSlider .carousel-control-next,
.imageSlider .carousel-control-prev {
  top: 40%;
  height: 20%;
  width: 10%;
  background-color: rgba(211, 214, 173, 0.2);
  opacity: 0.5;
}

.carousel-control-next[disabled="disabled"],
.carousel-control-prev[disabled="disabled"] {
  pointer-events: none;
}

.imageSlider .carousel.slide {
  background-color: var(--snap-modal-background);
}

.imageSlider .carousel-item {
  height: 30vh;
  padding: 0 10%;
}

.imageSlider .carousel-item > div {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.imageSlider .carousel-control-next-icon,
.imageSlider .carousel-control-prev-icon {
  width: 1.5rem;
  height: 1.5rem;
}

#imageModal .modal-body,
#imageComparisonModal .modal-body {
  height: 55vh;
}

#imageModal .modal-body .imageSlider .carousel-item {
  height: 55vh;
}

#imageSlider1 {
  flex: 1;
}

#imageSlider2 {
  flex: 1;
}

#imageSlider3 {
  flex: 1;
}

#imageComparisonModal .slideBySliderContainer {
  display: flex;
}

#imageComparisonModal .modal-title {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#imageComparisonModal .modal-title span {
  flex: 1;
  text-align: center;
}

.info-box {
  width: 100%;
}

.info-box .carousel.slide {
  float: right;
  width: 100%;
  background-color: var(--snap-species-header-background);
}

.info.carousel.slide .carousel-item div {
  padding: 0rem;
  text-align: center;
  margin: 0 15%;
  font-size: 0.9rem;
}

.info.carousel.slide .carousel-item div:nth-child(1) {
  background-color: rgba(128, 128, 128, 0.3);
}

.info.carousel.slide .carousel-item div:nth-child(2) {
  background-color: rgba(128, 128, 128, 0.1);
}

.info.carousel-control .carousel-control-next-icon {
  color: black;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#listModal .modal-body {
  padding: 0;
}

.lesson-plans .table-row:nth-child(odd) {
  background-color: var(--snap-grid-background);
}

.lp-context {
  font-style: italic;
  font-weight: normal;
}

.lp-answer {
  font-style: initial;
  font-weight: normal;
}

.lp-level span:nth-child(1) {
  text-transform: uppercase;
  margin: 0 0.5rem 0 0;
}

.lesson-plans .table-row {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(194, 223, 245, 0.2);
}

.lesson-plans .table-row input {
  height: 1.25rem;
  width: 1.25rem;
  margin: 0 0 0 0.5rem;
}

.lesson-plans .table-row th:nth-child(1),
.lesson-plans .table-row th:nth-child(3),
.lesson-plans .table-row th:nth-child(4),
.lesson-plans .table-row td:nth-child(1),
.lesson-plans .table-row td:nth-child(3),
.lesson-plans .table-row td:nth-child(4) {
  flex: 1;
  align-self: center;
  display: flex;
}

.lesson-plans .table-row th:nth-child(2),
.lesson-plans .table-row td:nth-child(2) {
  flex: 4;
}

.table-row .lp-level {
  justify-content: center;
}

.lesson-plans svg {
  margin: 0 0.5rem 0 0;
}

.lesson-plans .table-row:nth-child(1) {
  background-color: rgba(194, 223, 245, 0.5);
}

.lesson-plans .table-row.level1 {
  background-color: rgba(211, 105, 14, 0.1);
}

.lesson-plans .table-row.level2 {
  background-color: rgba(211, 105, 14, 0.2);
}

.lesson-plans .table-row.level3 {
  background-color: rgba(211, 105, 14, 0.3);
}

.lesson-plans .table-row.level4 {
  background-color: rgba(211, 105, 14, 0.4);
}

.lesson-plans .table-row.level5 {
  background-color: rgb(211, 105, 14, 0.5);
}

.lesson-plans .table-row.level6 {
  background-color: rgb(211, 105, 14, 0.6);
}

.lesson-plan {
  min-height: 2rem;
  margin: .5rem;
  color: gray;
}

.lesson-plan .underline-link {
  cursor: initial;
}

.lesson-plan.active {
  color: var(--snap-text-dark);
}

.lesson-plan.active .underline-link {
  cursor: pointer;
}

.lesson-plan-btn {
  padding: 0rem 0.5rem;
}

.bird-song div:nth-child(2) {
  background-color: rgb(142, 160, 119);
}

.bird-song-bg {
  background-color: var(--snap-collection-active);
}

.bird-song-icon {
  color: rgba(0, 0, 0, 1);
}

.bird-song-icon-disabled {
  color: rgba(0, 0, 0, 0.2);
}

iframe#birdsong {
  width: 1px;
  min-width: 260px;
}

.rank {
  font-size: 0.7rem;
  border-radius: 0.24rem;
  display: inline-block;
  vertical-align: text-top;
}

.definition.revision.card {
  height: 60vh;
  border: 0;
  margin: 0 0 1rem 0;
}

.modal-content .definition.revision.card {
  margin: 0;
}

.definition.revision.card div > div {
  margin: 0.5rem 0;
  padding: 0.15rem;
}

.definition.revision.card span:nth-child(1) {
  text-underline-position: under;
  color: var(--snap-success);
  margin: 0 0.25rem 0 0;
}

.visual-match .imageSlider .carousel-item {
  height: 30vh;
}

/* .visual-match .radio-buttons label {
  font-size: 1.2rem; 
} */

.radio-buttons.disabled label {
  background-color: var(--snap-strips-background);
}

.visual-match .description div:empty,
.visual-match .description span:empty {
  display: none;
}

div.hide-empty:empty,
span.hide-empty:empty {
  display: none;
}

.visual-match .description {
  background-color: rgb(200, 197, 172);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.visual-match .description span {
  flex: 1;
  padding: 0.5rem;
}

.names-badge {
  font-size: 0.8rem;
  vertical-align: super;
  cursor: pointer;
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.25rem;
  height: 1.25rem;
}

.custom-control {
  padding: 0;
  display: inline;
  font-size: 1.2rem;
}

.custom-control-input {
  position: relative;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(98, 127, 134);
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before {
  background-color: rgba(41, 108, 44, 0.3);
  pointer-events: none;
}

.custom-checkbox input {
  margin: 0 0.5rem 0 0;
}

.custom-control-label::before {
  background-color: var(--snap-grid-background);
  border: 0.1rem solid var(--snap-border-dark);
}

th .custom-control-label::before {
  border: 0.05rem solid var(--snap-border-light);
}

.summary-header {
  padding: 0 0 0 0.5rem;
  line-height: 2.5;
  display: flex;
  align-items: center;
  height: 2.5rem;
  font-size: 1.2rem;
}

.summary-scores {
  width: 16rem;
  font-size: 1.05rem;
  align-self: left;
  margin: 4.5rem 0 0 0;
}

.summary-scores th {
  transform-origin: bottom left;
  position: absolute;
  margin: 0 0 0 8rem;
  font-weight: normal;
}

th.roundScore {
  transform: translate(2.58rem, -2rem) rotate(-40deg);
}
th.lessonScore {
  transform: translate(6.14rem, -2rem) rotate(-40deg);
}

.summary-scores td {
  border: 1px solid white;
  padding: 0.5rem 1rem;
}

.summary-scores td:nth-child(1) {
  width: 8rem;
}

.summary-scores td:nth-child(2) {
  width: 4rem;
}

.summary-scores td:nth-child(3) {
  width: 4rem;
}

.summary {
  padding: 0;
  justify-content: space-between;
  border: 0;
  display: flex;
  flex-direction: column;
  height: 3rem;
}

.comparison-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.5rem;
}

.species-pending {
  color: var(--snap-link);
  background-color: var(--snap-list-alt-background);
  border: 0.05rem solid var(--snap-border-dark);
  font-size: 1.4rem;
}

.species-pending .icon {
  font-size: 7.5rem;
  color: rgb(90, 147, 252);
  display: flex;
  align-items: center;
}

.species-pending .underline-link {
  font-size: 1.2rem;
}

.species-pending > div:nth-child(1),
.species-pending > div:nth-child(3) {
  padding: 1rem;
}

.species-pending > div:nth-child(4) {
  font-style: italic;
  padding: 1rem;
  font-size: 1.6rem;
}

.species-pending > div:nth-child(1) {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-family: 'SharpGroteskWide', sans-serif;
  color: var(--snap-link);
  letter-spacing: .3rem;
  font-family: sentinel;
}

.species-pending > div:nth-child(2) {
  padding: 0;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

a.collection-disabled {
  color: grey;
  pointer-events: none;
}

.attribution-layer {
  color: var(--snap-text-light);
}

.rights-attribution {
  color: var(--snap-modal-title);
  width: 80%;
  position: absolute;
  bottom: 0.5rem;
  background-color: rgb(218, 225, 201);
  padding: 0.5rem;
}

.rights-link {
  width: 80%;
  position: absolute;
  bottom: 0.5rem;
  background-color: rgb(218, 225, 201, 0.2);
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.rights-link > div > div,
.rights-attribution > div > div:nth-child(1) {
  background-color: var(--snap-green-feature-txt);
  padding: 0.125rem 0.3rem 0 0.3rem;
  border-radius: 0.1rem;
  display: inline-block;
  color: var(--snap-text-light);
  font-size: 1rem;
  cursor: pointer;
}

.rights-attribution > div {
  display: flex;
  align-items: flex-end;
}

.rights-attribution > div > div:nth-child(1) {
  margin: 0 0.5rem 0 0;
}

.rights-attribution > div > div:nth-child(2) {
  flex: 1;
  font-size: 0.9rem;
}

.rights-attribution span {
  font-size: 0.5rem;
  vertical-align: baseline;
  margin: 0 0 0 0.25rem;
}

.fungi-block {
  color: white;
  background-color: var(--snap-kingdom-fungi);
}

.animalia-block {
  color: white;
  background-color: var(--snap-kingdom-animalia);
}

.plantae-block {
  color: white;
  background-color: var(--snap-kingdom-plantae);
}

.greek {
  vertical-align: super;
  font-size: 0.6rem;
}

.iconic-taxa-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.iconic-taxa-categories > div {
  display: flex;
}

.iconic-taxa-categories > div > div:nth-child(1) {
  width: 2rem;
  height: 2rem;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem 0.5rem 0;
  cursor: pointer;
}

.iconic-taxa-categories > div > div:nth-child(2) {
  display: flex;
  align-items: center;
}

.iconic-taxa-selected {
  color: var(--snap-lesson);
}

.dropdown.collections {
  display: flex;
}

.iconic-taxa-control {
  margin: 0 0.5rem 0 0;
  height: 2.5rem;
  background-color: var(--snap-filters-ctrl);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
  cursor: pointer;
  width: fit-content;
}

.iconic-taxa-control span:nth-child(1) {
  margin: 0 0.5rem 0 0;
  letter-spacing: 0.02rem;
}

.range-slider-control {
  display: flex;
  justify-content: space-between;
  width: 38rem;
}

.range-slider-control input {
  width: 15rem;
}

.location-control {
  display: flex;
}

.location-control button:nth-child(1) {
  margin: 1rem .5rem 1rem 0;
}

.iconic-taxa-categories svg {
  width: 16px;
  height: 16px;
  margin: 0.25rem 0 0 0;
}

.mushroom-icon svg {
  width: 16px;
  height: 16px;
  fill: black;
}

.mushroom-icon-header svg {
  width: 32px;
  height: 32px;
  fill: var(--snap-iconic-icon-header);
}

.svg-icon {
  margin: 0.25rem 0 0;
}

.svg-icon-selected {
  fill: var(--snap-success);
}

.carousel-indicators li {
  background-color: black;
  width: 1rem;
  height: 0.25rem;
}

.carousel-indicators .active {
  background-color: var(--snap-success);
}

.question-header {
  display: flex;
  align-items: center;
  height: 88px;
  padding: 0.5rem;
  background-color: var(--snap-species-header-background);
  border-bottom: 0.05rem solid var(--snap-border-dark);
  height: 88px;
  color: var(--snap-text-medium-light);
  justify-content: center;
}

.calender-container {
  width: 160px;
  height: 80px;
}

.calendar-box {
  width: 160px;
  height: 80px;
  margin: 0;
  padding: 0.15rem 0;
}

.calendar-box .row {
  display: grid;
  grid-auto-flow: row;
}

.calendar-box .col {
  display: grid;
  grid-auto-flow: column;
}

.calendar-box .col div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
}

.most-observations {
  color: var(--snap-success);
}

.current-month {
  border: 0.05rem solid rgb(215, 215, 215);
}

#iconicTaxaFilters .modal-content {
  width: 60vw;
}

.feature-types {
  margin: auto 0;
}

.feature-types {
  border-bottom: 1px solid var(--snap-question-radio);
  padding: 0 0 0.5rem 0;
}

.feature-symbiont-list.scrollable {
  max-height: 6rem;
  min-height: 5rem;
  width: 100%;
  margin: 0 0 0 0.05rem;
}

.feature-symbiont-list table {
  width: 100%;
  border-collapse: inherit;
}

.feature-symbiont-list thead > tr:nth-child(1) {
  background-color: rgb(201, 222, 241);
  line-height: 1.5rem;
}

.feature-symbiont-list th,
.feature-symbiont-list td {
  text-align: left;
  font-weight: normal;
  border: 0;
  padding: 0 0 0 0.5rem;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.feature-symbiont-list th {
  text-transform: uppercase;
}

.feature-symbiont-list .underline-link {
  text-transform: initial;
}

.delete-guide-link > span.active {
  color: var(--snap-alert) !important; 
  pointer-events: initial;
}

.delete-guide-link > span.disabled {
  color: var(--secondary) !important;
  pointer-events: none;
}