@media (min-width: 1200px) {

  body {
    font-size: 16px;
  }

  .flex.wiki {
    display: block;
  }

  block {
    margin: .1em;
    padding: .1em .2em;
    letter-spacing: .1em;
    border-radius: .2em;
  }

  iframe {
    width: 960px;
    max-width: 960px;
    border: 0;
    height: 100%;
  }
  
  #externalPageModal .modal-dialog {
    max-width: 1000px;
  }

  #externalPageModal .modal-content {
    height: 600px;
  }

  #externalPageModal .modal-body {
    height: 550px;
  }

  .strips.description .strip div {
    font-size: 1em;
  }
}