.species-table {
  border-right: 1px solid var(--snap-green-4);
  border-left: 1px solid var(--snap-green-4);
  border-bottom: 1px solid var(--snap-green-4);
}

.table-header {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 0;
  height: var(--vhRunningBlock,7.5vh);
  z-index: 10;
  align-items: center;
  top: 0;
  background-color: var(--snap-border-3);
  color: var(--snap-text-4);
  font-size: 1.1em;
  letter-spacing: .01rem;
}

.table-header th {
  cursor: pointer;
  font-weight: initial;
}

.table-row {
    display: flex;
    flex-direction: row;
    height: var(--vhRow, 12.5vh);
    font-size: .9em;
  }
  
  .table-row-chevron {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  tr.master:nth-child(2n + 1) {
    background-color: var(--snap-background-1);
  }
 
  .table-row img, table input {
    cursor: pointer;
  }

  .table-row td button svg {
    min-width: 2.5rem;
  }
  
  .table-row img {
    width: 64px;
    height: 64px;
    object-fit: none;
    padding: .5rem;
  }

  .table-row img:hover {
    opacity: .8;
  }
  
  .table-row img:focus {
    border: 1px solid black;
  }
  
  .table-row .lp-level {
    padding: 0 0 0 0.5rem;
  }

  .inserted-td {
    font-size: .9rem;
    white-space: normal;
    text-align: left;
    padding: .5rem;
  }

  th {
    text-align: initial;
  }


  .table-header th:nth-child(1) {
    min-width: 80px;
  }

  .species-list .table-header th:nth-child(2):after,
  .species-list .table-header th:nth-child(3):after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255rem;
    vertical-align: middle;
    content: "";
    border-top: 0.3rem solid;
    border-right: 0.3rem solid transparent;
    border-bottom: 0;
    border-left: 0.3rem solid transparent;
    cursor: default;
  }
  
  .table-header th:nth-child(1) > span,
  .table-footer td:nth-child(1) > span {
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .table-header th:nth-child(2) {
    flex: 3;
    align-items: flex-start;
  }
  
  .master.table-row td:nth-child(1) {
    width: 80px;
    display: flex;
    align-items: center;
  }

  .species-description > td:nth-child(1) {
    width: 100%;
  }

  .table-row td:nth-child(2) {
    flex: 3;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }

  .table-header th:nth-child(3), .table-row td:nth-child(3), .table-header th:nth-child(4), .table-row td:nth-child(4) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .table-header th:nth-child(5), .table-row td:nth-child(5) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .table-header th:nth-child(6), .table-row td:nth-child(6) {
      flex: 1;
      display: flex;
      align-items: center;
  }

  .table-header th:nth-child(5), .table-row td:nth-child(5) button {
    position: absolute;
    right: 2.5rem;
  }

  .table-header th:nth-child(6), .table-row td:nth-child(6) button {
    position: absolute;
    right: .5rem;
  }

  .hide-column {
    flex: 0 !important;
    display: none !important;
  }

 .species-table .mushroom-icon svg {
  width: 1rem;
  height: 1rem;
  margin-top: .3rem;
 }

div.species-description {
  background-color: var(--snap-yellow-1);
  border-top: .5px solid var(--snap-youtube-green);
  border-bottom: .5px solid var(--snap-youtube-green);
  padding: 1rem;
  color: rgba(0, 0, 0, .85);
  height: initial;
}

.species-description > td {
  width: 100%;
}

.youtube-icon, .accordion-icon, .chevron-icon {
  font-size: 1.8rem;
  cursor: pointer;
}

table .youtube-icon, .accordion-icon, table .chevron-icon {
  font-size: 1.2rem;
}

.species-container {
  position: relative;
  width: 100%;
}

.lesson-list-action-icons {
  margin: 0;
  right: 1rem;
  bottom: 1.5rem;
}
 
.species-table .underline-link {
    text-transform: initial;
    display: initial;
}  

.btn-current-lesson-begin {
  width: calc(var(--vwGrid) - 1rem);
  margin: .5rem;
}