$unit: .5rem;

.flashcards-lesson {

  body {
    width: calc(160 * #{$unit});
    margin: calc(5 * #{$unit}) auto;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid lightgray;
    padding: calc(2 * #{$unit});
  }

  #card {
    position: relative;
    height: calc(25 * #{$unit});
    @media (hover: none) and (min-height: 569px) {
      height: calc(30 * #{$unit});
    }
    section {
      position: absolute;
      top: $unit;
      left: $unit;
      right: $unit;
      border: 1px solid lightgray;
      height: calc(20 * #{$unit});
      @media (hover: none) and (min-height: 569px) {
        height: calc(25 * #{$unit});
      }
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc(3 * #{$unit});
      white-space: pre-line;
      padding: 0 calc(2 * #{$unit});
      font-size: 1rem;
      @media (hover: none) { 
        padding: calc(2 * #{$unit});
      }
      @media (max-height: 568px) {  
        font-size: .8rem;
      }      
      cursor: pointer;
      transform-style: preserve-3d;
      transition: transform .5s;   
      background-color: var(--snap-background-1);
      color: var(--snap-text-4);
    }
    // @media (hover: hover){
    //   .rotate {      
    //       transform: rotateX(-180deg);
    //       background-color: var(--snap-blue-1);      
    //   }
    //   .back {      
    //     backface-visibility: hidden;
    //     transform: rotateX(-180deg);
    //   }  
    //   .front {
    //     backface-visibility: hidden;      
    //   }
    // }
  }

  button, input, select {
    padding: $unit;  
  }

  .flashcard-options button {
    text-align: center;
  }

  input {
    min-width: calc(80 * #{$unit});
  }

  button {
    cursor: pointer;
    @media (min-width: 768px) {
      min-width: calc(20 * #{$unit});
    }
  }

  .activeCardButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5em;
    padding: 0 .5rem;
  }

  form {
    div {
      margin: calc(2 * #{$unit});
    }
    label {
      min-width: calc(15 * 0.5rem);
      text-align: right;
      display: inline-block;
    }
  }

}