{
  "presets": [
    "es2015",    
    ["env", {
      "modules": false,
      "browsers": ["last 2 versions"]
    }]
  ],
  "sourceMaps": "inline",
  "plugins": [
    "transform-object-rest-spread",
    ["transform-regenerator", {
      "asyncGenerators": true,
      "generators": true,
      "async": true
    }]
  ]
}