
{
  "presets": ["@babel/preset-env"],
  "sourceMaps": "inline",
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-react-jsx-source",
    "@babel/plugin-transform-react-jsx-self",
    "@babel/plugin-proposal-json-strings",
    ["transform-regenerator", {
      "asyncGenerators": true,
      "generators": true,
      "async": true
    }]
  ]
}