@media print {
  a[href^="http"]:after {
    content: " (" attr(href) ")";
    font-size: 80%; 
  }
  @page {
    margin: 20mm;
  }
  .pagebreak { 
      break-after: page;
  }
  .about-grid {
    grid-template-columns: 1fr 1fr;
    grid-template:  "main main"
                    "programming programming"
                    "design design"
                    "left right";
  }
  @include hide-circles();
  .legacy {
    display: none;
  }
  .smaller {
    font-size: 1rem !important;
  }
  .pitch, .history, .education {
    background-color: $white;
    color: $gray;
    div > span {
      font-size: 1.2em;
      color: $black;
    }
  }
}