.hide {
    display: none;
}
.container {
    width: 100%;
    max-width: 1300px;
}            
.sub.container {
    width: 100%;
    margin: 2rem 0;
}
.input-field {
    margin-top: 0;
}
.input {
    border-bottom: 1px solid rgb(99, 133, 95) !important;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: rgb(87, 97, 99);
}
#images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;                
    min-height: 80vh;
}
.hide-important, .hide-empty {
    display: none !important;
}
.btn {
    background-color: rgb(87, 97, 99);
    text-transform: initial;
}

.trait-key .input-field.col label {
    left: .25rem;
}

.autocomplete-options-container {
    z-index: 9999;
    position: absolute;
    padding: 0 .25rem;
    color: rgb(50, 50, 50);
    background-color: rgb(250, 250, 250);
    letter-spacing: .04rem;
    border: .05rem solid lightgray;
    text-align: left;
  }
  
  .autocomplete-options-container {
    width: initial;
  }
  
  .autocomplete-options-container > div {
    padding: .25rem;
  }
  
  .autocomplete-options-container .selected {
    color: rgb(229, 227, 220);
    background-color: rgb(52, 58, 64);
  }
  .async-progress, .feedback {
    font-size: .9rem;
    padding: 1rem 0 !important;
    line-height: 1.15rem;
  }