.sub.container {
    width: 100%;    
    margin: 2rem 0 0 0 !important;
    padding: 0;
}
.input-field {
    margin-top: 0;
    padding: 0 !important;
}
.input {
    border-bottom: 1px solid rgb(99, 133, 95) !important;
}
.dropdown-content li>a, .dropdown-content li>span {
    color: rgb(87, 97, 99);
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;                
    min-height: 80vh;
}
.hide-important, .hide-empty {
    display: none !important;
}
.input-field.col label {
  left: 0;
}
.trait-key .input-field.col label {
    left: .25rem;
}
.autocomplete-options-container {
    z-index: 9999;
    position: absolute;
    padding: 0 .25rem;
    color: rgb(50, 50, 50);
    background-color: rgb(250, 250, 250);
    letter-spacing: .04rem;
    border: .05rem solid lightgray;
    text-align: left;
    overflow-y: scroll;
  }
  .autocomplete-options-container {
    width: initial;
  }
  .autocomplete-options-container > div {
    padding: .25rem;
  }  
  .autocomplete-options-container .selected {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, .8);
  }
  .async-progress {
    font-size: .9rem;
    padding: 1rem 0 !important;
    line-height: 1.15rem;
  }
  .trait-repeater {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .trait-repeater li {
      width: 100%;
      padding: 0 .75rem;
  }

  input[type=text]:not(.browser-default)[readonly="readonly"] {
      border: none;      
  }
  i {
      cursor: pointer;
  }
  .chkSafety, .chkStar {
      margin: 0 0 0 1rem;
  }
  input[type=text]:not(.browser-default)[readonly="readonly"]+label {
      color: rgba(0,0,0,0.7);
  }
  input[type=text]:not(.browser-default)[readonly="readonly"] {
    color: rgba(0,0,0,0.6);
  }

  /* to move/copy */

  .relationship-card .cols {
      display: flex;
  }

  .relationship-card .cols > div:nth-child(1) {
    margin: 0 1rem 0 0;
  }
  .active-species {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: .9rem;
    padding: .5rem 0 0 0rem;
    color: var(--snap-text-medium-light);
  }
  .alert {
      color: rgba(183, 12, 21,.8);
  }
  .row-centered {
    display: flex !important;
    align-items: center;
  }

  .feedback {
      margin: 0 0 0 .5rem;
      font-style: italic;
  }

  .input-field {
      font-size: .9rem;
  }

  .input-field > input {
    font-size: .9rem !important;
  }

  .input-field > label {
    font-size: .9rem !important;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  textarea {
      height: initial;
      width: initial;
      margin: 1rem 0 0 0;
  }

  /* Move to common fieldset */

  .side-by-side {
      display: flex;
      align-items: center;      
  }
  
  .side-by-side > div:nth-child(1) {
      margin-left: .5rem;
  }

  li i {
      font-size: .8rem;
  }
  .btn {
    font-size: .9rem;;
    background-color: rgb(87, 97, 99);
    text-transform: initial;
  }
  .btn:hover, .btn-large:hover, .btn-small:hover {
      background-color: var(--snap-collection-light);
  }

  li a > i, li a > span {
      pointer-events: none;
  }

  .collection-species {
      margin: 0 1rem;
  }

  .collection-details {
    background-color: var(--snap-block-light);
    margin: 0 0 1rem -.5rem;
    padding: .5rem;
  }

  .collection-details > div > span:nth-child(1) {
      margin-right: .5rem;
  }

  .row {
      margin: 0;
      margin-bottom: 1rem;
  }

  .collection-container > .row {
      margin: 0;
  }

  li.custom-control, li label {
      width: 12rem;
      width: fit-content;
      font-size: .9rem;
  }

  .custom-control-label .underline-link {
      text-transform: initial;
  }

  .input-field {
      margin-bottom: .5rem;
  }

  nav ul a {
      padding: 0 .5rem;
  }

  #nav-mobile {
      display: flex;
      justify-content: space-evenly;
      padding: 0;
  }

  .has-character-counter {
      font-size: .9rem !important;
  }

  .edit-collection-species {
      display: grid;
      grid-template-columns: 16rem 1fr;
  }

  #input-collection {
      font-size: .9rem;
  }

  .admin.container .modal {
      bottom: initial;
  }

  .selected-species-container > input {
      width: 17rem;
  }

  .tabs {
    margin: 0 0 2rem -.5rem;    
  }

  .tabs, .tabs .tab {
    line-height: 32px;
    height: 32px;
  }

  .tabs .tab {
    text-transform: initial; 
  }

  .tabs .tab a {
    color: var(--snap-text-dark-medium-dark);
    background-color: var(--snap-block-light);
  }

  .tabs .tab a:hover, .tabs .tab a.active {
    color: var(--snap-text-dark-medium-dark);
    background-color: rgb(253, 240, 241);
  }

  .tabs .indicator {
      height: 0;
  }

  .disabled i {
    pointer-events: none;
    color: var(--snap-text-light);    
  }

  @media (min-width: 1200px) {
    .container {
        max-width: 1400px;
    }
  }