.modal-dialog {
  margin: 0;
  max-width: initial;
}

.modal-content {
  border: none;
  border-radius: 0;
  background-color: inherit;
}

#cardModal {  
  z-index: 1049; /* wiki is 1050 */
}

.modal-header-container {
  padding-bottom: 4px;
}

.modal-header {
    padding: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--vhRunningBlock,7.5vh);
    background-color: var(--snap-landscape);
    border: none;
}

.modal-footer {
  height: var(--vhRunningBlock,7.5vh);
  padding: 0;
  background-color: var(--snap-landscape);
  border: none;
}

.modal-title {
  color: var(--snap-text-dark);
  text-transform: uppercase;
  margin: 0 1rem; 
  height: initial;
  line-height: 1;
}
  
  .modal-title span {
    display: block;
  }
  
  .modal-header .close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 1rem;
    display: none;
  }

  .modal-body .language-options button {
    color: var(--snap-text-black);
    width: 100%;
    margin: 0;
    display: initial;
    align-items: center;
    text-align: left;
    padding-left: 1rem;
    padding: 0.75rem 0 0.75rem 1rem;
    cursor: pointer !important;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    columns: var(--snap-text-medium-dark);
    background-color: var(--snap-content-background);
  }

  .modal-body .language-options .dropdown-menu.show{
    background-color: var(--snap-species-highlight-background);
  }

  .language-options .dropdown-menu.show {
    width: 100%;
  }
  
  .modal-text hr {
    margin: .5rem;
  }
  
  .modal-body.glossary-modal {
    padding: 0;
  }
  
  .modal-body.glossary-modal .modal-text {
    margin: 0;
  }
  
  .modal-body.settings-modal {
    padding: 1rem;
  }

#imageModal .modal-body,
#imageComparisonModal .modal-body {
    padding: 0;
}

#imageComparisonModal .modal-dialog {
    max-width: 1200px;
    margin: auto;
}

#imageComparisonModal .slideBySliderContainer {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    grid-gap: .5rem;
}

#imageComparisonModal .modal-title {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#imageComparisonModal .modal-title span {
    flex: 1;
    text-align: center;
} 

#imageComparisonModal .imageSlider.carousel.slide > div:nth-child(2) {
  padding: 1rem 2rem;
}

#cardModal .card-link {
  display: none;
}

.modal-body {
  background-color: var(--snap-content-background);
  height: calc((var(--vh, 1vh) * 100) - var(--vhFixtures, 15vh));
  padding: 0;
  margin: 0;
}

#cardModal .card {
    margin: 0;
}

#cardModal .modal-content {
  width: 100%;
}

#cardModal .prev, #cardModal .next {
    display: flex;
}

#cardModal .carousel-inner .prev > span,
#cardModal .carousel-inner .next > span {
    background-color: rgba(211, 214, 173, 0.2);
    opacity: 0.8;
    cursor: pointer;
}

#cardModal .carousel-inner .prev > span:hover,
#cardModal .carousel-inner .next > span:hover {
    opacity: 1;
}

#cardModal .taxon.card-card .species-header > div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

  .basic-modal .modal-dialog {
    max-width: 600px;
    margin: auto;
  }

  #cardModal .modal-dialog {
    max-width: 600px;
    margin: auto;
  }

  .basic-modal .modal-content {
    color: var(--snap-text-dark);
  }

  .basic-modal .modal-body {
    color: var(--snap-text-dark);
    padding: 0 .5rem;
  }
  
  .basic-modal .modal-body.settings-modal {
    padding: 0;
  }

  #lessonModal .modal-body {
    padding: 0;
  }

  #badgeListModal .modal-dialog {
    width: 100%;
    margin: calc(var(--vhRunningBlock) + var(--vhStandardBlock)) auto auto auto;    
  }

  #badgeListModal .modal-content, #badgeListModal .modal-body {
    background-color: var(--snap-progress-bg);
  }

  #badgeListModal .modal-header {
    color: var(--snap-text-dark);
    background-color: var(--snap-border-medium);
  }

  #badgeListModal .modal-footer.double-centred-block {
    background-color: var(--snap-border-medium);
  }

  #badgeListModal .modal-body {
    height: calc(var(--vhDoubleStandardBlock, 20vh) * 3);
    padding: .5rem;
  }
  
  #badgeListModal li {  
    line-height: 1.5rem;
    margin: 0;
  }

  #badgeListModal .modal-text {  
    color: var(--snap-text-medium-dark);
  }

.basic-modal .definition.card {
    padding: 0 .5rem;
    border-radius: 0;
    height: calc((var(--vh, 1vh) * 100) - var(--vhFixtures, 15vh));
  }
  
  .basic-modal .definition.card dt {
    margin: 0 0.25rem 0 0;
    font-style: italic;
  }