.modal-dialog {
  margin: 0;
  max-width: initial;
}

.modal-content {
  border: none;
  border-radius: 0;
  background-color: inherit;
}

#cardModal {  
  z-index: 1049; /* wiki is 1050 */
}

.modal-header {
    padding: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--vhRunningBlock,7.5vh);
    border: none;
    background-color: var(--snap-green-2);
}

.modal-footer {
  height: var(--vhRunningBlock,7.5vh);
  padding: 0;
  border: none;
  background-color: var(--snap-green-2);
}

.modal-title {
  color: var(--snap-text-4);
  text-transform: uppercase;
  margin: 0 1rem; 
  height: initial;
  line-height: 1;
  font-size: .8rem;
}
  
  .modal-title span {
    display: block;
  }
  
  .modal-header .close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 1rem;
    display: none;
  }

  .modal-body .language-options button {
    color: var(--snap-text-6);
    width: 100%;
    margin: 0;
    display: initial;
    align-items: center;
    text-align: left;
    padding-left: 1rem;
    padding: 0.75rem 0 0.75rem 1rem;
    cursor: pointer !important;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    columns: var(--snap-text-4);
    background-color: var(--snap-background-1);
  }

  .modal-body .language-options .dropdown-menu.show{
    background-color: var(--snap-background-2);
  }

  .modal-text hr {
    margin: .5rem;
  }
  
  .modal-body.glossary-modal {
    padding: 0;
  }
  
  .modal-body.glossary-modal .modal-text {
    margin: 0;
  }
  
  .modal-body.settings-modal {
    padding: 1rem;
  }

#imageModal .modal-body,
#imageComparisonModal .modal-body {
    padding: 0;
}

#imageComparisonModal .modal-dialog {
    max-width: 1200px;
    margin: auto;
}

#imageComparisonModal .slideBySliderContainer {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    grid-gap: .5rem;
}

#imageComparisonModal .modal-title {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#imageComparisonModal .modal-title span {
    flex: 1;
    text-align: center;
} 

#imageComparisonModal .imageSlider.carousel.slide > div:nth-child(2) {
  padding: 1rem 2rem;
}

#cardModal .card-link {
  display: none;
}

.modal-body {
  background-color: var(--snap-background-1);
  height: calc((var(--vh, 1vh) * 100) - var(--vhFixtures, 15vh));
  padding: 0;
  margin: 0;
}

#cardModal .card {
    margin: 0;
}

#cardModal .modal-content {
  width: 100%;
}

#cardModal .prev, #cardModal .next {
    display: flex;
}

#cardModal .carousel-inner .prev > span,
#cardModal .carousel-inner .next > span {
    background-color: rgba(211, 214, 173, 0.2);
    opacity: 0.8;
    cursor: pointer;
}

#cardModal .carousel-inner .prev > span:hover,
#cardModal .carousel-inner .next > span:hover {
    opacity: 1;
}

#cardModal .taxon.card-card .species-header > div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

  .basic-modal .modal-dialog {
    max-width: 600px;
    margin: auto;
  }

  #cardModal .modal-dialog {
    max-width: 600px;
    margin: auto;
  }

  .basic-modal .modal-content {
    color: var(--snap-text-4);
  }

  .basic-modal .modal-body {
    color: var(--snap-text-4);
    padding: 0 .5rem;
  }
  
  .basic-modal .modal-body.settings-modal {
    padding: 0;
  }

  #lessonModal .modal-body {
    padding: 0;
  }

  #badgeListModal .modal-dialog {
    width: 100%;
    margin: calc(var(--vhRunningBlock) + var(--vhStandardBlock)) auto auto auto;    
  }

  #badgeListModal .modal-body {
    height: calc(var(--vhDoubleStandardBlock, 20vh) * 3);
    padding: .5rem;
  }
  
  #badgeListModal li {  
    line-height: 1.5rem;
    margin: 0;
  }

  #badgeListModal .modal-text {  
    color: var(--snap-text-4);
  }

.basic-modal .definition.card {
    padding: 0 .5rem;
    border-radius: 0;
    height: calc((var(--vh, 1vh) * 100) - var(--vhFixtures, 15vh));
  }
  
  .basic-modal .definition.card dt {
    margin: 0 0.25rem 0 0;
    font-style: italic;
  }

  /* new modal from here */

  .non-taxa-definition {
    padding: 0 0.5rem;
  }

  .non-taxa .dropdown-menu {
    width: 15rem !important;
    background-color: var(--snap-brown-2);
  }
  
  .non-taxa a.dropdown-item.active {
    background-color: var(--snap-brown-1);
  }
  
  .non-taxa a.dropdown-item:hover {
    background-color: var(--snap-brown-1);
  }

  .nav-icons .inactive-icon {
    color: var(--snap-text-3);
    cursor: not-allowed;
  }
  
  .info-box .inactive-icon {
    display: none;
  }

  .score-summary-container {
    height: calc((var(--vh, 1vh) * 100) - var(--vhFixtures, 15vh));
  }

  .snapdragon-container {
    justify-content: flex-start;
    position: relative;
  }

  .non-taxa {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .non-taxa .btn-group {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 .5rem;
    justify-content: space-evenly;
  }
  
  .non-taxa .btn.btn-secondary {
    height: initial;
  }
  
  .non-taxa .species-header {
    padding: 0 1.25rem 0 0;
  }
  
  .non-taxon.card img {
    height: 4rem;
    width: 4rem;
  }
  
  .non-taxon .btn.btn-secondary {
    width: 100%;
    border-radius: unset;
  }
  
  .non-taxa-definition {
    display: flex;
    align-items: center;
    padding: 0 2rem;
  }
  
  .non-taxon .definitions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    text-align: left;
  }
  
  .binomial {
    font-style: italic;
    text-transform: initial;
  }

  .answer {
    padding: 1rem;
    text-transform: capitalize;
    cursor: pointer;
  }
  
  .answer button {
    width: 10rem;
  }
  
  .squares {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .squares > div {
    display: grid;
    justify-self: center;
    height: 140px;
    width: 224px;
  }
  
  .squares img, .tiles img {
    cursor: pointer;
    height: inherit;
    width: inherit;
    object-fit: cover;
  }
  
  .traits.squares img {
    object-fit: scale-down;
  }
  
  .traits.squares > div.multiple {
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    width: 80%;
  }
  
  .square, .tile {
    border-radius: 0.2rem;
    cursor: pointer;
  }
  
  .strips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    height: calc( (var(--vh, 1vh) * 100) 
      - var(--vhFixtures, 15vh) 
      - var(--vhStandardBlock, 10vh)
      - var(--vhStandardBlock, 10vh)
      - var(--vhStandardBlock, 10vh)
      - var(--vhButtonBlock, 9vh)
      );
  }
  
  .strip {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    margin: .5rem .25rem;
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .strip > div::first-letter {
    text-transform: capitalize;
  }
  
  .strip > * {
    pointer-events: none;
  }

  .strips .strip.snap-success {
    background-color: var(--snap-success-2);
    box-shadow: 0 2px 8px rgba(0,0,0,.8);
  }
  
  .strips .strip.snap-alert {
    background-color: var(--snap-alert-2);
    box-shadow: 0 2px 8px rgba(0,0,0,.8);
    border: none;
  }
  
  .strip.snap-success > div.disabled {
    color: var(--gray-dark) !important;
  }
  
  .strip div {
    text-align: center;
  }

  .names-container .vernacular-name {
    max-width: 12rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }
  
  .names-container.definition .vernacular-name {
    margin-top: 1.25rem;
  }

  .species-header img {
    filter: grayscale(80%);
    object-fit: scale-down;
    max-height: var(--vhStandardBlock, 10vh);
  }
  
  .species-header > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 1rem 0 0;
  }

  .data-box-container {
    height: var(--vhCalendar, 11vh);
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-gap: .5rem;
    border-bottom: .03rem solid var(--snap-brown-1);
    font-size: .8rem;
  }
  
  .taxon.card-card .mixed-content-container {
    height: calc(
          var(--vh, 1vh) * 100
        - var(--vhFixtures,15vh)
        - var(--vhDoubleStandardBlock,20vh) 
        - var(--vhCalendar)
        - 5px);
        padding: .5rem;
  }
  
  .taxon.card-card .mixed-content-container .centred-block {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  .blocks {
    flex: auto;
    flex-direction: column;
    padding: 2rem;
  }
  
  .block {
    font-size: 1rem;
    display: inline-block;
    cursor: pointer;
    width: fit-content;
    background-color: var(--snap-background-2);
    color: var(--snap-text-4);
    margin: 0 .5rem 0 0;
    padding: .25rem .5rem;
    letter-spacing: .1rem;
    border-radius: .2rem;
    border: .05rem solid var(--snap-text-4);  
  }
  
  .block.snap-icon-btn {
    border: .05rem solid var(--snap-text-4);
    padding: .25rem .5rem;
  }
  
  .pool .block {
    margin: 0 .5rem .5rem 0;
  }
  
  .block + hr {
    margin: .5rem 0 0 0;
  }
  
  .pool {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pool .block.active {
    color: var(--snap-text-1);
    background-color: rgb(128, 128, 128);
  }
  
  .pool .block.correct {
    color: var(--snap-text-1);
    background-color: var(--snap-success-3);
  }
  
  span.correct {
    color: rgb(2, 107, 26);
  }
  
  .block.snap-success, .block.snap-alert {
    color: var(--snap-text-1) !important;
    background-color: var(--snap-success-3) !important;
  }
  
  .block.snap-alert {
    background-color: var(--snap-alert-3) !important;
  }
  
  .btn.snap-alert {
    padding: 0.175rem 0.75rem;
  }
  
  .block.white {
    color: var(--snap-text-4);
  }
  
  .blocks button {
    margin: 2rem 0 0 0;
  }

  .taxa svg {
    margin: 0 .25rem 0 0;
  }
  
  .taxa .si-glyph-mushrooms svg {
    margin: 0;
  }
  
  .species-answer {
    display: none;
  }
  
  .species-question,
  .species-answer,
  .btn-placeholder {
    text-align: center;
    border: 1px solid var(--snap-border-3);
  }
  
  .species-question.btn,
  .btn-placeholder.btn {
    color: var(--snap-text-4);
    background-color: var(--snap-background-2);
  }
  
  .species-answer {
    text-align: center;
    color: var(--snap-text-4);
    background-color: var(--snap-background-2);
    border-left: 1px solid var(--snap-border-3);
    border-right: 1px solid var(--snap-border-3);
    border-bottom: 1px solid var(--snap-border-3);
  }
  
  .answer-box-success .icon {
    color: var(--snap-success-3);
  }
  
  .answer-box-alert .icon {
    color: var(--snap-alert-3);
  }

  .species-card-images,
.non-taxon-card-images {
  display: grid;
  grid-template-columns: 1fr;
  cursor: pointer;
}

.non-taxon-card-images {
  margin: 0;
}


.attribution-layer {
  color: var(--snap-text-1);
}

.rights-attribution {
  display: grid;
  grid-template-columns: 2rem auto;
  height: var(--vhRunningBlock);
  background-color: rgb(166, 177, 155);
  font-size: .7rem;
}

.rights-attribution .underline-link {
  color: white !important;
}

.rights-link-copyright {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 25;
}

.rights-link-copyright .underline-link {
  line-height: 1.5;
}

.rights-link-copyright svg {
  color: white;
  font-size: 1.1rem;
}

.rights-link-copyright i.fas.fa-copyright {
  font-size: 1.3rem;
}

.rights-link {
  grid-template-columns: 2rem auto 2rem;
  height: var(--vhRunningBlock);
  background-color: var(--snap-green-3);
  display: grid;
}

.rights-link > div:nth-child(1), .rights-link > div:nth-child(3) {
  cursor: pointer;
}

.rights-attribution > div > div:nth-child(1) {
  margin: 0 0.5rem 0 0;
}

.rights-attribution > div > div:nth-child(2) {
  flex: 1;
}

.rights-attribution span {
  vertical-align: baseline;
  margin: 0 0 0 0.25rem;
}


.calendar-container {
  display: flex;
  align-items: center;
  border-right: 1px solid var(--snap-border-1);
  justify-content: center;
}

.calendar-box .row {
  display: grid;
  grid-auto-flow: row;
}

.calendar-box .col {
  display: grid;
  grid-auto-flow: column;
}

.calendar-box .col div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
}

.summary-scores .summary-progress {
  margin: 1rem 0 0 0;
  position: relative;
}

.summary-scores .summary-progress span {
  margin: 0 0 0 .5rem;
}

.summary-scores .summary-progress span.above {
  position: relative;
  bottom: .5rem;
}

.summary-scores .summary-progress span.below {
  position: relative;
  top: .5rem;
}

.summary-scores span {
  margin: 0 .25rem 0 0;
}

.summary-scores span:nth-child(2) {
  vertical-align: super;
}

.snapdragon-create-guide {  
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--snap-link);
}

.snapdragon-create-guide > div:nth-child(1) {
  letter-spacing: .05rem;
  text-transform: uppercase;
}

.snapdragon-create-guide .for-text {
  vertical-align: middle;
}

.snapdragon-create-guide .toggle-links {
  display: flex;
  justify-content: flex-end;
  margin: .5rem .25rem 0 0;
}

.score-summary-row {
  border-bottom: .3rem solid var(--snap-background-1);
  padding: 1rem 0;
}

button.score-summary-row {
  padding: 1rem 0;
}

.score-summary-row-title {
  padding: .5rem 0 0 0;
}

.score-summary-row.species {
  border: none;
  display: flex;
  width: 100%;
}

.score-summary-row.header {
  cursor: pointer;
  background-color: initial;
  font-size: initial;
  letter-spacing: initial;
  background-color: var(--snap-background-1);
}

.score-summary-row > div:nth-child(1), .score-summary-row > div:nth-child(3) {
  width: 5rem;
  min-width: 5rem;
}

.score-summary-row > div:nth-child(1) i, .score-summary-row > div:nth-child(3) svg {
  font-size: 1.2rem;
}

.score-summary-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.score-summary-row > div:nth-child(2) {
  flex: auto;
  align-items: flex-start;
  max-width: 100%;
  text-align: left;
}

.score-summary-row.in-columns {
  flex-direction: column;
  padding: 0;
}

.score-summary-row.in-columns > div {  
  display: flex;
  flex-direction: row;
  width: 100%;
}

.score-summary-row.in-columns > div > div {
  padding: 1rem 0;
}

.score-summary-row.in-columns > div > div:nth-child(1), .score-summary-row.in-columns > div > div:nth-child(3) {
  width: 6rem;
  display: flex;
  justify-content: center;
}

.score-summary-row.in-columns > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-bottom: .03rem solid var(--snap-brown-1);
}

.score-summary-row.in-columns > div > div:nth-child(2) > div {
  font-size: .8rem;
}

.score-summary-row.in-columns > div > div:nth-child(2) > div:nth-child(1) {
  padding: .5rem;
  min-width: calc(1rem + 98px);
  display: flex;
  justify-content: center;
  border: 1px solid var(--snap-border-1);
  margin-right: .5rem;
}

.score-summary-row.in-columns div[data-is-true="true"] > div:nth-child(2) {
  color: var(--snap-success-3);
}

.score-summary-row.in-columns div[data-is-wrong-answer="true"] {
  color: var(--snap-alert-3); 
}

.score-summary-row > div:nth-child(1) svg {
  display: none;
}

.score-summary-row > div[data-is-true="true"]:nth-child(1) svg:nth-child(1) {
  display: initial;
  color: rgba(52, 105, 23,.5);
  font-size: .8rem;
  font-size: 1.5rem;
}

.score-summary-row > div:nth-child(1)[data-is-true="false"] svg:nth-child(2) {
  display: initial;
  color: var(--snap-alert-3);
  color: rgba(183, 12, 21,.5);
  font-size: 1.5rem;
}

.score-summary-row.title > span {
  display: flex;
  justify-content: flex-end;
}

.score-summary-footer {
  justify-content: flex-end;
  align-items: flex-start;
}

.quick-fire {
  position: relative;
  height: calc((var(--vh, 1vh) * 100) - var(--vhFixtures, 15vh));
  display: flex;
  flex-direction: column;
}

.quick-fire .strips {
  height: initial;
}

.quick-fire-taxa {
  column-count: 2;
}

.quick-fire label, .quick-fire-taxa label {
  cursor: pointer;
}

.quick-fire-branches.list-group, .quick-fire-taxa.list-group  {
  flex-direction: row;
  flex-wrap: wrap;
  column-count: initial;
}

.quick-fire-taxa span, .quick-fire-branches span {
  font-size: .6rem;
  vertical-align: super;
  display: inline-block;
  padding: 0 .125rem;
  min-width: 1.5rem;
  text-align: left;
}

.quick-fire-branches span {
  font-size: .6rem;
}

.quick-fire .btn-group {
  display: flex;
  flex-wrap: wrap;
}

.quick-fire .btn-group >.btn {
  background-color: var(--snap-background-2);
  margin: 0 0 .5rem 0;
  border-radius: .25rem !important;
  letter-spacing: .03rem;
  width: fit-content;
  width: max-content;
  cursor: pointer !important;  
}

.quick-fire .btn-group >.btn.active {
  background-color: var(--snap-text-4-hover);
  color: var(--snap-text-1);
}

.quick-fire .quick-fire-options .btn-secondary {
  border: 1px solid var(--snap-green-4);
}

.quick-fire .quick-fire-options .btn-secondary:not(:disabled):not(.disabled).active {
  color: var(--snap-text-1);
  background-color: var(--snap-green-5);
  border: 1px solid var(--snap-border-3);
}

.quick-fire .btn {  
  cursor: pointer !important;
}

.quick-fire-text-entry > div{
  width: 100%;
}

.quick-fire-summary-row.card {
  background-color: var(--snap-background-1);
  text-align: left;
  cursor: pointer;
}

.quick-fire-summary-row .card-header {
  border-bottom: 0;
}

.quick-fire .nav-link.active.show {
  display: block;
}

.quick-fire .nav-item a:hover {
  color: var(--snap-text-4);
  background-color: var(--snap-background-2);
}

.quick-fire .nav-item:nth-child(1) a:hover {
  background-color: var(--snap-success-1);
}

.quick-fire .nav-item:nth-child(2) a:hover {
  background-color: var(--snap-alert-1);
}

.quick-fire .accordions-container {
  height: calc(
     (var(--vh, 1vh) * 100) 
    - var(--vhFixtures, 15vh)
    - var(--vhDoubleStandardBlock,20vh)
    - var(--vhStandardBlock,10vh) 
    - 1rem
    );
    top: calc(
        var(--vhDoubleStandardBlock,20vh)
      + var(--vhStandardBlock,10vh) 
    );
}
