.modal-dialog {
    width: auto;
    margin: 2rem .5rem .5rem .5rem;
}

.modal-content {
  border: none;
  border-radius: 0;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
  
.modal-body {
    padding: .5rem;
}

.modal-header {
    padding: .5rem;
    border-radius: 0;
}

.modal-title {
  color: var(--snap-text-dark);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .07rem;
  font-family: sentinel;
  }
  
  .modal-title span {
    display: block;
  }
  
  .modal-header .close {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 1rem;
  }

  .modal-body button {
    margin: 1rem 0;
    display: block;
  }

  .modal-body .language-options button {
    width: 100%;
    margin: 0;
    background-color: var(--snap-collection) !important;
    display: initial;
  }

  .language-options .dropdown-menu.show {
    width: 100%;
  }
  
  .modal-text {
    margin: 1rem;
  }
  
  .modal-text hr {
    margin: .5rem;
  }
  
  .modal-body.glossary-modal {
    padding: 0;
  }
  
  .modal-body.glossary-modal .modal-text {
    margin: 0;
  }
  
  .modal-body.settings-modal {
    padding: 1rem;
  }


#imageModal .modal-body,
#imageComparisonModal .modal-body {
    padding: 0;
}

#imageComparisonModal .modal-dialog {
    min-width: 1024px;
    max-width: 1200px;
}

#imageModal .modal-body {
    height: 60vh;  
}

#imageComparisonModal .modal-body {
  height: initial;  
}

#imageComparisonModal .slideBySliderContainer {
    /* display: flex; */
    display: grid;
    grid-auto-flow: column;
}

#imageComparisonModal .modal-title {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#imageComparisonModal .modal-title span {
    flex: 1;
    text-align: center;
} 

#imageComparisonModal .imageSlider.carousel.slide {
    margin: 0 .5rem;
}

#imageComparisonModal .imageSlider.carousel.slide > div:nth-child(2) {
  padding: 1rem;
  min-height: 18rem;
}

#imageComparisonModal .imageSlider.carousel.slide > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem;
  position: absolute;
  bottom: 0;
}

#imageComparisonModal .carousel-indicators,
#imageComparisonModal .image-load-original {
    display: none;
}

#imageModal .modal-body .imageSlider .carousel-item {
  height: 55vh;
}

/* CARD MODAL */

#cardModal .modal-dialog {
    max-width: 100vw;
}
  
#cardModal .modal-content .snapdragon-container {
    height: 70vh;
    border: 0;
    padding: 0;
}

#cardModal .modal-body {
    padding: 0;
}

#cardModal .card {
    margin: 0;
}

#cardModal .iconic-icon {
    /* font-size: 2.4rem; */
    cursor: initial;
    /* color: var(--snap-iconic-icon-header); */
}

#cardModal .modal-content .snapdragon-container {  
    height: 70vh;
    padding: 0 .5rem;
}

#cardModal .mixed-container {
  top: 12rem;
}

#cardModal .imageSlider .carousel-item {
    height: 25vh;
  }

#cardModal .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#cardModal .prev, #cardModal .next {
    display: flex;
    padding: 0 .5rem;
}

#cardModal .carousel-inner .prev > span,
#cardModal .carousel-inner .next > span {
    background-color: rgba(211, 214, 173, 0.2);
    opacity: 0.8;
    cursor: pointer;
}

#cardModal .carousel-inner .prev > span:hover,
#cardModal .carousel-inner .next > span:hover {
    opacity: 1;
}

#cardModal .taxon.card-card .species-header > div:nth-child(2) {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#cardModal .taxon-summary {
  bottom: 1rem;
}

  #cardModal .compare-species-link {
    pointer-events: none;
    border: none;
    color: var(--snap-progress-bg);
  }
  
  #menuModal .modal-content {
    color: var(--snap-text-dark);
  }
  
  #listModal .modal-body {
    padding: 0;
  }

  #listModal .modal-content {
    background-color: var(--snap-text-light);
  }
  
  #listModal .scrollable {
    height: 50vh;
  }

  #menuModal .modal-body.settings-modal {
    padding: 0;
  }
  
  /* BADGE MODAL (Common names & Members of) */

  #badgeListModal .modal-header {
    color: var(--snap-text-dark);
    background-color: var(--snap-species-header-background);
  }

  #badgeListModal .modal-body {
    background-color: rgb(226, 222, 180,.2);
    min-height: 5rem;
    font-size: 1rem;
  }
  
  #badgeListModal li {  
    line-height: 1.5rem;
  }

  #badgeListModal .modal-text {  
    color: var(--snap-text-medium-dark);
    margin: 0;
    font-size: .9rem;
  }

  #badgeListModal ul {
    padding: 0;
  }

  /* SCROLL */

  .modal-list.scrollable {
    height: 50vh;
  }


/* GLOSSARY MODAL */

#menuModal .definition.card {
    height: 60vh;
    border: 0;
    font-size: 1rem;
    padding: 0 .5rem;
    font-family: sentinel;
    border-radius: 0;
  }
  
  #menuModal .definition.card div > div {
    margin: 0.15rem 0;
    padding: 0.25rem;
  }

  #menuModal .definition.card span:nth-child(1) {
    text-underline-position: under;
    color: rgb(20, 20, 20);
    margin: 0 0.25rem 0 0;
    font-style: italic;
    font-size: 1.1rem;
    letter-spacing: .03rem;
  }

@media (min-width: 768px) {

  .modal-dialog {
    margin: 2rem auto;
  }

  .modal-body {
      padding: 1rem;
  }

  .modal-header {
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  iframe {
      width: 100%;
      border: 0;
  }

  /* MENU MODAL */

  #menuModal .modal-body.settings-modal {
      padding: rem;
  }

  /* WIKI */

  #wikiModal .modal-dialog {
      max-width: 60vw;
  } 

  #wikiModal .modal-content {
      height: 70vh;
  }

  #wikiModal .modal-body {
      height: 90%;
  }

  #wikiModal iframe {
      height: 100%;
  }

  #imageModal .modal-dialog {
      max-width: 50vw;
  }
    
  #imageModal .modal-title span {
      display: flex;
      flex-direction: row;
  }

  #imageModal .modal-title span > span:nth-child(1) {
      margin: 0 .5rem 0 0;
  }

  #iNatWidgetModal .modal-dialog {
      max-width: 45vw;
  }
  
  #iNatWidgetModal .modal-header {
      font-size: 1.2rem;
      display: inline;
  }

  /* CARD MODAL */

  #cardModal .modal-dialog {
      min-width: 32rem;
      max-width: 600px;
  }

  #cardModal .feature-types {
      width: 100%;
      margin: 0;
  }

  #cardModal .modal-body {
    padding: 1rem 0;
  }

  .modal-body .language-options button {
    width: initial;
  }
}

@media (min-height: 640px) {
    
  .imageSlider .carousel-item {
    height: 13.875rem;
    padding: 1rem 10%;
  }
}