/* TRAITS CAROUSEL */

.bird-song iframe {
    width: 100%;
    border: 0;
}

.bird-song div {
    float: right;
    min-width: 23.5rem;
    max-width: 28.5rem;
}

/* SPECIES CARD MODAL */

#speciesCardModal .iconic-icon {
    font-size: 2rem;
    padding: 0.5rem;
}

.vernacular-name-badge {
    position: relative;
}

.names-badge {
    position: absolute;
    right: -1rem;
    top: 0;
    font-size: 0.8rem;
    vertical-align: super;
    cursor: pointer;
}


#speciesCardModal .modal-content .snapdragon-container, #taxonCardModal .modal-content .snapdragon-container {  
    height: 60vh;
}

#speciesCardModal .carousel-inner, #taxonCardModal .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#speciesCardModal .carousel-inner .prev > span, #taxonCardModal .carousel-inner .prev > span {
    margin: 0 0 0 .6rem;
}

#speciesCardModal .carousel-inner .next > span, #taxonCardModal .carousel-inner .next > span {
    margin: 0 .6rem 0 0;
    cursor: pointer;
}

/* SPECIES HEADER */

.question-container {
  background-color: var(--snap-species-header-background);
  border-bottom: 0.05rem solid var(--snap-border-dark);
  height: 64px;  
  margin: 0 0 .5rem 0;
}

.question-container img {
    height: 64px;
    width: 64px;
    object-fit: scale-down;
}

@media (min-width: 768px) {

    /* SPECIES CARD MODAL */

    #speciesCardModal .modal-dialog, #taxonCardModal .modal-dialog {
        min-width: 32rem;
        max-width: 32rem;
    }

    .names-badge {
        right: -.75rem;
    }

    /* TRAITS CAROUSEL */

    .info.carousel.slide .carousel-item div {
        padding: .5rem;
        font-size: 1rem;
    }

    /* SPECIES HEADER */

    .question-container {
        height: 88px;
    }

    .question-container img {
        height: 88px;
        width: 88px;
    }

    .question-container > div:nth-child(1) {
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 0 0 0 .5rem;
        font-size: .9rem;
        justify-content: center;
    }
}