/* .feature-symbiont-list.scrollable {
    max-height: 7.5rem;
} */

/* TRAITS CAROUSEL */

.bird-song iframe {
    width: 100%;
    border: 0;
}

.bird-song div {
    float: right;
    min-width: 23.5rem;
    max-width: 28.5rem;
}

.vernacular-name-badge {
    position: relative;
}

.names-badge {
    font-size: 0.8rem;
    vertical-align: super;
    cursor: pointer;
    min-width: 1rem;
    min-height: 1rem;
    display: inline-block;
}

/* SPECIES HEADER */

.question-container {
  background-color: var(--snap-species-header-background);
  height: 4rem;
}

.question-container img {
    height: 4rem;
    width: 4rem;
    object-fit: scale-down;
}

  /* CARD */

.card {
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    text-align: right;
    border-radius: 0.1rem;
  }
  
  .card > .card-txt-block {
    margin: 0.5rem 0.5rem 0 0;
  }
  
  .card.species, .card.taxon {
    background-color: var(--snap-species-highlight-background);
  }

  .info-box {
    position: absolute;
    bottom: .5rem;
    width: 100%;
  }

  .taxa-container {
    text-align: left;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--snap-text-medium-light);
  }

  .taxa-container > span {
    max-width: 8.4rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .small-text {
    font-size: .8rem;
  }

  .extra-small-text {
    font-size: .8rem;
  }

  /* TAXON CARD  */

  .taxon.card {
      font-size: 1rem;
  }

  .taxon.card .data-box {
    font-family: sentinel;
    letter-spacing: .05rem;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .external-links {
    margin: .5rem 0 0 .75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

    /* FEATURES */

    .feature-symbiont-list.scrollable {
    top: 12rem;
    width: 100%;
    margin: 0 0 0 0.05rem;
}

.feature-symbiont-list table {
    width: 100%;
    border-collapse: inherit;
}

.feature-symbiont-list thead > tr:nth-child(1) {  
    line-height: 1.5rem;
    background-color: rgba(52, 58, 64,.7);
    line-height: 1.5rem;
    color: var(--snap-text-light);
    letter-spacing: .05rem;
    position: sticky;
    position: -webkit-sticky;
}

.feature-symbiont-list tfoot td {
    border-bottom: .05rem solid rgb(52, 58, 64,.7);
}

.feature-symbiont-list th,
.feature-symbiont-list td {
    text-align: left;
    font-weight: normal;
    border: 0;
    padding: 0 0 0 0.5rem;
    text-transform: capitalize;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.feature-symbiont-list th {
    text-transform: uppercase;
}
    
.feature-symbiont-list .underline-link {
    text-transform: initial;
}

@media (min-width: 768px) {

    /* CARD */

    .info-box {        
        margin: .5rem 0 0 0;
    }

    /* TRAITS CAROUSEL */

    .info.carousel.slide .carousel-item div {
        padding: .5rem;
        font-size: 1rem;
    }

    /* SPECIES HEADER */

    .question-container {
        height: 5.5rem;
    }

    .question-container img {
        height: 5.5rem;
        width: 5.5rem;
    }

    .question-container > div:nth-child(1) {
        padding: 0 0 0 1rem;
        display: flex;
        flex-direction: row;
        font-size: .9rem;
        justify-content: left;
        align-items: center;
    }
}