/* TRAITS CAROUSEL */

.bird-song iframe {
    width: 100%;
    border: 0;
}

.bird-song div {
    float: right;
    min-width: 23.5rem;
    max-width: 28.5rem;
}

/* SPECIES CARD MODAL */

#speciesCardModal .iconic-icon {
    font-size: 2rem;
    padding: 0.5rem;
}



#speciesCardModal .modal-content .snapdragon-container, #taxonCardModal .modal-content .snapdragon-container {  
    height: 60vh;
}

#speciesCardModal .carousel-inner, #taxonCardModal .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#speciesCardModal .carousel-inner .prev > span, #taxonCardModal .carousel-inner .prev > span {
    margin: 0 0 0 .6rem;
}

#speciesCardModal .carousel-inner .next > span, #taxonCardModal .carousel-inner .next > span {
    margin: 0 .6rem 0 0;
    cursor: pointer;
}

@media (min-width: 768px) {

    /* SPECIES CARD MODAL */

    #speciesCardModal .modal-dialog, #taxonCardModal .modal-dialog {
        min-width: 32rem;
        max-width: 32rem;
    }

    /* TRAITS CAROUSEL */

    .info.carousel.slide .carousel-item div {
        padding: .5rem;
        font-size: 1rem;
    }
}