.table-header {
  background-color: rgb(153, 172, 149);
  color: var(--snap-text-dark);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border: 0;
  height: var(--vhRunningBlock,7.5vh);
  z-index: 10;
  align-items: center;
  text-transform: uppercase;
  top: 0;
  font-size: .9em;
}

.table-header th {
  cursor: pointer;
  font-weight: initial;
}

.table-row {
    display: flex;
    flex-direction: row;
    height: var(--vhRow, 12.5vh);
    font-size: .8em;
  }
  
  .table-row-chevron {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  tr.master:nth-child(2n) {
    background-color: var(--snap-list-background);
  }
  
  tr.master:nth-child(2n + 1) {
    background-color: var(--snap-list-alt-background);
  }
 
  .table-row img, table input {
    cursor: pointer;
  }
  
  .table-row img {
    width: 64px;
    height: 64px;
    object-fit: none;
    padding: .5rem;
  }
  
  .table-row .lp-level {
    padding: 0 0 0 0.5rem;
  }

  .inserted-td {
    font-size: .9rem;
    white-space: normal;
    text-align: left;
    padding: .5rem;
  }

  th {
    text-align: initial;
  }


  .table-header th:nth-child(1) {
    min-width: 80px;
  }

  .species-list .table-header th:nth-child(2):after,
  .species-list .table-header th:nth-child(3):after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255rem;
    vertical-align: middle;
    content: "";
    border-top: 0.3rem solid;
    border-right: 0.3rem solid transparent;
    border-bottom: 0;
    border-left: 0.3rem solid transparent;
    cursor: default;
  }
  
  .table-header th:nth-child(1) > span,
  .table-footer td:nth-child(1) > span {
    height: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .table-header th:nth-child(2) {
    flex: 3;
    align-items: flex-start;
  }
  
  .master.table-row td:nth-child(1) {
    width: 80px;
    display: flex;
    align-items: center;
  }

  .species-description > td:nth-child(1) {
    width: 100%;
  }

  .table-row td:nth-child(2) {
    flex: 3;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .table-header th:nth-child(3),
  .table-row td:nth-child(3),
  .table-header th:nth-child(4),
  .table-row td:nth-child(4) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .table-header th:nth-child(5), .table-row td:nth-child(5) {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .table-header th:nth-child(6), .table-row td:nth-child(6) {
      flex: 1;
      display: flex;
      align-items: center;
  }

 .species-table .mushroom-icon svg {
  width: 1rem;
  height: 1rem;
 }

div.species-description {
  background-color: var(--snap-species-highlight-background);
  border-top: .5px solid var(--snap-youtube-green);
  border-bottom: .5px solid var(--snap-youtube-green);
  padding: 1rem;
  color: rgba(0, 0, 0, .85);
  height: initial;
}

.species-description > td {
  width: 100%;
}

.youtube-icon, .accordion-icon {
  cursor: pointer;
  font-size: 1.2rem;
}

.species-container {
  position: relative;
  width: 100%;
}

  @media (min-width:414px) {

    .youtube-icon, .accordion-icon {
      font-size: 1.4rem;
    }
  }

  @media (min-width: 600px) {

    .youtube-icon, .accordion-icon {
      font-size: 1.3rem;
    }

    .lesson-list-action-icons .youtube-icon, .lesson-list-action-icons .accordion-icon {
      font-size: 1.6rem;;
    }

    .table-header th:nth-child(1) {
      min-width: 105px;
    }

    .master.table-row td:nth-child(1) {
      width: 105px;
    }

    .table-row img {
      width: 98px;
      height: 69px;
    }
  }

  @media (min-width: 768px) {

    .table-header {
      background-color: var(--snap-landscape);
    }

    .table-row td:nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .species-list .scrollable {
      bottom: 0;
      top: 0;      
    }
  }

  @media (min-width: 1024px) {
     
    .table-header th:nth-child(2), .table-row td:nth-child(2) {
        flex: 4;
    }
    
    .table-header th:nth-child(3), .table-row td:nth-child(3) {
        flex: 3;
    }
    
    .table-header th:nth-child(4), .table-row td:nth-child(4) {
        flex: 2;
    }

    .table-header th:nth-child(3) span:nth-child(2):after {
        margin-left: .355rem;
    }

    .table-header th:nth-child(3):after {
        display: none;
    }

    .species-list .table-header th:nth-child(3) span:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255rem;
        vertical-align: middle;
        content: "";
        border-top: .3rem solid;
        border-right: .3rem solid transparent;
        border-bottom: 0;
        border-left: .3rem solid transparent;
        cursor: default;
    }

    .species-list .table-header th:nth-child(4):after, .species-list .table-header th:nth-child(5):after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: .255rem;
        vertical-align: middle;
        content: "";
        border-top: .3rem solid;
        border-right: .3rem solid transparent;
        border-bottom: 0;
        border-left: .3rem solid transparent;
        cursor: default;
    }

    .table-header th:nth-child(3) {
        flex-direction: column;
        display: flex;
        align-items: start;
    }

    .table-header th:nth-child(3) span {
        flex: 1;
        line-height: initial;
    }

    .table-header th:nth-child(5), .table-row td:nth-child(5),
    .table-header th:nth-child(6), .table-row td:nth-child(6) {
        flex: 1;
        display: flex;
        align-items: center;
    }
  }
 
.species-table .underline-link {
    text-transform: initial;
}  

.btn-current-lesson-begin {
  width: calc(var(--vwGrid) - 1rem);
  margin: .5rem;
}