
.test-card-container .question-header {
    border: none;
    height: inherit;
    text-transform: capitalize;
    align-items: center;
}

.test-card-container .question-header > div {
    align-items: center;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-left: .5rem;
}

.names-container {
    display: flex;
    flex-direction: column;
}

.term-header {
    font-style: italic;
}

.test-card {
    color: var(--snap-text-medium-dark);
}

.test-card-container {
    position: relative;
    background-color: var(--snap-list-alt-background);
  }

  .test-card-question {
    border-bottom: .03rem solid var(--snap-dd-non-taxa-bg-hover);
  }
   
  /* CONTINUE BUTTON */

  /* .test-card-question {
    height: var(--vhStandardBlock, 10vh);
    display: flex;
    align-items: center;
  } */

  .test-card-question .question {
    text-transform: uppercase;
    color: var(--snap-text-dark);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .test-card-question .question > div {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
.test-card-question .question-help, .block-container .question > span:nth-child(2) {
    vertical-align: super;
    text-transform: initial;
    margin: 0 .5rem;
    color: var(--snap-text-medium-light);
}

.test-card button {
    display: inline-block;
    color: var(--snap-text-medium-dark);
    background-color: var(--snap-landscape);
    transition-duration: .5s;
    width: 100%;
}

.test-card button:hover {
    background-color: var(--snap-text-medium-light);
    color: var(--snap-body-bg);
}

.test-card .small-icon {
    font-size: .7rem;
    margin: 0 .25rem 0 0;
}

.test-card li {
    display: flex;
    align-items: baseline;
    text-transform: capitalize;
}

  .text-question .icon {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .text-question span:nth-child(2),
  .text-question span:nth-child(3) {
    vertical-align: text-bottom;
  }
  
  .text-question span:nth-child(2) {
    margin: 0 0 0 0.25rem;
  }

  .wrong-answer-txt {
      margin: .5rem .5rem 0 .75rem;
  }

/* SYSTEM RESPONSE */

.action-update-container {
    position: absolute;
    bottom: 0rem;
    display: flex;
    height: var(--vhButtonBlock, 9vh);
    align-items: center;
    right: .5rem;
    left: .5rem;
}

.test-card-container .text-question {
    position: absolute;
    bottom: var(--vhRunningBlock, 7.5vh);
    left: 0rem;
    padding: 0 0 0 .75rem;
    height: var(--vhButtonBlock, 9vh);
}

/* SCROLLING */

.test-card .portrait-answer {
    font-style: italic;
    text-transform: capitalize;
}

.answer-box-success > span:nth-child(2), 
.answer-box-alert > span:nth-child(2) {
    color: var(--snap-success);
    font-family: serif;
    font-weight: bold;
}

.answer-box-alert > span:nth-child(2) {
    color: var(--snap-alert);
}

/* TEXT ENTRY */

div.text-entry {
    padding: 0;
    position: relative;
    margin: .5rem;
    border: 0.05rem solid var(--snap-portrait);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.text-entry input {
    width: 100%;    
    color: var(--snap-text-dark);
  }
  
  .text-entry button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
 
  .button-entry {
    margin: 0 .5rem;
  }

  /* FUNGI ICONS */

  .mushroom-icon-header svg {
    width: 2rem;
    height: 2rem;
    fill: var(--snap-iconic-icon-header);
  }

  .mixed-specimen-container {
    display: grid;
    margin: 2rem 2rem;
    grid-row-gap: .5rem;
    grid-template-rows: 2fr auto 3fr;
  }

  .mixed-specimen-container .btn {
    color: var(--snap-text-dark) !important;
    background-color: var(--snap-list-header) !important;
  }

  .images-names-txt {
    min-height: calc( (1em * 6 * 1.5) + (.5rem * 6));
  }

  .images-names-txt i {
    margin: 0 .25rem 0 0;  
  }

  .images-names-txt .mushroom-icon-header svg {
    width: .8rem;
    height: .8rem;
    margin: 0 .25rem 0 0;
  }

  .traits-names-txt img {
      width: 2rem;
      height: 2rem;
  }

  .traits-names-txt img.png {
      height: initial;
  }

/* CARD HEADER */

.question-container {
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    background-color: var(--snap-species-header-background);
    height: var(--vhStandardBlock, 10vh);
    color: var(--snap-text-medium-light);
    border-radius: 0.2rem;
}

  .question-container > span:nth-child(2) {
    margin: 0.5rem 0 0 0;
    display: block;
  }

/* Content */

.test-card-content {
    padding: .5rem;
    height: calc(
        var(--vh, 1vh) * 100
      - var(--vhFixtures, 15vh)
      - var(--vhDoubleStandardBlock,20vh) 
      - var(--vhButtonBlock, 9vh));
    top: calc(var(--vhDoubleStandardBlock,20vh));
}

.iconic-icon {
    font-size: 1.5rem;
    color: var(--snap-iconic-icon-header);
}

.iconic-icon g {
    fill: var(--snap-iconic-icon-header);
}

.iconic-icon .mushroom-icon-header svg {
    width: 1.5rem;
    height: 1.5rem;
}

.trait-test-card-container {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 3fr;
    grid-row-gap: 1rem;
}

.input-trait-field input {
    margin: 0 .5rem;
}

@media (min-width: 768px) {

    .iconic-icon {
        font-size: 2rem;
    }

    /* CARD HEADER */

    .question-container {
        grid-template-columns: 1fr 4fr 1fr;
        display: initial;
    }

    .question-container .mushroom-icon-header svg {
        width: 1.8rem;
        height: 1.8rem;
        fill: var(--snap-iconic-icon-header);
    }

    .test-card-container .question-header > div {
        flex-direction: column;
        width: initial;
    }

    .question-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        background-color: var(--snap-species-header-background);
    }

    .species-header {
        text-align: right;
    }

    .test-card-question .help-txt {
        margin: 1rem .5rem;
        font-family: serif;
        font-weight: bold;
        letter-spacing: .05rem;
    }

    .test-card-content {
        top: calc(var(--vhRunningBlock,7.5vh) + var(--vhDoubleStandardBlock,20vh));
    }

    .test-card button {
        width: 12rem;
        width: fit-content;
        margin: 0 0 0 .25rem;
    }

    div.text-entry {
        margin: 1rem 0;
        padding: 0.5rem;
    }

    .text-entry input {
        width: 75%;
        padding: 0.5rem;
        border: 0.05rem solid var(--snap-border-dark);
    }

    /* SYSTEM RESPONSE */

    .test-card-container .text-question {
        left: 1rem;
    }

    .answer-box-success > span:nth-child(2), 
    .answer-box-alert > span:nth-child(2) {
        margin: 0 0 0 .5rem;
    }
}

/* iPHONE 6,7,8 PLUS, iPHONE X, GALAXY S9/S9+ */

@media  (max-width:414px) and (min-height:736px),
        (max-width:375px) and (min-height:812px),
        (max-width:360px) and (min-height:740px) {
        }

@media (max-height:568px) {
    .test-card .help-txt {
        display: none;
    }
}