
.test-card-container .question-header {
    border: none;
    height: inherit;
    text-transform: capitalize;
    align-items: center;
}

.test-card-container .question-header > div {
    align-items: center;
    display: flex;    
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-left: .5rem;
}

.names-container {
    display: flex;
    flex-direction: column;
}

.names-container h2 {
  margin: 0 !important;
  font-size: .9rem;
  display: inline-block;  
}

.term-header {
    font-style: italic;
}

.test-card {
    color: var(--snap-text-medium-dark);
}

.test-card-container {
    position: relative;
    background-color: var(--snap-content-background);
    height: calc( (var(--vh, 1vh) * 100) 
    - var(--vhFixtures, 15vh)
    );  
  }

  .test-card-question .question-question {
    font-size: .9rem;
    text-transform: uppercase;
    color: var(--snap-text-medium-light);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    letter-spacing: .1rem;
  }

  .test-card-question .question {
      width: 100%;
  }

  .test-card-question .question > div {
      display: flex;
      flex-direction: column;
      align-items: center;      
  }

.test-card-question .question-help, .block-container .question > span:nth-child(2) {
    vertical-align: super;
    text-transform: initial;
    margin: 0 .5rem;
    color: var(--snap-text-medium-light);
}

.test-card-question .question-help {
    display: none;;
}

.test-card-question .question-statement, .test-card-question .question-provider-question {
    font-size: .8rem;
    padding: 0 .5rem;
    text-align: center;    
}

.test-card button {
    display: inline-block;
    color: var(--snap-text-medium-dark);
    background-color: var(--snap-landscape);
    transition-duration: .5s;
    width: 100%;
}

.test-card .small-icon {
    font-size: .7rem;
    margin: 0 .25rem 0 0;
}

.test-card li {
    display: flex;
    align-items: baseline;
    text-transform: capitalize;
}

.action-update-container {
    position: absolute;
    bottom: 0rem;
    display: flex;
    height: var(--vhButtonBlock, 9vh);
    align-items: center;
    right: .5rem;
    left: .5rem;
}

.test-card-container .text-question {
    position: absolute;
    bottom: var(--vhRunningBlock, 7.5vh);
    left: .5rem;
    right: .5rem;
    display: flex;
    align-items: center;
    height: var(--vhButtonBlock, 9vh);
    font-size: 1rem;
}

.answer-box-success, .answer-box-alert {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-box-success > span:nth-child(2) {
    color: var(--snap-success);
}

.answer-box-alert > span:nth-child(2) {
    color: var(--snap-alert);
}

.answer-box-success > span:nth-child(2), 
.answer-box-alert > span:nth-child(2) {
    margin: 0 0 0 .5rem;
}

.text-entry-container, .text-complete-container {
    margin: 1rem 0 0 0;
}

div.text-entry {
    padding: 0;
    position: relative;
    margin: .5rem;
    border: 0.05rem solid var(--snap-portrait);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.text-entry input {
    width: 100%;    
    color: var(--snap-text-dark);
  }
  
  .text-entry button {
    position: absolute;
    bottom: 0;
    left: 0;
  }
 
  .button-entry {
    margin: 0 .5rem;
  }

  .mushroom-icon-header svg {
    width: 2rem;
    height: 2rem;
    fill: var(--snap-iconic-icon-header);
  }

  .mixed-specimen-container {
    display: grid;
    margin: 2rem 0 0 .5rem;
    grid-row-gap: .5rem;
    grid-template-rows: 2fr auto 1fr;
  }

  .mixed-specimen-container > div > span > span, .request-feedback > span {
    color: black;
    letter-spacing: .01rem;
  }

  .btn.btn-auxiliary, .btn.btn-auxiliary:focus {
    color: var(--snap-text-light) !important;
    background-color: var(--snap-btn-auxillary) !important;
    cursor: pointer !important;
  }

  .images-names-txt {
    min-height: calc( (1em * 6 * 1.5) + (.5rem * 6));
    margin-left: .5rem;
  }

  .images-names-txt i {
    margin: 0 .25rem 0 0;  
  }

  .images-names-txt .mushroom-icon-header svg {
    width: .8rem;
    height: .8rem;
    margin: 0 .25rem 0 0;
  }

  .traits-names-txt img {
    max-width: 2rem;
    max-height: 3rem;
  }

  .traits-names-txt img.png {
      height: initial;
  }

.question-container {
    grid-template-columns: 1fr 3fr 1fr;
    display: grid;
    background-color: var(--snap-species-header-background);
    height: var(--vhStandardBlock, 10vh);
    color: var(--snap-text-medium-light);
}

  .question-container > span:nth-child(2) {
    margin: 0.5rem 0 0 0;
    display: block;
  }

.test-card-content {
    padding: .5rem;
    height: calc(
        var(--vh, 1vh) * 100
      - var(--vhFixtures, 15vh)
      - var(--vhDoubleStandardBlock,20vh)
      - var(--vhButtonBlock, 9vh)
      - var(--vhButtonBlock, 9vh));
    top: calc(var(--vhDoubleStandardBlock,20vh));
}

.test-card-content-less-standard-block {
    height: calc(
        var(--vh, 1vh) * 100
      - var(--vhFixtures, 15vh)
      - var(--vhDoubleStandardBlock,20vh)
      - var(--vhStandardBlock,10vh)
      - var(--vhButtonBlock, 9vh));
}

.iconic-icon {
    font-size: 1.5rem;
    color: var(--snap-iconic-icon-header);
}

.iconic-icon g {
    fill: var(--snap-iconic-icon-header);
}

.iconic-icon .mushroom-icon-header svg {
    width: 1.5rem;
    height: 1.5rem;
}

.trait-test-card-container {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 3fr;
    grid-row-gap: 1rem;
}

.input-trait-field input {
    margin: 0 .5rem;
}