
.question-header div {
    display: flex;
    flex-direction: column;
  }

.test-card {
    color: var(--snap-text-medium-dark);
    padding: 0 .5rem;
    font-size: 1.2rem;
}

.test-card .question {
    margin: 1rem 0;
    font-size: 1.3rem; 
}

.test-card .question > span:nth-child(2), .block-container .question > span:nth-child(2) {
    font-size: .8rem;
    vertical-align: super;
    text-transform: initial;
    margin: -.25rem 0 0 0;
}

.test-card .question-sub-header {
    border-bottom: .05rem solid gray;
    padding: 0 0 .25rem 0;
    text-transform: uppercase;
    font-size: .8rem;
    width: fit-content;
}

.test-card .help-txt {
    font-size: 1.1rem;
    letter-spacing: .03rem;
    margin: 1rem;
}

.test-card input[type="text"] {
    width: 75%;
    font-size: 1.5rem;
    padding: .25rem;
}

.test-card button {
    display: inline-block;
    color: var(--snap-text-medium-dark);
    background-color: var(--snap-landscape);
    transition-duration: .5s;
}

.test-card button:hover {
    background-color: var(--snap-text-medium-light);
    color: var(--snap-body-bg);
}

.test-card .small-icon {
    font-size: .7rem;
    margin: 0 .25rem 0 0;
}

.test-card li {
    display: flex;
    align-items: baseline;
    letter-spacing: .01rem;
    text-transform: capitalize;
    font-size: 1rem;
    letter-spacing: .03rem;
}

/* SYSTEM RESPONSE */

.answer-box-success > span:nth-child(2), 
.answer-box-alert > span:nth-child(2) {
    color: var(--snap-success);
    font-weight: bold;
    letter-spacing: .05rem;
    margin: 0 0 0 .5rem;
    font-family: serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.answer-box-alert > span:nth-child(2) {
    color: var(--snap-alert);
}

.question-header {
    font-size: 1.3rem;
    border: none;
    height: inherit;
    letter-spacing: .03rem;
    text-transform: capitalize;
    padding: .5rem 0;
}

.question-header div {
    align-items: center;
    line-height: 1.2;
}

.iconic-icon {
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

.question-header span.binomial {
    font-size: 1rem;
}

@media (min-width: 768px) {

    .question-container {
        height: 100%;
    }

    .question-header {
        font-size: 1.8rem;
    }

    .test-card .question {
        font-size: 2rem; 
    }

    .test-card button {
        width: fit-content;
    }
}

/* iPHONE 6,7,8 PLUS, iPHONE X, GALAXY S9/S9+ */

@media  (max-width:414px) and (min-height:736px),
        (max-width:375px) and (min-height:812px),
        (max-width:360px) and (min-height:740px) {
            .question-header {
                font-size: 1.8rem;
            }
        }