$maxwidth: 1200px;
$padding: .5rem;
$margin: .5rem;
$hbase: 1.5rem;

h1 {
  font-size: $hbase;
}

h2 {
  font-size: $hbase - .25;
}

h3 {
  font-size: $hbase - .5;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  padding: 2 * $padding;
  max-width: $maxwidth;
}

img {
  max-width: 100%;
  display: block;
}

nav ul {
  columns: 6 100px
}

main ul {
  columns: 2 200px;
}

li {
  list-style-type: none;
  // margin: (2 * $margin) 0;
  span {
    // padding: $padding (2 * $padding);
    &.goto {
      &::before {
        margin: 0 0 0 .25rem;
        content: 'go to: ';
      }
    }
  }
}

a {
  margin: 0 .25rem;  
  &:empty {
    display: none;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: $padding;
  margin: $margin 0;
}

button {
  padding: $padding;
}

.icon {
  min-width: 1rem;
  span:before {
    content:'\2713';
    display:inline-block;
    color: white;
    min-width: 2 * $padding;
    margin-right: $padding
  }
}

.icon.completed span:before {
  color: black;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

@media (max-width: 768px) { 
  article {

  }
}

@media (min-width: 769px) {

}