$maxwidth: 1000px;
$padding: .5rem;
$margin: .5rem;
$hbase: 1.5rem;
$darkgray: rgb(20, 20, 20);
$gray: rgb(50, 50, 50);
$lightgray: rgb(250, 250, 250);
$active: rgb(255, 0, 0);

h1 {
  font-size: $hbase + .5;
  font-family: windsor,Georgia,serif;
  font-weight: normal;
}

h2 {
  font-size: $hbase;
  letter-spacing: .1em;
  font-family: windsor,Georgia,serif;
  font-weight: normal;
}

h3 {
  font-size: $hbase - .5;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  padding: 2 * $padding;
  max-width: $maxwidth;
  color: $gray;
}

img {
  max-width: 100%;
  display: block;
}

nav ul {
  columns: 6 100px
}

li {
  list-style-type: none;
  span {
    &.goto {
      &::before {
        margin: 0 0 0 .25rem;
        content: 'go to: ';
      }
    }
  }
}

a {
  margin: 0 .25rem;  
  &:empty {
    display: none;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: $padding;
  margin: $margin 0;
}

button {
  padding: $padding;
  &:focus {
    outline: none;
  }
}

dd {
  white-space: pre-line;
}

.checklist {
  dt {
    display: grid;
    grid-template-columns: auto (6 * $padding);
    cursor: pointer;  
  }
  dt:nth-child(4n + 1) {
    background-color: $lightgray;
  }
  dd {
    padding: $padding (3 * $padding);
  }
}

.process {
  dt {
    display: grid;
    grid-template-columns: auto (6 * $padding);
    cursor: pointer;  
  }
  dd {
    margin: $padding 0 2*$padding $padding;
    line-height: 1.8;
  }
}

.task {
  button {
    background-color: transparent;
    border: none;
    width: fit-content;
    font-size: 1.2rem;
    cursor: pointer;
    color: $gray;
    span {
      color: $gray;
    }
  }
  padding: $padding;
  button:first-child:before, button:nth-child(2):before {
    display:inline-block;
    border: 1px solid lightgray;
    padding: $padding / 2 $padding;
    margin-right: $padding
  }
  button:first-child:before {
    content:'\2713';
    color: transparent;
  }
  button:nth-child(2):before {
    content:'\25bc';
    color: $gray;
    font-size: 1.5 * $padding;
    border: none;
  }
}

.task button.completed:before {
  color: $darkgray;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

//sr-only
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.active {
  color: $active;
}

.skip-link:focus {
  top: 0;
}

@media (max-width: 768px) { 
  article {

  }
}

@media (min-width: 769px) {

}