@import 'checklist/css/base.scss';
@import 'checklist/css/layout.scss';
@import 'checklist/css/state.scss';
@import 'checklist/css/print.scss';

.checklist, .process {
  dt {
    display: grid;
    grid-template-columns: auto (6 * $padding);
    cursor: pointer;  
  }
  dt:nth-child(4n + 1) {
    border-top: 1px solid $border;
    border-left: 1px solid $border;    
  }
  dt:nth-child(4n + 3) {
    border-top: 1px solid $border;
    border-right: 1px solid $border;
  }
  dd {
    padding: $padding (3 * $padding);
  }
}

.process {
  dt {
    display: grid;
    grid-template-columns: auto (6 * $padding);
    cursor: pointer;  
  }
  dd {
    margin: $padding 0 2*$padding $padding;
    line-height: 1.8;
  }
}

.task {
  padding: $padding;
  button {
    @include accordion-button();
  }  
  button:first-child:before, button:nth-child(2):before {
    display:inline-block;
    border: 1px solid lightgray;;
    padding: $padding / 2 $padding;
    margin-right: $padding;
    width: fit-content;
  }
  button:first-child:before {
    content:'\2713';
    color: transparent;
  }
  button:nth-child(2):before {
    content:'\25bc';
    color: $gray;
    font-size: $fontsize;
    border: none;
  }
}

.task button.completed:before {
  color: $darkgray;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: $white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.about-grid {
  grid-template-columns: 1fr 1fr;
  grid-template:  "main main"
                  "programming programming"
                  "design design"
                  "left right";
  display: grid;
  column-gap: $space * 4;
  main {
    grid-area: main;
    ul {
      font-size: $fontsizesmall;
    }
    li {
      span {
        color: $black;    
      }
    }
  }
  .programming {
    grid-area: programming;
  }
  .design {
    grid-area: design;
  }
  aside {
    display: flex;
    margin-top: $margin * 2;
    flex-direction: column;
    gap: $space;        
    &.left {
      grid-area: left;
      padding: 0 ($padding * 2) 0 0;
    }
    &.right {
      grid-area: right;
      padding: 0 0 0 ($padding * 2);
    }
  }
  .smaller {
    font-size: .8em;
  }
  .bigger {
    font-size: 1.1em;
  }
  .skill {
    margin-top: $margin;
    span {
      font-style: italic;
      font-size: .8em;
      border-bottom: 1px solid $borderlight;
    }
    margin: 0.75rem 0 0.25rem 0;
  }
}

.work {
  font-size: 1.4em;
  color: $black;
}

.legacy {
  div {
    margin: ($margin /2) 0 0 0;
  }
}

.pitch, .history, .education {
  background-color: $gray;
  color: $white;
  div {
    font-size: 1.1em;
    span {
      border-bottom: 1px dashed $white;
    };
  }
  a {
    color: $white;
    border-bottom: 1px solid $white;
  }
  .job {
    font-style: italic;
  }
  .job-link {    
    font-size: .8em;
  }
  .indent {
    margin: 0 0 0 $margin;
  }
}

@media (min-width: 600px) {
  .about-grid {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template: "left  main         right"
                   "left  programming  right"
                   "left  design       right";
  }
  @include show-circles();
  aside {
    &.left {
      border-right: $space * 2 solid $border;
    }
    &.right {
      border-left: $space * 2 solid $border;
    }
  }
}

@media (min-width: 1024px) {
  li  {
    margin-left: initial;
  }
  .circle {
    width: 150px;
    shape-outside: circle();
  }
  #circle-left {
    float: left;
  }
  #circle-right {
    float: right;
    & + ul {
      text-align: right;
    }
  }
  #circle-left:hover, #circle-right:hover {
      color: $white;
      background-size: contain;
      background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQFAu1DpOa0Ygg/profile-displayphoto-shrink_200_200/0?e=1603324800&v=beta&t=XGmhP_mjl1oGKgU1-edbbOaPQzriUDhnrwBMyS1F_xQ');
  }
}