/* CREATE GUIDE */

.modal-guide-wrapper .modal-dialog {
    width: 100%;
    margin: 0rem auto;
  }
  
  .modal-guide-wrapper .modal-header {
    display: none;
  }
  
  .modal-guide-wrapper button.close {
    width: fit-content;
  }
  
  .modal-guide-wrapper .modal-title {
    flex: auto;
    display: flex;
    align-items: center;
    color: rgb(250, 250, 250);
    text-transform: uppercase;
  }
  
  .modal-guide-wrapper .modal-title div { 
    font-size: 1.3rem;
    letter-spacing: .05rem;
  }
  
  .modal-guide-wrapper .modal-title div:nth-child(1) {
    flex: auto;
    font-size: .8rem;        
  }
  
  .modal-guide-wrapper .modal-title div:nth-child(2) {
    flex: initial;
    margin: 0 .5rem 0 0;
    font-size: 1rem;
  }
  
  .modal-guide-wrapper .modal-header .close {
    flex: initial;
    margin: 0;
    display: inline-block;
    font-size: 2rem;
    color: rgb(250, 250, 250);
    text-shadow: none;
    padding: .5rem;
  }
  
  .modal-guide-wrapper .modal-content {
    background-color: initial;
    height: 100%;
  }
  
  .modal-guide-wrapper .modal-body {
    background-color: var(--snap-list-alt-background);
  }
  
  .modal-guide-wrapper .modal-body .guide-text {
    font-size: 1.1rem;
    margin: .5rem 0;
    letter-spacing: .03rem;
    color: var(--snap-text-medium-light);
    font-style: italic;
    font-family: 'ff-tisa-web-pro,Georgia,Times New Roman,Times,serif';
  }
  
  .modal-guide-wrapper .modal-body .guides .guide-text {
    margin: .5rem 0 .25rem .5rem;
  }
  
  .modal-guide-wrapper .modal-body .guide-sub-text {
    font-size: 1rem;
    margin: 0 0 .5rem 0;
  }
  
  .modal-guide-wrapper .modal-body.modal-guide-body {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  
  .modal-guide-wrapper .modal-body.modal-guide-body > div {
    flex: auto;
    display: flex;
    align-items: center;
  }
  
  .modal-guide-wrapper .modal-body.modal-guide-body > div.modal-guide-body {
    flex-direction: column;
    align-items: initial;
    position: relative;
  }
  
  .modal-guide-wrapper .modal-guide-progress {
    max-height: 2.5rem;
  }
  
  .modal-guide-wrapper .modal-guide-navigation {
    max-height: 2.8rem;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-progress > div {
    display: flex;
    align-items: center;
    border-bottom: .05rem solid lightgray;
    padding: .5rem 0;
    width: 100%;
    text-transform: uppercase;
    font-size: .9rem;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-progress > div div {
    flex: auto;
    line-height: 2rem;
    text-align: center;
    letter-spacing: .08rem;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-progress > div > div {
    border-right: .005rem solid lightgray;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-progress > div > div:last-child {
    border-right: none;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-progress .completed {
    background-color: lightgray;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-progress .active {
    color: rgb(250, 250, 250);
    background-color: var(--snap-collection);        
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--snap=--snap-text-dark);
    background-color: var(--snap-filters-ctrl);
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div > div {
    display: flex;
    align-items: center;        
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div:nth-child(1) > div svg {
    font-size: 1.6rem;
    margin: 0 .25rem 0 .5rem;
    line-height: unset;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div:nth-child(2) > div svg {
    font-size: 2rem;
    margin: 0 .5rem 0 .25rem;
  }
  
  .modal-guide-wrapper  .modal-body .modal-guide-navigation > div:nth-child(1),
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div:nth-child(2) {
    color: var(--snap-text-dark);
    cursor: pointer;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div:nth-child(2).disabled {
    color: gray;
    pointer-events: none;
  }
  
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div:nth-child(1):hover,
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div:nth-child(2):hover {
    color: rgb(250, 250, 250);
  }
  
  .modal-guide-wrapper .modal-body .location .current {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  /* Current Selection */
  
  .modal-guide-wrapper .modal-body .chosen {
    position: absolute;
    bottom:.5rem;
    left: 0rem;
  }

  .modal-guide-wrapper .modal-body .chosen > div {
    display: grid;
    grid-template-columns: 8.2rem 1fr;
  }
  
  .modal-guide-wrapper .modal-body .chosen-inat {
    margin: 0 0 0 .5rem;    
  }
  
  .modal-guide-wrapper .modal-body .chosen > div > span:nth-child(1), 
  .modal-guide-wrapper .modal-body .chosen-inat span:nth-child(1) {
    margin: 0 .25rem 0 0;
    letter-spacing: .03rem;
    font-family: 'ff-tisa-web-pro,Georgia,Times New Roman,Times,serif';
    color: var(--snap-text-medium-light);
    font-style: italic;
  }
  
  .modal-guide-wrapper .modal-body .chosen > div span:nth-child(2) > span {
    margin: 0 .25rem;
  }
  
  .modal-guide-wrapper .modal-body .save-your-changes {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
  }
  
  .modal-guide-wrapper .modal-body .save-your-changes button {
    margin: 0 1rem 0 0;
  }
  
  .modal-guide-wrapper .modal-body .saved {
    color: var(--gray);
    font-size: 1.2rem;
    font-style: italic;
    font-family: 'ff-tisa-web-pro,Georgia,Times New Roman,Times,serif';
    position: absolute;
    bottom: 1rem;
  }

  .modal-guide-wrapper .modal-body button {
    display: inline-block;
    margin: 0;
    color: white;
    letter-spacing: .05rem;
  }

  .modal-guide-wrapper .modal-body button.disabled {
    color: rgb(150,150,150);
  }
  
  .modal-guide-wrapper .modal-body .inat-location-location button {
    width: 100%;  
    background-color: var(--snap-text-medium-dark);
  }
  
  .modal-guide-wrapper .modal-body button:hover {
    color: lightgray;
  }

  .inat-location-place.disabled {
    color: var(--secondary) !important;
    pointer-events: none;
  }

  .modal-guide-wrapper .modal-body button.js-set-inat-identity-btn {
    color: var(--snap-text-light);        
    background-color: var(--snap-text-medium-dark);
  }
  
  .modal-guide-wrapper .inat-location-place .custom-checkbox {
    position: relative;
    margin: .5rem 0 0 0;
  }
  
  .modal-guide-wrapper .inat-location-place .custom-control-label {
    vertical-align: text-top;
    display: inline-block;
    cursor: pointer;
  }
  
  .modal-guide-wrapper .guides {
    display: flex;
    flex-direction: column;
  }
  
  .modal-guide-wrapper .guides .months {
    font-size: 1.4rem;
    margin: 1rem 0 0 0;
    letter-spacing: .05rem;
    font-family: serif;
    font-variant-caps: small-caps;
  }
  
  .modal-guide-wrapper .guides .months span:nth-child(2) {
    margin: 0 0 0 .5rem;        
  }
  
  .modal-guide-wrapper #inat-place {
    width: 100%;
    margin: .5rem 0;
    border: .1rem solid lightgray;
  }
  
  .modal-guide-wrapper #inat-place::placeholder {
    display: inline;
  }
  
  .modal-guide-wrapper .guides .inat-entry, .modal-guide-wrapper .guides input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 0 .25rem;
  }

  /* SLIDER */

.modal-guide-body .range-slider {
    font-size: .9rem;
    display: flex;
    align-items: center;
    margin: 1.5rem 0 0 0;
  }
  
  .modal-guide-body .range-slider.disabled {
    color: var(--secondary);
  }
  
  .modal-guide-body .range-slider > span:nth-child(2) {  
    margin-left: .5rem;
  }
  
  .range-limits {
    display: none;
  }
  
  .modal-guide-body .set-range-input {
    cursor: pointer;
    width: 13.25rem; 
    vertical-align: bottom;    
  }
  
  .modal-guide-body .range-slider.disabled .set-range-input {
    pointer-events: none;
  }
  
  /* SNAPDRAGON SWITCH */
  
  .inat-switch-slider {
    width: 3.6rem;
    height: 2rem;
    padding: .2rem;
    border-radius: .2rem;
    cursor: pointer;
    margin: 0 .75rem;
    position: relative;
    transition: all 1s ease;
  }
  
  .inat-switch-slider div {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: .2rem;
    background-color: var(--snap-collection);
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-delay: 0s;
    position: absolute;
  }
  
  .embedded-switch > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .inat-switch-slider.left {            
    background-color: white;
  }
  
  .inat-switch-slider.left div {
    transform: translateX(0);
  }
  
  .inat-switch .txt-left, .inat-switch .txt-right {
    color: rgb(150,150,150);
    transition: all 1s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .inat-switch .txt-right {
    justify-content: flex-start;
  }

  .inat-switch .txt-left.selected, .inat-switch .txt-right.selected {
    color: white;
    transition: all 1s ease;
  }

  .inat-switch-slider.right {    
    background-color: white;
  }
  
  .inat-switch-slider.right div {
    transform: translateX(1.4rem);
  }
  
  /* INAT SWITCH */
  
  .inat.inat-switch > div {
    margin: .25rem 0 .5rem 0;
  }
  
  .inat-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--snap-text-medium-light);
    color: var(--snap-text-medium-dark);
    padding: .3rem .2rem;
    width: fit-content;
    border-radius: .2rem;
    background-color: rgb(110, 138, 49);
    letter-spacing: .05rem;
    width: 100%;
    font-size: 1rem;
  }
  
  .guides .inat .inat-switch {
    flex-direction: column;
  }
  
  .inat-switch .embedded-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .inat-switch.location, .inat-switch.inat, .inat-switch.season {
    width: 100%;
    flex-direction: column;
    background-color: var(--snap-text-medium-dark);
  }

  .inat-switch.location {
    margin-bottom: .5rem;
  }

  .inat-location-place .btn-modal {
    background-color: var(--snap-text-medium-dark);
  }

  #set-inat-identity-btn {  
    width: 100%;
  }
  
  /* AUTOCOMPLETE */
  
  .modal-guide-wrapper #inat-place.active {
    border: .1rem solid var(--snap-text-medium-dark);
  }
  
  #inat-place-autocomplete, #inat-identity-autocomplete {
    z-index: 9999;
    position: absolute;
    padding: 0 .25rem;
    color: var(--snap-text-dark-medium-dark);
    background-color: rgb(250, 250, 250);
    letter-spacing: .04rem;
    border: .05rem solid lightgray;
  }
  
  #inat-place-autocomplete {
    width: initial;
  }
  
  #inat-place-autocomplete > div, #inat-identity-autocomplete div {
    padding: .25rem;
  }
  
  #inat-place-autocomplete .selected, #inat-identity-autocomplete .selected {
    color: var(--snap-dd-non-taxa-bg-hover);
    background-color: var(--snap-text-medium-dark);
  }
  
  #place span {
    margin: 0 .25rem 0 0;
  }

  /* CATEGORIES */

  .iconic-taxa-categories {
    display: grid;
    grid-template-columns: 1fr;
  }

  .iconic-taxa-categories > div {
    height: 2.2rem;
  }
  
  .iconic-taxa-categories > div > div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  /* Icon categories list, icon container and size */

  .iconic-taxa-categories > div > div > div:nth-child(1) {    
    width: 1.8rem;
    height: 1.8rem;
    font-size: 1rem;
    margin: 0 .25rem 0 0;
    border: .05rem solid grey;
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;
  }

  .iconic-taxa-selected {
    color: var(--snap-lesson);
  }

  /* Mushroom icon sizes */

  .iconic-taxa-categories svg,
  .selected-text .iconic-taxa-categories-selected svg,
  .lesson-taxa .iconic-taxa-categories-selected svg {
    width: 1rem;
    height: 1rem;
  }

  .iconic-taxa-categories-selected svg {
    margin: 0;
  }

  .selected-text svg {
    color: var(--snap-collection-active);
  }

  .lesson-taxa .iconic-taxa-categories-selected svg g {
    fill: var(--snap-text-medium-dark);
  }

  .iconic-taxa-categories-selected svg {
    width: 2rem;
    height: 2rem;
  }
  
  .iconic-taxa-categories-selected svg {
    vertical-align: -.125em;
  }
  
  .iconic-taxa-categories-selected svg g {
    fill: var(--snap-collection-active);
  }
  
  .mushroom-icon svg {
    width: 2rem;
    height: 2rem;
    fill: black;
  }

  .svg-icon {
    margin: 0.25rem 0 0;
  }
  
  .svg-icon-selected {
    fill: var(--snap-success);
  }  

  /* EXAMPLE LESSONS INC. RB LIST */

  #exampleGuide .btn.btn-secondary {
    height: 4rem;
    margin: 1.25rem 0;
    padding: 0.25rem 0 0.25rem 1.5rem;
    flex-direction: row;
    align-items: center;
    font-size: .9rem;
  }

  #exampleGuide .btn-secondary:not(:disabled):not(.disabled).active {
    width: 100%;    
    border-radius: .25rem;
    color: var(--snap-text-light);
    background-color: gray;
  }

  #exampleGuide .lesson-taxa {
    text-align: left;
  }

  /* prevent child elements of listener triggering an event */  
  #exampleGuide .btn.btn-secondary > * {
    pointer-events: none;    
  }

  .non-taxon .btn.btn-secondary input {
    pointer-events: none;
  }

  #exampleGuide .btn.btn-secondary.active div.lesson-radio-button {
    background-color: var(--snap-text-light);
    border: .05rem solid gray;
  }
  
  #exampleGuide .lesson-name {
    width: 100%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #exampleGuide .lesson-taxa {
    font-size: .8rem;
  }
  
  #exampleGuide .lesson-taxa span {
    margin: 0 .15rem 0 0;
  }

  #exampleGuide .btn.btn-secondary.active .lesson-taxa .iconic-taxa-categories-selected svg g {
    fill: white;
  }

  #exampleGuide #confirm-lesson-btn {
    margin: 1.5rem 0;
    width: 9rem;
    background-color: var(--snap-text-medium-dark);
  }

  #exampleGuide .lesson-radio-button {
    width: 1rem !important;
    height: 1rem !important;
    border-radius: 2rem;
    z-index: 9999;
    background-color: gray;
    margin: 0 .5rem 0 0;
  }

  #exampleGuide .guide-example-lessons {
    padding: 0;
    margin: 0;
  }
  
  .btn-group.btn-group-toggle.scrollable {
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    left: .5rem;
    right: .5rem;
  }

  /* PORTRAIT & LANDSCAPE EXAMPLE GUIDE */

  #exampleGuide .btn.btn-secondary {
    margin: 0 0 .5rem 0;
    padding: .25rem 0 .25rem .5rem;
    font-size: initial;
    width: 100%;
  }

  #exampleGuide .lesson-radio-button {
    width: 2rem;
    height: 2rem;
  }

  #exampleGuide .btn-group label:nth-of-type(2n) {
    background-color: var(--snap-lesson-row-green);
  }

  #exampleGuide .btn-group label:nth-of-type(2n+1) {
    background-color: var(--snap-lesson-row-blue);
  }

  #exampleGuide .start-lesson-wrapper.disabled {
    pointer-events: none;
  }    

  #exampleGuide .modal-guide-progress {
    cursor: pointer;
  }

  #exampleGuide .modal-guide-progress span {
    pointer-events: none;
  }

  .modal-guide-wrapper .modal-body.modal-guide-body {  
    height: 32rem;
  }
  
  @media (min-width: 768px) {

    .modal-guide-wrapper .modal-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 1rem;
      background-color: var(--secondary);
    }

    .btn-group.btn-group-toggle.scrollable {
      left: 0rem;
      right: 0rem;
      margin: 3rem 0 0 0;
    }

    .modal-guide-wrapper .modal-body .btn-modal .inat-location-place {
        width: fit-content;
        width: 7rem;
      }

    .modal-guide-wrapper .modal-dialog {
        width: 60%;
        max-width: 600px;
        margin: 2rem auto;
    }

    .inat-switch.location, .inat-switch.inat, .inat-switch.season {
      width: 8rem;
      width: fit-content;
    }

    .inat-switch.inat, .guides .inat .inat-switch {
      flex-direction: row;
    }

    .modal-guide-wrapper .modal-title div:nth-child(1) {
        flex: auto;
        font-size: 1.1rem;        
    }

    .modal-guide-wrapper .modal-header .close {
        margin: 0 0 0 .5rem;
    }

    .modal-guide-wrapper .modal-guide-progress, .modal-guide-wrapper .modal-guide-navigation {
        max-height: 4rem;
    }

    .modal-guide-wrapper .modal-body .modal-guide-progress > div {
      padding: 0 0 .5rem 0;
    }

    .modal-guide-wrapper .modal-body .modal-guide-progress > div div {
        line-height: 3.45rem;
    }

    .modal-guide-wrapper .modal-body .guide-text {
      font-size: 1.2rem;
    }

    .modal-guide-wrapper .inat-location-place .custom-checkbox {
        margin: 0 0 0 .5rem;
    }

    .modal-guide-wrapper .guides .inat-entry {
        display: flex;
        font-size: 1.1rem; 
        align-items: center;
        margin: 0 0 0 1rem;
    }

    .modal-guide-wrapper .guides input[type="text"] {
        margin: 0 .5rem 0 0;
        height: 1.75rem;
        color: var(--snap-text-medium-dark);
        padding: 0 .1rem;
    }

    .modal-guide-wrapper .location.inat-switch {
        width: 100%;
        margin-top: 2rem;
    }

    .modal-guide-wrapper .inat.inat-switch {
      width: 37rem;
      width: fit-content;
    }

    .modal-guide-wrapper .season.inat-switch {
      width: 18rem;
      width: fit-content;
    }

    .modal-guide-wrapper #inat-place {
        margin: 0;
        flex: 3;
      }

    .inat-location-place #inat-place::placeholder {
        color: var(--gray);
        font-size: 1rem;
        font-style: italic;
    }

    .inat-location-place #inat-place:disabled::placeholder {
        color: white;
    }

    #set-inat-location-btn {
      width: 8rem;
      width: fit-content;
      margin-left: .25rem;
    }

    #inat-place, #inat-place-id {
        margin: 0 .5rem  0 0;
        width: 20rem;        
    }

    .modal-guide-wrapper .actions label {
        margin: 0;
    }

    /* .modal-guide-wrapper .modal-guide-body .set-range-input {
        width: 15rem;
    } */

    .modal-guide-wrapper .guides .inat-entry, .modal-guide-wrapper .guides input[type="text"] {
        width: 12rem;
        width: fit-content;
    }  

    /* SLIDER */

    .modal-guide-wrapper .modal-guide-body .range-slider > span:nth-child(2) {
        width: fit-content;
        border: .05rem solid lightgray;
        padding: .5rem;
    }

    .range-limits {
        display: initial;
        margin: 0 .1rem;
    }

    /* SNAPDRAGON SWITCH */

    .inat-switch-slider .embedded-switch {
        display: inline;
    }

    .embedded-switch > div {
      grid-template-columns: 1fr 5rem 1fr;
    }

    .inat-location-elsewhere {
      display: grid;
      grid-template-columns: 1fr .25rem 1fr;
    }

    .iconic-taxa-categories {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
      margin: 2rem 0 0 0;
    }

    .iconic-taxa-categories > div > div:nth-child(1) { 
        margin: 0 0.5rem 0.5rem 0;
    }
     
    .inat-location-place {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .inat-location-place > div:nth-child(2) {
        margin: 0 0 0 .5rem;
    }

    .inat.inat-switch > div {
        margin: 0;
        height: 2rem;
    }

    #set-inat-identity-btn {  
      width: 10rem;
    }
  }

@media (max-width: 320px) and (max-height: 568px) {
    .modal-guide-wrapper .modal-body.modal-guide-body {  
        height: 30rem;        
    }
}

@media (min-height: 640px) {
  .home-container .snapdragon-tag, .home-container .summary-scores {
      font-size: 2rem;
  }
  .iconic-taxa-categories > div {
      height: 2.8rem;
  }
  .iconic-taxa-categories > div > div > div:nth-child(1) {    
      width: 2.5rem;
      height: 2.5rem;
      margin: 0 .5rem 0 0;
  }
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div:nth-child(1) > div svg {
      font-size: 2rem;
  }
}