#createGuide .modal-dialog {
  max-width: 600px;
  margin: auto;
}

.step-action-content {
  padding: 0 .5rem;
  height: calc((var(--vh, 1vh) * 100) - var(--vhFixtures, 15vh) - var(--vhStandardBlock,20vh) - var(--vhRunningBlock));  
}
  
  .species-picker-link {
    font-size: .8rem !important;
    font-style: initial;
  }

  .modal-guide-progress > div {
    display: flex;
    align-items: center;
    padding: .5rem;    
    height: inherit;    
  }

  .modal-subheader {
    font-size: 1.1em;
  }

  .modal-guide-progress .steps {
    text-transform: uppercase;
  }

  .modal-body .modal-guide-progress > div div {
    flex: 1;
    text-align: center;
    padding: .5rem 0;
  }
  
  .modal-body .modal-guide-progress > div > div {
    border-right: .005rem solid var(--snap-border-lightest);
  }
  
  .modal-body .modal-guide-progress > div > div:last-child {
    border-right: none;
  }

  .modal-body .modal-guide-progress .active {
    color: var(--snap-text-dark);
    background-color: var(--snap-active);
  }
  
  .modal-guide-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 .5rem;
  }
  
  .modal-guide-navigation > div > div {
    display: flex;
    align-items: center;        
  }
  
  .modal-guide-navigation > div:nth-child(1) > div svg {
    font-size: 1.6rem;
    margin: 0 .25rem 0 .5rem;
    line-height: unset;
  }

  .arrow-wrapper {
    font-size: 1.6rem;
    pointer-events: none;
    color: var(--snap-text-light);
    background-color: var(--snap-collection-active);
    height: var(--vhRunningBlock);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
  }
  
  .arrow-wrapper i {
    pointer-events: initial;
    cursor: pointer;
  }
  
  .modal-guide-wrapper .modal-body .location .current {
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }

  #set-inat-location-btn {
    width: 100%;
  }

  .species-picker-container {
    position: relative;
  }

  .species-picker-container > div {
    position: absolute;
    top: -5rem;
    width: 100%;
    display: flex;
  }

  .chosen-guide-filter {
    display: flex;
    align-items: center;
  }

  .chosen {
    position: absolute;
    left: .5rem;
    right: .5rem;
    bottom: calc(var(--vhStandardBlock));  
    height: var(--vhHalfStandardBlock, 5vh);
  }
  
  .chosen > div span:nth-child(2) > span {
    margin: 0 .25rem;
  }
  
  .save-your-changes {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
  }
  
  .modal-body .save-your-changes button {
    margin: 0 1rem 0 0;
  }
  
  .modal-body .inat-location-location button {
    width: 100%;  
    background-color: var(--snap-text-medium-dark);
  }

  .html5-location-place {
    width: 100%;
  }

  #set-inat-identity-btn {
    color: var(--snap-text-light);        
    background-color: rgb(127, 151, 122);
    width: 100%;
  }

  .modal-guide-wrapper .modal-body .inat button.js-set-inat-identity-btn {
    color: var(--snap-text-light);        
    background-color: rgb(127, 151, 122);
  }

  #inat-place, #input-species {
    width: calc(var(--vwGrid) - 1rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 1rem 0 .5rem 0;
  }

  #inat-place::placeholder {
    display: inline;
  }
  
  .inat.snap-switch .inat-entry, .inat.snap-switch input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* SLIDER */

.modal-guide-body .range-slider {
    font-size: .9em;
    height: var(--vhStandardBlock);
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: space-evenly;
  }
  
  .modal-guide-body .range-slider > div:nth-child(2) {
    display: flex;
  }

  .range-limits {
    display: none;
  }
  
  .modal-guide-body .set-range-input {
    cursor: pointer;
    width: 100%;
    margin: 0 .25rem;
  }
  
  .modal-guide-body .range-slider.disabled .set-range-input {
    pointer-events: none;
  }
  
  /* SNAPDRAGON SWITCH */

  .snap-switch {
    display: flex;
    align-items: center;
  }
  
  .snap-switch-slider {
    cursor: pointer;
    background-color: rgb(197, 203, 204);
  }
  
  .snap-switch-slider div {
    height: 1.6rem;
    width: 1.6rem;
    border-radius: .2rem;
    background-color: var(--snap-collection);
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-delay: 0s;
    position: absolute;
  }

  .inat .snap-switch-slider div {
    background-color: var(--snap-inat);
  }
  
.embedded-switch {
  display: grid;
  grid-template-columns: auto 3.2rem 1fr;
  height: 1.6rem;
}

  .snap-switch-slider.left div {
    transform: translateX(0);
  }
  
  .snap-switch .txt-left {
    align-self: center;
    padding: 0 .5rem 0 0;
    font-size: .9em;
  }

  .snap-switch .txt-right {
    align-self: center;
    padding: 0 0 0 .5rem;
  }

  .snap-switch-slider.right div {
    transform: translateX(1.6rem);
  }

  .guides .inat .snap-switch {
    flex-direction: column;
  }
   
  /* AUTOCOMPLETE */
  
  #inat-place.active, #input-species.active {
    border: .1rem solid var(--snap-text-medium-dark);
  }
  
  .autocomplete-options-container, .inat-autocomplete-options-container {
    z-index: 9999;
    color: var(--snap-text-dark-medium-dark);
    background-color: rgb(250, 250, 250);
    border: .05rem solid var(--snap-border-lightest);
    text-align: left;
    width: initial;
    /* top: calc(var(--vhStandardBlock) + var(--vhStandardBlock) + var(--vhHalfStandardBlock) + var(--vhRunningBlock) + 2rem) !important; */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .autocomplete-options-container > div, .inat-autocomplete-options-container > div {
    padding: .25rem;
  }
  
  .autocomplete-options-container .selected, .inat-autocomplete-options-container .selected {
    color: var(--snap-dd-non-taxa-bg-hover);
    background-color: var(--snap-text-medium-dark);
  }

  .inat-autocomplete-options-container .selected {
    background-color: var(--snap-inat);
  }
  
  #place span {
    margin: 0 .25rem 0 0;
  }

  /* CATEGORIES */

  .iconic-taxa-categories {
    display: grid;
    height: calc((var(--vh, 1vh) * 100) - var(--vhFixtures, 15vh) - var(--vhDoubleStandardBlock,20vh) - var(--vhHalfStandardBlock) );
    padding: 1rem;
  }

  .iconic-taxa-categories > div > div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  /* Icon categories list, icon container and size */

  .iconic-taxa-categories > div > div > div:nth-child(1) {    
    padding: .25rem;
    margin: 0 .5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;  
    cursor: pointer;
  }

  .iconic-taxa-categories > div > div > div:nth-child(1) svg {
    color: var(--snap-collection);
  }

  .iconic-taxa-categories g {
    fill: var(--snap-collection);
  }

  .iconic-taxa-categories i {
    font-size: 1rem;
    color: var(--snap-collection);
  }

  .iconic-taxa-selected svg {
    color: var(--snap-collection-active) !important;
  }

  .iconic-taxa-selected svg g {
    fill: var(--snap-collection-active) !important;
  }

  .prop-value-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .prop-value-block > span:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: inherit;
    font-size: 1.1rem;
  }

  /* Mushroom icon sizes */

  .iconic-taxa-categories svg, .iconic-taxa-categories-selected svg {
    width: 1rem;
    height: 1rem;
  }

  .selected-text svg, .selected-text i, .iconic-taxa-selected i {
    color: var(--snap-collection-active);
  }

  .lesson-taxa .iconic-taxa-categories-selected svg g {
    fill: var(--snap-text-medium-dark);
  }
  
  .iconic-taxa-categories-selected svg {
    vertical-align: -.125em;
  }
  
  .lesson-taxa .iconic-taxa-categories-selected svg {
    width: 1rem;
    height: 1rem;
  }
  
  .home-guide .iconic-taxa-categories-selected svg {
    width: 2rem;
    height: 2rem;
  }

  .iconic-taxa-categories-selected svg g {
    fill: var(--snap-collection-active);
  }

  .svg-icon {
    margin: 0.25rem 0 0;
  }
  
  .svg-icon-selected {
    fill: var(--snap-success);
    color: var(--snap-success);
  }  

  /* EXAMPLE LESSONS INC. RB LIST */

  .btn.btn-secondary {
    flex-direction: row;
    align-items: center;
  }

  .lesson-taxa {
    overflow-wrap: break-word;
    white-space: initial;
  }

  .locations .btn.btn-secondary > * {
    pointer-events: all;
  }

  .non-taxon .btn.btn-secondary input {
    pointer-events: none;
  }

  .lesson-name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .lesson-taxa span:nth-child(1) {
    margin: 0 .15rem 0 0;
  }

  .lesson-taxa span:nth-child(2) {
    font-style: italic;
  }

  .btn.btn-secondary.active .lesson-taxa .iconic-taxa-categories-selected svg g {
    fill: white;
  }

  #confirm-lesson-btn {
    margin: 1.5rem 0;
    width: 9rem;
    background-color: var(--snap-text-medium-dark);
  }

  .lesson-radio-button {
    margin-right: .5rem;
  }

  /* PORTRAIT & LANDSCAPE EXAMPLE GUIDE */

  .btn.btn-secondary {
    width: 100%;
  }

  .start-lesson-wrapper.disabled {
    pointer-events: none;
  }    

  .modal-guide-progress {
    cursor: pointer;
  }

  .modal-guide-progress span {
    pointer-events: none;
  }

  .location-checkbox {
    line-height: 3rem;
  }

  .guide-bottom-actions {
    display: flex;
    position: absolute;
  }

  .guide-bottom-actions span:nth-child(1) {
    font-size: .8rem;
  }

  .guide-bottom-actions span:nth-child(2) {
    margin-left: .25rem;
  }

  .location-option > div {
    width: 100%;
  }

  .location-option.inat-entry {
    position: relative;
  }

  .location-option.or-options {
    text-align: center;
    font-style: italic;
  }

  .location-option.range {
    border: none;
  }

  .location-option button {
    width: 100%;
  }
  
  .location-option:nth-child(3) > div:nth-child(2) {
    flex: auto;
    position: relative;
  }

  #googleLogo {
    width:  auto;
    height: 1rem
  }

  .location-actions {
    height: 100%;
  }

  .location-actions .actions {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }

  .species-picker-actions {
    height: initial;
  }

  .filter-option {
    color: black;
  }

  .taxa-actions .actions {
    grid-template-rows: 1fr;
  }

  .filter-actions .actions {
    grid-template-rows: auto;
  }

  .filter-actions .actions {
    justify-content: space-between; 
  }

  .filter-actions + div {
    display: none !important;
  }

  .filter-language-option-block {
    position: absolute;
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
  }

  .filter-language-option-block > div:nth-child(1) {
    margin-bottom: 1rem;
  }

  .filter-language-option-block span {
    text-transform: uppercase;
  }

  .custom-lesson-species-list {
    display: flex;
    flex-direction: column;
    pointer-events: initial;
    cursor: pointer;
  }

  .custom-lesson-species-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--snap-lesson-row-blue);
    height: var(--vhRunningBlock);
    margin-bottom: 1rem;
  }

  .custom-lesson-species-list li span {
    padding: .5rem;
  }

  .custom-lesson-species-list li:nth-of-type(2n) {
    background-color: var(--snap-lesson-row-green);
  }

  .species-actions + div {
    display: none !important;
  }

  .modal-guide-progress {
    height: calc(var(--vhStandardBlock, 10vh) - 5px);
  }
  
  .modal-guide-navigation {
    height: var(--vhRunningBlock, 10vh);
    background-color: var(--snap-lesson-row-blue);
  }

@media (min-height: 640px) {  
  .modal-guide-wrapper .modal-body .modal-guide-navigation > div:nth-child(1) > div svg {
      font-size: 2rem;
  }
}

@media (min-height: 667px) {

  .iconic-taxa-categories > div > div > div:nth-child(1) svg, .iconic-taxa-categories i {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }
}