:root {

    --snap-text-dark: rgb(45,45,45);
    --snap-text-light:rgb(255, 255, 255);
    
    --snap-primary: rgba(52, 105, 23, .3);
    --snap-collection: rgba(2, 43, 84, .7);
    --snap-option: rgba(158, 201, 239, .6);
    --snap-button: rgb(52, 105, 23);
  
    --snap-primary-hover: rgb(205,205,205);
    --snap-primary-active: rgb(205,205,205);
    
    --snap-alert: rgb(183, 12, 21);
    --snap-inactive: rgba(125,125,125, .4);
    --snap-active: rgb(0, 42, 84);
    --snap-success: rgb(41, 108, 44);
    
    --snap-link: rgb(0, 42, 84);

    --snap-progress-bg: rgb(45,45,45);
    --snap-progress-bar: rgb(233, 232, 111);
  
    --snap-block-light: rgba(255, 255, 255,.9);

    --snap-grid-background: rgba(185, 200, 204,.3);
    --snap-container-background: rgb(255, 255, 255);
    --snap-card-background: rgba(52, 105, 23,.1);
    --snap-strips-background: rgba(145, 164, 176,.6);
    --snap-list-background: rgba(125,125,125,.1);
  
    --snap-border-dark: rgba(175,175,175,.6);
    --snap-border-light: rgb(255, 255, 255);
    
    --snap-button-border-dark: rgba(175,175,175,.6);
  
    --snap-modal-background: rgb(50, 50, 50);
    --snap-modal-title: rgb(50, 50, 50);
  }