* {box-sizing: border-box;}  

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
  width: 100vw;
  height: 100vh;
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace
}

.grid div {
  color: #fff;
 }

 .left-grid {
  display: grid;
  grid-column: 2;
  grid-auto-flow: column;
  grid-template-columns: 512px;
  grid-template-rows: 50px 512px 50px;
  grid-template-areas: "header"
                      "squares"
                      "footer"
}

.right-grid {
display: grid;
grid-column: 4;
grid-auto-flow: column;
grid-template-columns: 512px;
grid-template-rows: 50px 512px 50px;
grid-template-areas: "header"
                     "squares"
                     "footer"
}

@media (min-width: 1200px) {
.left-grid {
  grid-template-columns: 600px;
  grid-template-rows: 60px 600px 60px;
}

.right-grid {
  grid-template-columns: 600px;
  grid-template-rows: 60px 600px 60px;
 }
}

.squares {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 256px 256px;
  grid-template-rows: 256px;
  grid-template-areas: "one two"
                       "three four"
}

.squares img {
  object-fit: cover;
  height: 256px;
  width: 256px;
}

@media (min-width: 1200px) {
  .squares {
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px;
  }
  .squares img {
    height: 300px;
    width: 300px;
  }
}

.square:nth-child(1) {
  grid-area: one;
}

.square:nth-child(2) {
  grid-area: two;
}

.square:nth-child(3) {
  grid-area: three;
}

.square:nth-child(4) {
  grid-area: four;
}

.footer {
  grid-area: footer;
  height: 60px;
  padding: 20px 0 0 20px;
  background-color: rgb(192, 58, 72);
  color: black;
}

@media (min-width: 1200px) {
  .footer {
    height: 60px;
  }
}

.answer {
  grid-area: five;
  background-color: rgb(51, 128, 183);
  padding: 10px 0 0 10px;
  text-transform: capitalize;
  cursor: pointer;
  height: 140px;
}

.header {
  grid-area: header;
  height: 60px;
  background-color: rgb(128, 128, 128);
  padding: 20px 0 0 20px;
  font-size: 1em;
}

@media (min-width: 1200px) {
  .answer {
    height: 180px;
  }
  .header {
    height: 60px;
  }
}

.rectangles {
  display: grid;
  grid-auto-flow: column;
  background-color: steelblue;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px;
  grid-template-areas: "one two"
                       "three four"
                       "five six"
}

.rectangle {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 20px 1fr 0px;
  grid-template-areas: "one two three"
                       "four five six"
                       "seven eight nine";
}

@media (min-width: 1200px) {
  .rectangles {
    grid-template-rows: 200px;
  }
}

.rectangles img {
  object-fit: cover;
  height: 200px;
  width: 300px;
}

.rectangle img.thumb {
  object-fit: cover;
  height: 100px;
  width: 100px;
}

.vernacular-name {
  grid-area: five;
  padding: 5px 0 0 5px;
  font-size: 0.8em;
}

.vernacular-name p {
  height: 6px;
}

.rectangle:nth-child(1) {
  grid-area: one;
}

.rectangle:nth-child(2) {
    grid-area: two;
}

.rectangle:nth-child(3) {
    grid-area: three;
  }
  
.rectangle:nth-child(3) {
  grid-area: four;
}

.rectangle:nth-child(5) {
  grid-area: five;
}

.rectangle:nth-child(6) {
  grid-area: six;
}

.right-body {
  background-color: rgba(44, 141, 86, .8);
}

.letterbox {
  grid-area: letterbox;
  display: grid;
  grid-auto-flow: row;
  background-color: rgb(85, 165, 119);
  grid-template-rows: 256px 100px 256px;
  grid-template-areas: "one"
                       "two"
                       "three"
}

.letterbox div:nth-child(1) {
  grid-area: one;
}

.letterbox div:nth-child(2) {
  grid-area: two;
  background-color: rgba(44, 141, 86, .8);
  padding: 26px 10px;
}

.letterbox div:nth-child(3) {
  grid-area: three;
}

.letterbox span {
  font-size: 1.2em;
  color: #fff;
}

.letterbox input {  
  height: 42px;
  font-size: 1.4em;
  padding: 5px;
  color: rgb(60, 60, 60);
}

.letterbox input.short {
  width: 230px;
}

.letterbox input.long {
  width: 300px;
}

.letterbox button {
  margin: 0 5px;
  width: 80px;
}

@media (min-width: 1200px) {
  .letterbox input.short {
    width: 300px;
  }
  
  .letterbox input.long {
    width: 450px;
  }
  
  .letterbox button {
    margin: 0 5px;
    width: 100px;
  }
}

.new-species-grid{
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 50px 2fr 5fr 100px;
  grid-template-areas:  "family"
                        "name"
                        "names"
                        "continue";
  grid-gap: 10px;
  margin: 20px;
}

.species-card-btn {
  grid-area: continue;
  text-align: right;
}

.species-card-btn button {
  width: 150px;
}

.species-card-name {
  grid-area: name;
  font-size: 1.8em;
  text-align: right;  
}

.species-card-family {
  grid-area: family;
  text-transform: uppercase; 
  font-size: 1.4em; 
  text-align: right;
  letter-spacing: 2px;
}

.species-card-wikipedia {
  grid-area: wiki;
  background-color: rgb(128, 128, 128);
  padding: 10px;
  font-size: .9em;
}

.species-card-names {
  grid-area: names;
  text-transform: capitalize;
  text-align: right;
}

.family-name {
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: right;
}

ul {
  margin: 0;
  padding: 10px;
  color: rgb(105, 105, 105);
}

li {
  list-style-type: none;
}

a {
  color: #ffffff;
}

.species-tiles-grid {
  display: grid;
  grid-template-areas:  "tile1  tile2 tile3"
                        "tile4  tile5 tile6"
                        "tile7  tile8 tile9";
}

.tiles {
  height: 510px;
  width: 510px;
}

.tile {
  width: 170px;
}

.tile :nth-child(1) {
  grid-area: tile1;
};

.tile :nth-child(2) {
  grid-area: tile2;
};

.tile :nth-child(3) {
  grid-area: tile3;
};

.tile :nth-child(4) {
  grid-area: tile4;
};

.tile :nth-child(5) {
  grid-area: tile5;
};

.tile :nth-child(6) {
  grid-area: tile6;
};

.tile :nth-child(7) {
  grid-area: tile7;
};

.tile :nth-child(8) {
  grid-area: tile8;
};

.tile :nth-child(9) {
  grid-area: tile9;
};

.tile img {
  object-fit: cover;
  cursor: pointer;
  height: 170px;
  width: 170px;
}

@media (min-width: 1200px) {
  .tiles {
    height: 600px;
    width: 600px;
  }
  .tile {
    width: 200px;
  }
  .tile img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    cursor: pointer;
  }
}

.progress {
  padding: 20px;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
button:active {
	position:relative;
  top:1px;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}