:root {

    --snap-text: rgb(45,45,45);
    --snap-white:rgb(255, 255, 255);
    
    --snap-primary: rgba(52, 105, 23, .3);
    --snap-secondary: rgba(2, 43, 84, .7);
    --snap-tertiary: rgb(52, 105, 23);
  
    --snap-primary-hover: rgb(205,205,205);
    --snap-primary-active: rgb(205,205,205);
    
    --snap-alert: rgb(183, 12, 21);
    --snap-inactive: rgba(125,125,125, .4);
    --snap-success: rgb(41, 108, 44);
    --snap-progress: rgb(233, 232, 111);
    --snap-link: rgb(173,216,230);
  
    --snap-background-primary: rgba(255, 255, 255,.9);
    /* --snap-background-secondary: rgba(173,216,230,.2); */
    --snap-background-secondary: rgba(185, 200, 204,.3);
    --snap-background-tertiary: rgb(255, 255, 255);
  
    --snap-card-background: rgba(52, 105, 23,.1);
    --snap-card-border: rgba(175,175,175,.2);
    
    --snap-button-border: rgba(175,175,175,.6);
  
    --snap-list-background: rgba(125,125,125,.1);
  
    --snap-modal-background: rgb(50, 50, 50);
    --snap-modal-title: rgb(50, 50, 50);
  }