@media (min-width: 1200px) {

  body {
    font-size: 16px;
  }

  .grid {        
    grid-template-columns: 3fr 10fr 1em 10fr 3fr;  
  }

  .left-grid {
    grid-column: 2;
  }

  .right-grid {
      grid-column: 4;
  }

  .flex.wiki {
    display: block;
  }

  block {
    margin: .1em;
    padding: .1em .2em;
    letter-spacing: .1em;
    border-radius: .2em;
  }

  iframe {
    width: 960px;
    max-width: 960px;
    border: 0;
    height: 100%;
  }
  
  #externalPageModal .modal-dialog {
    max-width: 1000px;
  }

  #externalPageModal .modal-content {
    height: 600px;
  }

  #externalPageModal .modal-body {
    height: 550px;
  }

  /* .list-group-container {
    height: 70vh;
  } */
}

@media (min-width: 1366px) and (orientation: landscape) {
  .grid {
      grid-template-columns: 1fr 10fr 1em 10fr 1fr;
  }
}