@media (max-width: 767px) {
    .modal-iframe  {
        margin: 0;
        padding: 0;
        border: none;
        resize: both;
        overflow-y: scroll;
        width: 1px;
        min-width: 298px;
        max-width: 298px;
        min-height: 10px;
        padding: 10px 0px 10px 10px;
        height: 300px;
    }
}

@media (min-width: 320px) {
    .squares { 
        height: 60%;
    }
    .right {  
        color: rgb(255, 255, 255);
        background-color: rgb(44, 141, 86);
    }
    .wrong {
        color: rgb(255, 255, 255);
        background-color: rgb(141, 0, 5);
    }
    .tile span {
        padding: 0 .2em;
        font-size: 1.8em;
    }
}
@media (min-width: 375px) {
    body {
        font-size: 18px;
    }
    .strip div, .card {
        font-size: 1.1em;
    }
}

@media (min-width: 414px) { 
    body {
        font-size: 20px;
    }
    /* require dpi check here for iphone with x3 */
    .strip div, .card {
        font-size: 1.2em;
    }
}