@media (min-width: 768px) {

    body {
        font-size: 16px;
    }

    .card-container-padding {
        padding: .5em;
      }

    .scrollable {
        overflow-y: scroll;
        height: 70vh;
    }

    .skills-collections button {
        margin: 1em 0;
    }

    .card {
        padding: .5em;
    }

    .species-card {
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 4fr 1fr;        
    }

    .action-update button, .response-update {
        margin: 0 0 2em 0;
        left: initial;
        right: 1em;
    }

    .specimens-card-btn {
        display: none;
    }

    .grid {        
        grid-template-columns: 10fr .1em 10fr;  
    }

    .left-grid, .right-grid {
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas:"header"
                            "squares"
                            "footer"
    }

    progress {
        display: none;
    }

    .left-grid {
        grid-column: 1;
    }

    .right-grid {
        grid-column: 3;
    }

    .tiles {
        height: 100%;
    }

    .squares { 
        height: 100%;
        grid-template-rows: 1fr 1fr;
    }

    .right {  
        color: var(--snap-success);
        background-color: rgb(255, 255, 255);
    }
    
    .wrong {
        color: var(--snap-alert);
        background-color: rgb(255, 255, 255);
    }

    .strips {
        height: 100%;
    }

    .strip div {
        padding: 1em;
        font-size: 1.2em;
    }

    .flex-provider .eol, .flex-provider .gbif {
        display: block;
    }

    .flex-provider {
        display: flex;
        flex-direction: row;
      }
      
    .flex-provider.eol span {
        padding: 1.4em 0 0 1em;
      }
      
    .flex-provider.wiki {
        margin: 1.4em 0 0 0;
      }
      
    .flex-provider.wiki span {
        padding: 4em 0 0 2.4em;
      }
      
    .flex-provider.gbif {
        margin: -1.4em 0 0 0;
      }
      
    .flex-provider.dan {
        margin: -2em 0 0 0; 
      }
      
    .flex-provider.gbif span {  
        padding: 3.8em 0 0 2.4em;
      }
      
    .flex-provider.dan div {
        margin: 1em 0 0 6em;
        width: 250px;
        font-size: .9em;
    }

    .flex-provider.dan {
        display: none;
    }

    .letterbox-entry {
        height: 100%;
        border: .1em solid rgba(0,0,0,.125);
        border-radius: .25rem;
        display: flex;
        flex-direction: column;
        padding: .5em;
      }

      .letterbox-entry div {
          margin: .5em 0;
          width: 100%;
      }

      .letterbox-entry input {
          width: 75%;
          font-size: 1.5em;
          padding: .25em;
      }

      .letterbox-entry button:disabled {
        color: white;
      }

    .summary button {
        margin: 1em 0;
    }

    .flex-provider .skills {
        display: block;
    }

    iframe {
        width: 560px;
        max-width: 560px;
        border: 0;
        height: 100%;
    }    

    #externalPageModal .modal-dialog {
        max-width: 600px;
    }

    #externalPageModal .modal-content {
        height: 500px;
        width: 100%;
    }

    #externalPageModal .modal-body {
        height: 450px;
    }

    .flex-provider.skills, .species-card-wiki-entry,
    .collection-preview, .collection button, .collections-skills {
        display: inline-block;
    }

    .right-grid {
        display: grid;
    }

    /* .species-card-btn button, */
    .left-body button, .right-body button, .dropdown-menu.show { 
        width: initial;
    }

    .portrait {
        display: none;
    }

    .landscape {
        display: inline;
    }
}