* {box-sizing: border-box;}  

/* tags */

body { 
  margin: 0;
  padding: 0;
  background-color: rgb(50,50,50);
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  color: #fff;
}

h1 {
  font-size: 2em;
}

a:hover {
  text-decoration: none;
}

/* generic */

.underline-link {
  text-decoration: none;
  border: solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
}

/* home page */

.snapdragon div:nth-child(1) {
  font-size: 1.8em;
}

.snapdragon div:nth-child(2) {
  font-size: 1.2em;
  margin: 1em 0 1.5em 0;
}

/* grids */

.left-grid {
  grid-column: 2;
  grid-auto-flow: column;
}

 .left-grid, .right-grid {
  display: grid;
  grid-template-rows: 46px 456px 46px;
  background-color: rgb(50, 50, 50);
  grid-template-areas: "header"
                      "squares"
                      "footer"
}

.left-body, .rigt-body {
  background-color: rgb(50, 50, 50);
}

.grid-text-body {
  padding: 1em;
}

/* header, footer */

.header, .footer {
  display: flex;
  align-items: center;
  padding: 0 0 0 1em;
}

/* header */

.header {
  grid-area: header;
  background-color: rgb(12, 44, 84);
}

.txt-specimen-species {
  margin: 0 0 0 1em;
}

.answer {
  grid-area: five;
  padding: 10px;
  text-transform: capitalize;
  cursor: pointer;
  height: 80px;
}

.answer button {
  width: 98px;
}

/* footer */

.footer {
  grid-area: footer;
  background-color: rgb(12, 44, 84);
}

.footer button.btn.btn-light, .header button.btn.btn-light {
  float: right;
  font-size: .7rem;
  margin: .4em 1em;
  padding: .2em;
}

.rectangles {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 95px;
  grid-template-areas: "one two"
                       "three four"
                       "five six"
}

.rectangle {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 20px 1fr 0px;
  grid-template-areas: "one two three"
                       "four five six"
                       "seven eight nine";
}

.rectangles img {
  object-fit: cover;
  height: 95px;
  width: 142px;
}

.strips {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(6,76px);
  padding: 1em 0 0 2em;
}

.strip {
  font-size: 2em;
  cursor: pointer;
}

.vernacular-name {
  grid-area: five;
  padding: 5px 0 0 5px;
  font-size: 0.8em;
}

.vernacular-name p {
  height: 6px;
}

.letterbox {
  grid-area: letterbox;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 42px 200px 42px;
  grid-template-areas: "one"
                       "two"
                       "three"
}

.letterbox div:nth-child(1) {
  grid-area: one;
}

.letterbox div:nth-child(2) {
  grid-area: two;
  background-color: rgb(73, 73, 73);
  padding: 1.9em 1em;
}

.letterbox div:nth-child(3) {
  grid-area: three;
}

.letterbox span {
  margin: 10px 0 10px 5px;
  font-size: 1.4em;
  color: #fff;
  display: block;
}

.letterbox input {
  font-size: 1.4em;
  padding: .3em;
  color: white;
  background-color: rgb(50,50,50);
  border: 0;
}

.letterbox input.short {
  width: 265px;
}

.letterbox input.long {
  width: 150px;
}

.letterbox button {
  margin: 0;
  width: 260px;
}

.right, .wrong {
  padding: 1px 5px;
  display: inline-block;
}

.right {  
  background-color: rgb(255, 255, 255);
  color: rgb(44, 141, 86);
}

.wrong {
  background-color: rgb(255, 255, 255);
  color: rgb(141, 0, 5);
}

.summary button {
  margin: 0 0 1em 0px;
}

.summary div {
  display: none;
}

.js-card {
  text-align: right;
  display: grid;
}

.species-card-eol-link {
  font-size: .8em;
}

.species-card-wikipedia {
  background-color: rgb(128, 128, 128);  
  font-size: .9em;
}
.species-card-wiki a, .species-card-eol-link {
  color: rgb(180,180,180);
}

.species-card-names {
  text-transform: capitalize;
}

.family-name {
  text-transform: uppercase;
  font-size: 1.2em;
}

ul {
  margin: 0;
  padding: 10px;
  color: rgb(196, 196, 196);
}

li {
  list-style-type: none;
}

a {
  color: #ffffff;
}

.tile img {
  object-fit: cover;
  cursor: pointer;
  height: 84px;
  width: 95px;
}

.summary, .history {
  padding: 20px;
}

.capitalised {
  text-transform: capitalize;
}

button:focus {
  outline: none;
}

button:disabled {
  cursor: not-allowed;
}

button.btn-light.focus, button.btn:focus, button.btn-light:focus, .show>.btn-light.dropdown-toggle, .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0;
}

/* dropdown menus */

.dropdown-menu {
  border: 0;
}

.selected-collection, .selected-language, .selected-level {
  margin: .4em;
}

.clear-lesson button {
  float: left;
}

.collections div {
  padding: .2em;
}

.collection span:nth-of-type(2) {
  display: inline-block;
  width: 140px;  
}

.collection a, .collection .underline-link, .collection span {
  color: black;
}

.collection button {
  color: white;
  background-color: rgb(73, 73, 73);
}
/* 
.dropdown .collection button, .dropdown button, .btn.btn-light {

  font-size: 1em;
} */


.frame {
  display: grid;
  grid-template-columns: 100px auto minmax(200px, 400px) 100px;
 }
 
 .frame .image-tile {
   display: grid;
   grid-template-rows: 100px 1fr auto minmax(10px, 60px) 100px;
 }

 .term-property {
   padding: 1em;
 }
 
 .image-border img {
   background-color: #ccc;
   max-width: 400px;
 }

 /* letter blocks */

 .blocks {
  padding: 2em;
}

.block {
  display: inline-block;
  cursor: pointer;
  width: auto;
  background-color: black;
  color: white;
  margin: .1em;
  padding: .1em .2em;
  letter-spacing: .1em;
  border-radius: .2em;
  font-size: 1.1em;
}

.block.light-grey {
  color: rgb(128, 128, 128);
}

.block.green {
  color: rgb(44, 141, 86);
}

.block.red {
  color: rgb(141, 0, 5);
}

.block.white {
  color: rgb(255,255,255);
}

.blocks button {
  margin: 2em 0 0 0;
}
