@media (max-width: 767px) {

    .flex-provider.eol, .flex-provider.wiki, .flex-provider.gbif, .flex-provider.skills, .species-card-wiki-entry,
    .summary div, .collection-preview, .collection button {
        display: none;
    }

    .left-body button, .right-body button, .species-card-btn button {
        width: 100%;
    }

    .dropdown-menu.show {
        width: 98%;
    }

    .collections-skills {
        display: none;
    }

    .specimens-card-btn {
        padding: 1em;        
    }

    div.species-card-btn {
        float: initial;
        margin-right: 0;
    }

    .species-card-images {
        height: 30%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* modal */

    .modal-dialog {
        margin: 10px;
    }

    .modal-iframe  {
        margin: 0;
        padding: 0;
        border: none;
        resize: both;
        overflow-y: scroll;
        width: 1px;
        min-width: 298px;
        max-width: 298px;
        min-height: 10px;
        padding: 10px 0px 10px 10px;
        height: 300px;
    }

    .modal-content {
        width: 300px;
    }

    .modal-content, .modal-body {
        margin: 0 !important;
        padding: 0 !important;
    }

    .modal-body img {
        object-fit: cover;
        width: 298px;
        height: 298px;    
        padding: 1em;    
    }

    .modal-content button {
        width: 50px;
    }
}

@media (min-width: 320px) {
    .squares { 
        height: 80%;
    }
    .letterbox {
        grid-template-rows: 2fr 3fr 2fr;
    }
    .letterbox-entry {
        flex-direction: column;
        align-items: left;
        padding: 0em 1em;
    }
    .letterbox-entry input, .letterbox-entry input.short, .letterbox-entry input.long {
        width: 100%;
        margin: 0 0 1em 0;
    }
    .letterbox-entry span {
        margin: 1em 0 .5em 0;
    }
    .species-card-btn {
        padding: .5em 1em;
    }
    .card div, .species-card-btn {
        margin: .2em 0;
    }
}
@media (min-width: 375px) {
    .card div, .species-card-btn {
        margin: .6em 0;
    }
}