@media (min-width: 1024px) {

    .specimens-card-btn {
        display: none;
    }

    .grid {        
        grid-template-columns: 3fr 10fr 1fr 10fr 3fr;  
    }

    .left-grid, .right-grid {
        grid-template-rows: 1fr 10fr 1fr;
    }


    .left-grid {
        grid-column: 2;
    }

    .right-grid {
        grid-column: 4;
    }

    .flex-provider .eol, .flex-provider .gbif {
        display: block;
    }

    .flex-provider {
        display: flex;
        flex-direction: row;
      }
      
    .flex-provider.eol span {
        padding: 1.4em 0 0 1em;
      }
      
    .flex-provider.wiki {
        margin: 1.4em 0 0 0;
      }
      
    .flex-provider.wiki span {
        padding: 4em 0 0 2.4em;
      }
      
    .flex-provider.gbif {
        margin: -1.4em 0 0 0;
      }
      
    .flex-provider.dan {
        margin: -2em 0 0 0; 
      }
      
    .flex-provider.gbif span {  
        padding: 3.8em 0 0 2.4em;
      }
      
    .flex-provider.dan div {
        margin: 1em 0 0 6em;
        width: 250px;
        font-size: .9em;
    }

    .collections div {
        width: 480px;
        padding: .4em .2em;
    }

    .collection span:nth-of-type(1) {
        width: 265px;
    }

    /* .letterbox {
        grid-template-rows: 206px 100px 206px;
    } */

    .letterbox span {
        display: inline;
    }
  
    .letterbox input.short {
        width: 230px;
    }
    
    .letterbox input.long {
        width: 300px;
    }
    
    .letterbox button {
        margin: 0 .5em .4em 0.5em;
        width: 80px;
    }
  
    .summary button {
        margin: 1em 0;
    }

    .block {
        font-size: 1.6em;
    }

    .flex-provider .skills {
        display: block;
    }

    iframe {
        width: 560px;
        max-width: 560px;
        border: 0;
        height: 100%;
    }    

    #externalPageModal .modal-dialog {
        max-width: 600px;
    }

    #externalPageModal .modal-content {
        height: 500px;
    }

    #externalPageModal .modal-body {
        height: 450px;
    }

    #imageModal .modal-dialog {
        width: 480px;
        max-width: 480px;
    }

    .modal-body img {
        object-fit: cover;
        width: 448px;
        height: 448px;
    }
}